/* clearfix */


/* center block */


/* center vertically */


/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */


/* respo */

.internship-program__header {
    padding-top: 20px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 50px;
    margin-left: 0;
    /* Landscape phones and down */
}

@media (max-width: 767px) {
    .internship-program__header {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 20px;
        margin-left: 0;
    }
}

.internship-program__header .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.internship-program__header .logo img {
    width: 25%;
    /* Landscape phones and down */
}

@media (max-width: 767px) {
    .internship-program__header .logo img {
        width: 50%;
    }
}

.internship-program__header .back-btn {
    color: #392a26;
    font-family: "avertabold";
    /* Landscape phones and down */
}

@media (max-width: 767px) {
    .internship-program__header .back-btn {
        white-space: nowrap;
    }
}

.internship-program__wrapper .hero {
    position: relative;
    overflow: hidden;
    /* Landscape phones and down */
}

@media (max-width: 767px) {
    .internship-program__wrapper .hero {
        padding-bottom: 0;
    }
}

.internship-program__wrapper .hero::before {
    background: url(../images/go-getter-oval.png) no-repeat;
    background-size: 100%;
    left: -100px;
    top: -344px;
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
}

.internship-program__wrapper .hero__left {
    /* Landscape phones and down */
}

@media (max-width: 767px) {
    .internship-program__wrapper .hero__left {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 40px;
        margin-left: 0;
    }
}

.internship-program__wrapper .hero__left h2 {
    font-family: "avertabold";
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 60px;
    margin-left: 0;
}

.internship-program__wrapper .hero__left p {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
}

.internship-program__wrapper .hero__right figure {
    position: absolute;
    right: 200px;
    /* Landscape phones and down */
}

@media (max-width: 767px) {
    .internship-program__wrapper .hero__right figure {
        display: none;
    }
}

.internship-program__wrapper .why-work-here .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.internship-program__wrapper .why-work-here__left figure {
    width: 100%;
    height: 550px;
    /* Landscape phones and down */
}

@media (max-width: 767px) {
    .internship-program__wrapper .why-work-here__left figure {
        height: auto;
    }
}

.internship-program__wrapper .why-work-here__left figure img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    border-radius: 16px;
}

.internship-program__wrapper .why-work-here__right {
    background: #fff;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    border-radius: 16px;
    -webkit-box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.1);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.1);
    margin-left: -100px;
    /* Landscape phones and down */
}

@media (max-width: 767px) {
    .internship-program__wrapper .why-work-here__right {
        margin-left: 0;
        margin-top: 30px;
    }
}

.internship-program__wrapper .why-work-here__right .custom-badge {
    background: rgba(58, 179, 229, 0.1);
    border-radius: 30px;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 25px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
    color: #3ab3e5;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
}

.internship-program__wrapper .why-work-here__right h3 {
    color: #392a26;
    font-size: 24px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
    font-family: "avertabold";
}

.internship-program__wrapper .why-work-here__right p {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
}

.internship-program__wrapper .why-work-here__right .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* Landscape phones and down */
}

@media (max-width: 767px) {
    .internship-program__wrapper .why-work-here__right .features {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.internship-program__wrapper .why-work-here__right .features__item {
    width: 25%;
    position: relative;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 20px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
    /* Landscape phones and down */
}

@media (max-width: 767px) {
    .internship-program__wrapper .why-work-here__right .features__item {
        width: 100%;
    }
}

.internship-program__wrapper .why-work-here__right .features__item::before {
    position: absolute;
    font-size: 16px;
    content: "\f058";
    font-family: "FontAwesome";
    color: #dedede;
    left: 0;
}

.internship-program__wrapper .why-work-here__right .features__item h4 {
    color: #3ab3e5;
    font-size: 26px;
    font-family: "avertabold";
}

.internship-program__wrapper .why-work-here__right .features__item small {
    font-size: 12px;
}

.internship-program__wrapper .requirements__left {
    -webkit-box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.1607843137);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.1607843137);
    border: 1px solid rgba(57, 42, 38, 0.2);
    border-radius: 16px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    position: relative;
    /* Landscape phones and down */
}

@media (max-width: 767px) {
    .internship-program__wrapper .requirements__left {
        margin-bottom: 30px;
    }
}

.internship-program__wrapper .requirements__left::before {
    position: absolute;
    content: "";
    background: url(../images/pin@2x.png) no-repeat;
    right: -13px;
    top: -25px;
    width: 30px;
    height: 43px;
    background-size: 100%;
}

.internship-program__wrapper .requirements__left .custom-badge {
    background: #392a26;
    border-radius: 30px;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 25px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 40px;
    margin-left: 0;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
}

.internship-program__wrapper .requirements__left p {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
}

.internship-program__wrapper .requirements__left ul li {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
}

.internship-program__wrapper .requirements__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.internship-program__wrapper .requirements__right h2 {
    text-align: center;
    font-family: "avertabold";
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 60px;
    margin-left: 0;
}

.internship-program__wrapper .go-getter-testimonials h2 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 40px;
    margin-left: 0;
    text-align: center;
    font-family: "avertabold";
}

.internship-program__wrapper .go-getter-testimonials .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 280px;
    /* Landscape phones and down */
}

@media (max-width: 767px) {
    .internship-program__wrapper .go-getter-testimonials .item {
        height: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.internship-program__wrapper .go-getter-testimonials .item__logo {
    padding-top: 0;
    padding-right: 40px;
    padding-bottom: 0;
    padding-left: 40px;
    position: relative;
}

.internship-program__wrapper .go-getter-testimonials .item__logo .placeholder {
    position: relative;
    display: block;
}

.internship-program__wrapper .go-getter-testimonials .item__logo .placeholder::before {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 99;
    border-radius: 8px;
}

.internship-program__wrapper .go-getter-testimonials .item__logo .placeholder img {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-radius: 8px;
}

.internship-program__wrapper .go-getter-testimonials .item__logo .icon {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    top: 40%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: 99;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px;
}

.internship-program__wrapper .go-getter-testimonials .slick-center {
    -webkit-transform: scale(1.2);
    -khtml-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.internship-program__wrapper .go-getter-testimonials__item-link:hover img {
    opacity: 0.4;
}

.internship-program__wrapper .go-getter-testimonials .slick-prev,
.internship-program__wrapper .go-getter-testimonials .slick-next {
<<<<<<< HEAD
  bottom: -10px;
  top: inherit;
  width: 95%;
  /* Landscape phones and down */
}
@media (max-width: 767px) {
  .internship-program__wrapper .go-getter-testimonials .slick-prev,
.internship-program__wrapper .go-getter-testimonials .slick-next {
    bottom: -30px;
  }
=======
    bottom: -10px;
    top: inherit;
    width: 95%;
>>>>>>> 7e305691e294136384e331320df8723dabbad0b8
}

.internship-program__wrapper .go-getter-testimonials .slick-arrow::before {
    color: #392030;
    font-family: "avertabold";
    font-size: 40px;
}