/* clearfix */
/* center block */
/* center vertically */
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/* respo */
.investor-relation-wrap .investor-relation-hero-wrap {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 80px;
  margin-right: 0;
  margin-bottom: 100px;
  margin-left: 0;
  height: 500px;
  background: url(../images/investor-relation-thumb.png) no-repeat;
  background-size: cover;
  /* Landscape phones and down */
  /* Landscape phones and down */
}
@media (max-width: 767px) {
  .investor-relation-wrap .investor-relation-hero-wrap {
    height: auto;
    padding-top: 50px;
    padding-right: 0;
    padding-bottom: 50px;
    padding-left: 0;
    margin-top: 55px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .investor-relation-wrap .investor-relation-hero-wrap {
    height: auto;
  }
}
.investor-relation-wrap .investor-relation-hero-wrap figcaption {
  color: #3ab3e5;
  height: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /* Landscape phones and down */
}
@media (max-width: 767px) {
  .investor-relation-wrap .investor-relation-hero-wrap figcaption {
    height: auto;
  }
}
.investor-relation-wrap .investor-relation-hero-wrap figcaption h1 {
  font-family: "avertablack";
  color: #fff;
  font-size: 40px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  text-transform: uppercase;
}
.investor-relation-wrap .investor-relation-hero-wrap figcaption h2 {
  font-family: "avertablack";
  font-size: 40px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  color: #3ab3e5;
  border-bottom: 5px solid #f9e200;
  text-transform: uppercase;
}
.investor-relation-wrap .investor-relation-hero-wrap figcaption p {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
  font-size: 20px;
  color: #fff;
}
.investor-relation-wrap .investor-relation-hero-wrap figcaption .sweep-btn-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.investor-relation-wrap .investor-relation-hero-wrap figcaption .sweep-btn-center img {
  width: 35px;
}
.investor-relation-wrap .breadcrumb {
  padding-top: 100px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;
}
.investor-relation-wrap .breadcrumb .breadcrumb-item {
  color: #392a26;
  font-family: "avertabold";
}
.investor-relation-wrap .breadcrumb .breadcrumb-item a {
  color: #392a26;
  font-family: "avertabold";
}
.investor-relation-wrap .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  color: #392a26;
}
.investor-relation-wrap .title-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
  /* Landscape phones and down */
}
@media (max-width: 767px) {
  .investor-relation-wrap .title-head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.investor-relation-wrap .title-head h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-family: "avertabold";
  color: #3ab3e5;
  /* Landscape phones and down */
}
@media (max-width: 767px) {
  .investor-relation-wrap .title-head h2 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
    text-align: center;
  }
}
.investor-relation-wrap .title-head .custom-dropdown-list {
  position: relative;
}
.investor-relation-wrap .title-head .custom-dropdown-list::before {
  content: "\f0c9";
  font-family: "FontAwesome";
  position: absolute;
  font-size: 20px;
  top: 8px;
  left: 14px;
  z-index: 11;
}
.investor-relation-wrap .title-head .custom-dropdown-list .nice-select {
  text-align: center !important;
  color: #3ab3e5;
}
.investor-relation-wrap .report-card-lg {
  height: calc(100% - 150px);
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.investor-relation-wrap .report-card-lg__figure-holder {
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}
.investor-relation-wrap .report-card-lg__figure-holder img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.investor-relation-wrap .report-card-lg__caption {
  height: 150px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  width: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.investor-relation-wrap .report-card-lg__caption h3 {
  font-family: "avertabold";
  font-size: 18px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 15px;
  margin-left: 0;
}
.investor-relation-wrap .report-card-lg__caption .btm-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0;
  padding-right: 50px;
  padding-bottom: 0;
  padding-left: 0;
}
.investor-relation-wrap .report-card-lg__caption .btm-row p {
  margin-top: 0;
  margin-right: 35px;
  margin-bottom: 0;
  margin-left: 0;
  font-size: 14px;
}
.investor-relation-wrap .report-card-lg__caption .btm-row .button-text {
  font-size: 14px;
}
.investor-relation-wrap .report-card {
  background: #f3f7fd;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* Landscape phones and down */
}
@media (max-width: 767px) {
  .investor-relation-wrap .report-card {
    height: auto;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
  }
}
.investor-relation-wrap .report-card__figure-holder {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 20%;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 0;
}
.investor-relation-wrap .report-card__figure-holder img {
  width: 100%;
}
.investor-relation-wrap .report-card figcaption {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 80%;
}
.investor-relation-wrap .report-card__title {
  color: #3ab3e5;
  font-size: 16px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  display: inline-block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.investor-relation-wrap .report-card__date {
  color: #392a26;
  font-size: 13px;
}
.investor-relation-wrap .report-card:hover {
  background: #3ab3e5;
}
.investor-relation-wrap .report-card:hover .report-card__title {
  color: #fff;
}
.investor-relation-wrap .view-all-btn {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 2px solid #392a26;
  /* Landscape phones and down */
}
@media (max-width: 767px) {
  .investor-relation-wrap .view-all-btn {
    height: 70px;
  }
}
.investor-relation-wrap .view-all-btn .btn-text {
  color: #392a26;
  font-size: 18px;
  text-transform: capitalize;
  font-family: "avertabold";
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.investor-relation-wrap .view-all-btn .btn-arrow i {
  font-size: 20px;
}
.investor-relation-wrap .view-all-btn:hover {
  background: #392a26;
}
.investor-relation-wrap .view-all-btn:hover .btn-text {
  color: #fff;
  margin-top: 0;
  margin-right: 40px;
  margin-bottom: 0;
  margin-left: 0;
}
.investor-relation-wrap .view-all-btn:hover .btn-arrow {
  color: #fff;
}
.investor-relation-wrap .filter-row {
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
  /* Landscape phones and down */
}
@media (max-width: 767px) {
  .investor-relation-wrap .filter-row {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
  }
}
.investor-relation-wrap .filter-row .custom-dropdown-list {
  /* Landscape phones and down */
  /* Landscape phones and down */
}
@media (max-width: 767px) {
  .investor-relation-wrap .filter-row .custom-dropdown-list {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .investor-relation-wrap .filter-row .custom-dropdown-list {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
  }
}
.investor-relation-wrap .filter-row h4 {
  color: #392a26;
  font-size: 18px;
  font-family: "avertabold";
  /* Landscape phones and down */
}
@media (max-width: 767px) {
  .investor-relation-wrap .filter-row h4 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
  }
}
.investor-relation-wrap .custom-tabs .nav-tabs {
  border-bottom: 1px solid #000;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  /* Landscape phones and down */
}
@media (max-width: 767px) {
  .investor-relation-wrap .custom-tabs .nav-tabs {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 50px;
    white-space: nowrap;
    overflow: auto;
  }
}
.investor-relation-wrap .custom-tabs .nav-tabs .nav-link {
  border-radius: 0;
  border: 0;
  font-size: 20px;
  border: 0;
  border-right: 2px solid #392a26;
  margin-bottom: 20px;
  position: relative;
  padding: 0;
  text-transform: capitalize;
  text-align: left;
  width: 15%;
  color: #000;
  /* Landscape phones and down */
}
@media (max-width: 767px) {
  .investor-relation-wrap .custom-tabs .nav-tabs .nav-link {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 30px;
    padding-right: 30px;
  }
  .investor-relation-wrap .custom-tabs .nav-tabs .nav-link br {
    display: none;
  }
}
.investor-relation-wrap .custom-tabs .nav-tabs .nav-link::before {
  height: 5px;
  background: #3ab3e5;
  content: "";
  position: absolute;
  bottom: -20px;
  width: 0;
  left: 0;
}
.investor-relation-wrap .custom-tabs .nav-tabs .nav-link:last-child {
  border-right: 0;
}
.investor-relation-wrap .custom-tabs .nav-tabs .nav-link.active {
  font-family: "avertabold";
}
.investor-relation-wrap .custom-tabs .nav-tabs .nav-link.active::before {
  width: 100%;
}
.investor-relation-wrap .newsletter-wrap {
  margin-bottom: 120px;
}
.investor-relation-wrap .newsletter-wrap h3 {
  margin-bottom: 20px;
  font-size: 22px;
}
.investor-relation-wrap .newsletter-wrap p {
  font-size: 16px;
  margin-bottom: 20px;
}
.investor-relation-wrap .newsletter-wrap .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  /* Landscape phones and down */
}
@media (max-width: 767px) {
  .investor-relation-wrap .newsletter-wrap .input-group {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.investor-relation-wrap .newsletter-wrap .input-group .input-wrapper {
  width: 300px;
  border-radius: 4px;
  border: 1px solid #3ab3e5;
  height: 50px;
  padding: 0 10px;
  color: #392a26;
  font-size: 16px;
  margin-right: 15px;
  /* Landscape phones and down */
}
@media (max-width: 767px) {
  .investor-relation-wrap .newsletter-wrap .input-group .input-wrapper {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.investor-relation-wrap .newsletter-wrap .input-group button {
  background: #392a26;
  height: 50px;
  padding: 0 10px;
  color: #fff;
  border-radius: 4px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Landscape phones and down */
}
@media (max-width: 767px) {
  .investor-relation-wrap .newsletter-wrap .input-group button {
    width: 100%;
  }
}
.investor-relation-wrap .newsletter-wrap label {
  font-size: 11px;
  margin-left: 10px;
  display: block;
}
.investor-relation-wrap .contact-info h3 {
  margin-bottom: 20px;
  font-size: 22px;
}
.investor-relation-wrap .contact-info p {
  font-size: 16px;
  margin-bottom: 20px;
}
.investor-relation-wrap .contact-info span {
  font-size: 16px;
  display: block;
  color: #3ab3e5;
}
.investor-relation-wrap .faqs {
  padding: 0;
  background: none;
}
.investor-relation-wrap .faqs h3 {
  margin-bottom: 20px;
  font-size: 22px;
}
.investor-relation-wrap .faqs #faq-accordion {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 70px;
  margin-left: 0;
}
.investor-relation-wrap .faqs #faq-accordion .card {
  border: 0 !important;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  background: rgba(58, 179, 229, 0.2);
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 20px;
  border-radius: 5px;
  /* Landscape phones and down */
  /* Landscape phones and down */
}
@media (max-width: 767px) {
  .investor-relation-wrap .faqs #faq-accordion .card {
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .investor-relation-wrap .faqs #faq-accordion .card {
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
  }
}
.investor-relation-wrap .faqs #faq-accordion .card-header {
  background: none !important;
  border-bottom: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
.investor-relation-wrap .faqs #faq-accordion .card-header h5 {
  font-size: 16px;
  color: #666;
  padding-top: 0;
  padding-right: 45px;
  padding-bottom: 0;
  padding-left: 0;
  position: relative;
  cursor: pointer;
}
.investor-relation-wrap .faqs #faq-accordion .card-header h5:before {
  font-family: FontAwesome;
  content: "\f106";
  position: absolute;
  right: 0;
  border-radius: 50%;
  height: 36px;
  line-height: 36px;
  width: 36px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: -10px;
  background: none;
  color: #392a26;
  font-size: 30px;
}
.investor-relation-wrap .faqs #faq-accordion .card-header h5.collapsed:before {
  content: "\f107";
}
.investor-relation-wrap .faqs #faq-accordion .card-header h5:hover {
  text-decoration: none;
  color: #3ab3e5;
}
.investor-relation-wrap .faqs #faq-accordion .card-header h5:hover:before {
  background: #3ab3e5;
  color: #fff;
}
.investor-relation-wrap .faqs #faq-accordion .card-header h5:focus {
  text-decoration: none;
}
.investor-relation-wrap .faqs #faq-accordion .card-body {
  padding-top: 40px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 30px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border-top: 1px solid #dedede;
}
.investor-relation-wrap .faqs #faq-accordion .card-body p {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  color: #666;
  font-size: 18px;
}
.investor-relation-wrap #investor-relation-accordion .card {
  border: 0 !important;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  background: #fff;
  overflow: inherit;
}
.investor-relation-wrap #investor-relation-accordion .card-header {
  background: none !important;
  border-bottom: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
.investor-relation-wrap #investor-relation-accordion .card-header h5 {
  font-size: 20px;
  color: #392a26;
  font-family: "avertabold";
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 50px;
  position: relative;
  cursor: pointer;
}
.investor-relation-wrap #investor-relation-accordion .card-header h5:before {
  font-family: FontAwesome;
  content: "\f106";
  position: absolute;
  left: 0;
  font-size: 18px;
  top: -8px;
  border-radius: 50%;
  height: 36px;
  line-height: 36px;
  width: 36px;
  text-align: center;
  background: #392a26;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.investor-relation-wrap #investor-relation-accordion .card-header h5.collapsed:before {
  content: "\f107";
}
.investor-relation-wrap #investor-relation-accordion .card-header h5:hover {
  text-decoration: none;
  color: #3ab3e5;
}
.investor-relation-wrap #investor-relation-accordion .card-header h5:hover:before {
  background: #3ab3e5;
  color: #fff;
}
.investor-relation-wrap #investor-relation-accordion .card-header h5:focus {
  text-decoration: none;
}
.investor-relation-wrap #investor-relation-accordion .card-body {
  padding: 50px 0 0 0;
}

.mslcontainer {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-left: auto;
  padding: 10px;
  margin-right: auto;
  background: #f3f7fd;
  width: 100%;
}

.mslcontainer #msl-ir-ticker span {
  white-space: nowrap;
  color: #392030;
  font-weight: bold;
  font-size: 14pt;
}

.mslcontainer #msl-ir-ticker .msl-ir-ticker-label {
  font-weight: inherit;
  color: #3ab3e5;
  font-size: 14px;
}

.mslcontainer #msl-ir-ticker .msl-ir-ticker-value {
  font-weight: bold;
  color: inherit;
}

.mslcontainer #msl-ir-ticker #msl-ir-ticker-security #msl-ir-ticker-name {
  font-weight: bold;
  color: #392030;
}

.mslcontainer #msl-ir-ticker #msl-ir-ticker-security #msl-ir-ticker-code {
  font-weight: bold;
  color: #392030;
}

.mslcontainer #msl-ir-ticker #msl-ir-ticker-security #msl-ir-ticker-time {
  font-weight: inherit;
  color: #999;
}

.container #msl-ir-container #chartDiv dropDown,
.container #msl-ir-container #chartDiv dropDownSel {
  vertical-align: none;
}

.container #msl-ir-container #chartDiv #nameTbl {
  background-color: #392030 !important;
  border: solid 1px #392030 !important;
}

.container #msl-ir-container #chartDiv a.dropDown {
  color: #392030 !important;
}

.container #msl-ir-container #chartDiv a.dropDownSel {
  color: #fff;
}

.container #msl-ir-container #chartDiv #stkName {
  color: #fff !important;
}

.container #msl-ir-container #chartDiv #rtTime {
  color: #ccc !important;
}

.container #msl-ir-container #chartDiv #rtPrice {
  color: #fff !important;
}

.container #msl-ir-container #chartDiv #quoteDiv {
  background: #f3f7fd;
  border: none;
}

.container #msl-ir-container #chartDiv #msl-ir-tabs div.mTabs li {
  font-size: 12pt;
}

.container #msl-ir-container #chartDiv #msl-ir-tabs div.mTabs li a b b {
  color: #392030;
  background-color: #e3e3e3;
}

.container #msl-ir-container #chartDiv #msl-ir-tabs div.mTabs li.selected a b b {
  color: #fff;
}

.container #msl-ir-container #chartDiv #tabChart #graphHeader {
  font-size: 12pt;
}