/* clearfix */
/* center block */
/* center vertically */
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/* respo */
.mortgage-calc-wrap .back-btn {
  color: #392a26;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mortgage-calc-wrap .mortgage-calc .left-content {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
.mortgage-calc-wrap .mortgage-calc .left-content .range-slider .value {
  font-size: 32px;
  color: #3ab3e5;
  font-family: "avertabold";
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  position: relative;
  border-radius: 5px;
}
.mortgage-calc-wrap .mortgage-calc .left-content .range-slider .value::before {
  content: "KES.";
  font-size: 13px;
  color: #392a26;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
}
.mortgage-calc-wrap .mortgage-calc .left-content .range-slider h5 {
  font-size: 18px;
  font-family: "avertabold";
  color: #3c2a26;
}
.mortgage-calc-wrap .mortgage-calc .left-content .range-slider label {
  font-size: 12px;
  color: #c4c4c4;
}
.mortgage-calc-wrap .mortgage-calc .left-content .form-group {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
}
.mortgage-calc-wrap .mortgage-calc .left-content .form-group label {
  font-size: 14px;
  color: #392a26;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}
.mortgage-calc-wrap .mortgage-calc .left-content .form-group .input-wrap {
  background: #fff;
  border-radius: 5px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0;
  padding-right: 16px;
  padding-bottom: 0;
  padding-left: 16px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1) !important;
}
.mortgage-calc-wrap .mortgage-calc .left-content .form-group .input-wrap .form-control {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  padding: 0;
}
.mortgage-calc-wrap .mortgage-calc .left-content .form-group .input-wrap .form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 0;
}
.mortgage-calc-wrap .mortgage-calc .right-content .est-monthly-payment {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 30px;
}
.mortgage-calc-wrap .mortgage-calc .right-content .est-monthly-payment h2 {
  font-family: "avertablack";
  font-size: 48px;
}
.mortgage-calc-wrap .mortgage-calc .right-content .est-monthly-payment h3 {
  font-family: "avertablack";
  color: #3ab3e5;
  font-size: 36px;
}
.mortgage-calc-wrap .mortgage-calc .right-content .est-monthly-payment label {
  font-size: 12px;
  display: block;
}
.mortgage-calc-wrap .mortgage-calc-content h2 {
  font-family: "avertabold";
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  font-size: 32px;
}
.mortgage-calc-wrap .mortgage-calc-content p {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  font-size: 16px;
}
.mortgage-calc-wrap .mortgage-calc-content ul li {
  position: relative;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 20px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  font-size: 16px;
}
.mortgage-calc-wrap .mortgage-calc-content ul li:before {
  content: "";
  width: 7px;
  height: 7px;
  position: absolute;
  left: 0;
  background: #3ab3e5;
  border-radius: 50%;
  top: 7px;
}
.mortgage-calc-wrap .mortgage-calc-content .equation-wrap {
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  border-radius: 10px;
}
.mortgage-calc-wrap .mortgage-calc-content .equation-wrap h4 {
  font-family: "avertabold";
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  font-size: 18px;
}
.mortgage-calc-wrap .calc-card {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 450px;
  border: 1px solid #dedede;
  /* Landscape phones and down */
}
@media (max-width: 767px) {
  .mortgage-calc-wrap .calc-card {
    height: auto;
  }
}
.mortgage-calc-wrap .calc-card .icon-wrap {
  width: 100px;
  height: 100px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  border-radius: 50%;
  background: #3ab3e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mortgage-calc-wrap .calc-card .icon-wrap svg {
  fill: #fff;
  height: 40px;
  width: 40px;
}
.mortgage-calc-wrap .calc-card h3 {
  color: #392a26;
  font-family: "avertabold";
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  font-size: 28px;
}
.mortgage-calc-wrap .calc-card p {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  font-size: 20px;
}
.mortgage-calc-wrap .calc-card .button-wrap {
  margin-top: auto;
}