/* clearfix */
/* center block */
/* center vertically */
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/* respo */ /* premier content   */
.premier-content .heading-wrap {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
  text-align: center;
}
.premier-content .heading-wrap__title {
  font-family: "avertabold";
  font-size: 33px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 70px;
  margin-left: 0;
  position: relative;
  /* Landscape phones and down */
}
@media (max-width: 767px) {
  .premier-content .heading-wrap__title {
    margin-top: 80px;
    margin-right: 0;
    margin-bottom: 75px;
    margin-left: 0;
    font-size: 22px;
  }
}
.premier-content .heading-wrap__title:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 6px;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -khtml-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 10px;
}
.premier-content .heading-wrap__content {
  font-size: 16px;
  padding-top: 0;
  padding-right: 50px;
  padding-bottom: 0;
  padding-left: 50px;
}
.premier-content .heading-wrap.white .heading-wrap__title {
  color: #fff;
}
.premier-content .heading-wrap.white .heading-wrap__title:before {
  background: #fff;
}
.premier-content .heading-wrap.white .heading-wrap__content {
  color: #fff;
}
.premier-content .heading-wrap.brown .heading-wrap__title {
  color: #392a26;
}
.premier-content .heading-wrap.brown .heading-wrap__title:before {
  background: #392a26;
}
.premier-content .heading-wrap.brown .heading-wrap__content {
  color: #392a26;
}
.premier-content .heading-wrap.primary .heading-wrap__title {
  color: #3ab3e5;
}
.premier-content .heading-wrap.primary .heading-wrap__title:before {
  background: #3ab3e5;
}
.premier-content .heading-wrap.primary .heading-wrap__content {
  color: #3ab3e5;
}
.premier-content .premier-hero-wrap {
  background: #392a26;
}
.premier-content .premier-hero-wrap img {
  width: 100%;
}
.premier-content .welcome-note .heading-wrap__content {
  color: #392030 !important;
}

/* premier landing tab   */
.premier-landing-tab {
  background: #392a26;
  padding-top: 100px;
  padding-right: 0;
  padding-bottom: 100px;
  padding-left: 0;
  /* accordion  */
}
.premier-landing-tab .nav-tabs {
  background: #392a26;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 40px;
  margin-left: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.premier-landing-tab .nav-tabs .nav-link {
  text-transform: capitalize;
  color: #392a26;
  font-size: 16px;
  border: 0;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  border-radius: 5px;
  color: #fff;
}
.premier-landing-tab .nav-tabs .nav-link.active {
  border: 0;
  border-radius: 5;
  background: #3ab3e5;
  position: relative;
  color: #fff;
}
.premier-landing-tab .nav-tabs .nav-link:hover {
  border: 0;
  background: #fff;
  color: #392a26;
}
.premier-landing-tab .nav-tabs .nav-item__icon {
  display: block;
  background: url(../images/premier-banking-icons-sprite.png) no-repeat;
  margin: 0 auto 5px;
  background-size: 490px 260px;
}
.premier-landing-tab .nav-tabs .nav-item--icon-01 {
  width: 59px;
  height: 61px;
  background-position: -288px -10px;
}
.premier-landing-tab .nav-tabs .nav-item--icon-02 {
  width: 59px;
  height: 61px;
  background-position: -360px -10px;
}
.premier-landing-tab #premier-accordion {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  background: none;
}
.premier-landing-tab #premier-accordion .card {
  border: 0 !important;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 15px;
  margin-left: 0;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}
.premier-landing-tab #premier-accordion .card-header {
  border-bottom: 0;
}
.premier-landing-tab #premier-accordion .card-header h5 {
  font-size: 16px;
  color: #fff;
  font-family: "avertabold";
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 10px;
  position: relative;
  cursor: pointer;
}
.premier-landing-tab #premier-accordion .card-header h5:before {
  font-family: FontAwesome;
  content: "\f106";
  position: absolute;
  right: 0;
  font-size: 18px;
  top: 12px;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.premier-landing-tab #premier-accordion .card-header h5.collapsed:before {
  content: "\f107";
}
.premier-landing-tab #premier-accordion .card-header h5:hover {
  text-decoration: none;
  color: #3ab3e5;
}
.premier-landing-tab #premier-accordion .card-header h5:hover:before {
  color: #3ab3e5;
}
.premier-landing-tab #premier-accordion .card-header h5:focus {
  text-decoration: none;
}
.premier-landing-tab #premier-accordion .card-body {
  font-size: 16px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 80px;
  color: #fff;
  position: relative;
}
.premier-landing-tab .nav-link {
  position: relative;
}
.premier-landing-tab .nav-link__icon {
  width: 81px;
  height: 81px;
  border-radius: 50%;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  display: block;
  position: absolute;
  background: #fff url(../images/premier-banking-icons-sprite.png) no-repeat;
  background-size: 490px 260px;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 3px solid #392a26;
}
.premier-landing-tab .nav-link--icon-01 {
  background-position: 5px -61px;
}
.premier-landing-tab .nav-link--icon-02 {
  background-position: -59px -64px;
}
.premier-landing-tab .nav-link--icon-03 {
  background-position: -140px -68px;
}
.premier-landing-tab .nav-link--icon-04 {
  background-position: -214px -65px;
}

.banking-offers .item {
  position: relative;
  border-radius: 8px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 500px;
  overflow: hidden;
}
.banking-offers .item figure {
  border-radius: 8px;
  position: relative;
}
.banking-offers .item figure img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.banking-offers .item figcaption {
  position: absolute;
  bottom: 0;
  height: 300px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgb(58, 179, 229)));
  background: -o-linear-gradient(top, transparent, rgb(58, 179, 229) 100%);
  background: linear-gradient(to bottom, transparent, rgb(58, 179, 229) 100%);
}
.banking-offers .item figcaption h3 {
  color: #fff;
  font-family: "avertabold";
  font-size: 24px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}
.banking-offers .item figcaption p {
  color: #fff;
  font-size: 16px;
}

.economic-report .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.economic-report .item figure {
  border-radius: 5px;
  height: 100px;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 0;
  overflow: hidden;
}
.economic-report .item figure img {
  width: 100%;
  border-radius: 5px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1);
  -khtml-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.economic-report .item figcaption {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.economic-report .item figcaption a {
  color: #3ab3e5;
  font-family: "avertabold";
  font-size: 16px;
}
.economic-report .item figcaption p {
  color: #392030;
  font-size: 15px;
}
.economic-report .item:hover {
  -webkit-box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-5px);
  -khtml-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}

.premier-partnerships {
  background: #392a26;
  padding-top: 100px;
  padding-right: 0;
  padding-bottom: 100px;
  padding-left: 0;
}
.premier-partnerships .item {
  background: rgba(255, 255, 255, 0.1);
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-left: 30px;
  border-radius: 10px;
}
.premier-partnerships .item__content-row .logo-holder {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  height: 150px;
}
.premier-partnerships .item__content-row .logo-holder img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}
.premier-partnerships .item__content-row .inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.premier-partnerships .item__content-row .inner.border {
  border: 0 !important;
  border-left: 1px solid rgba(255, 255, 255, 0.1) !important;
  border-right: 1px solid rgba(255, 255, 255, 0.1) !important;
  padding-top: 0;
  padding-right: 30px;
  padding-bottom: 0;
  padding-left: 30px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: -20px;
}
.premier-partnerships .item__content-row .inner h4 {
  color: #fff;
  font-size: 18px;
  font-family: "avertabold";
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}
.premier-partnerships .item__content-row .inner p {
  color: #fff;
  font-size: 14px;
}

.investor-relation-wrap .investor-relation-hero-wrap {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 80px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  height: 540px;
  /* Landscape phones and down */
  /* Landscape phones and down */
}
@media (max-width: 767px) {
  .investor-relation-wrap .investor-relation-hero-wrap {
    height: auto;
    padding-top: 50px;
    padding-right: 0;
    padding-bottom: 50px;
    padding-left: 0;
    margin-top: 55px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .investor-relation-wrap .investor-relation-hero-wrap {
    height: auto;
  }
}
.investor-relation-wrap .investor-relation-hero-wrap figcaption {
  color: #3ab3e5;
  height: 540px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /* Landscape phones and down */
}
@media (max-width: 767px) {
  .investor-relation-wrap .investor-relation-hero-wrap figcaption {
    height: auto;
  }
}
.investor-relation-wrap .investor-relation-hero-wrap figcaption h1 {
  font-family: "avertablack";
  font-size: 40px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
}
.investor-relation-wrap .investor-relation-hero-wrap figcaption p {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
  font-size: 20px;
}
.investor-relation-wrap .investor-relation-hero-wrap figure {
  height: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Landscape phones and down */
  /* Landscape phones and down */
}
@media (max-width: 767px) {
  .investor-relation-wrap .investor-relation-hero-wrap figure {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .investor-relation-wrap .investor-relation-hero-wrap figure {
    display: none;
  }
}
.investor-relation-wrap .breadcrumb {
  padding-top: 100px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;
}
.investor-relation-wrap .breadcrumb .breadcrumb-item {
  color: #392a26;
  font-family: "avertabold";
}
.investor-relation-wrap .breadcrumb .breadcrumb-item a {
  color: #392a26;
  font-family: "avertabold";
}
.investor-relation-wrap .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  color: #392a26;
}
.investor-relation-wrap .title-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
  /* Landscape phones and down */
}
@media (max-width: 767px) {
  .investor-relation-wrap .title-head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.investor-relation-wrap .title-head h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-family: "avertabold";
  /* Landscape phones and down */
}
@media (max-width: 767px) {
  .investor-relation-wrap .title-head h2 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
    text-align: center;
  }
}
.investor-relation-wrap .title-head .custom-dropdown-list {
  position: relative;
}
.investor-relation-wrap .title-head .custom-dropdown-list::before {
  content: "\f0c9";
  font-family: "FontAwesome";
  position: absolute;
  font-size: 20px;
  top: 8px;
  left: 14px;
  z-index: 11;
}
.investor-relation-wrap .title-head .custom-dropdown-list .nice-select {
  text-align: center !important;
  color: #3ab3e5;
}
.investor-relation-wrap .report-card {
  background: #f3f7fd;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* Landscape phones and down */
}
@media (max-width: 767px) {
  .investor-relation-wrap .report-card {
    height: auto;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
  }
}
.investor-relation-wrap .report-card__figure-holder {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 35%;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 0;
}
.investor-relation-wrap .report-card__figure-holder img {
  width: 100%;
}
.investor-relation-wrap .report-card__title {
  color: #3ab3e5;
  font-size: 16px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  display: inline-block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.investor-relation-wrap .report-card__date {
  color: #392a26;
  font-size: 13px;
}
.investor-relation-wrap .report-card:hover {
  background: #3ab3e5;
}
.investor-relation-wrap .report-card:hover .report-card__title {
  color: #fff;
}

.feature-report .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feature-report figure {
  height: 500px;
}
.feature-report figure img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 8px;
}
.feature-report .content {
  background: #3ab3e5;
  border-radius: 8px;
  color: #fff;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  margin-left: -100px;
}
.feature-report .content h2 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  font-family: "avertabold";
  color: #fff;
}
.feature-report .content p {
  font-size: 13px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}
.feature-report .content .button__cta {
  color: #fff;
}

.premier-visa-cards {
  background: #3ab3e5;
  padding-top: 100px;
  padding-right: 0;
  padding-bottom: 100px;
  padding-left: 0;
}
.premier-visa-cards .item__figure-holder {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
}
.premier-visa-cards .item__title {
  color: #fff;
  font-size: 22px;
  font-family: "avertabold";
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
}
.premier-visa-cards .video-wrap {
  border-radius: 8px;
  background: #392a26;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 0;
  padding-left: 5px;
}