/* clearfix */
/* center block */
/* center vertically */
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/* respo */
.unsubscrption-wrapper {
  padding-top: 50px;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-left: 100px;
  margin-top: 150px;
  margin-right: 0;
  margin-bottom: 100px;
  margin-left: 0;
  background: #392030;
  border-radius: 10px;
  text-align: center;
  color: #fff;
}
.unsubscrption-wrapper h2 {
  color: #fff;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 40px;
  margin-left: 0;
  font-family: "avertabold";
}
.unsubscrption-wrapper img {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 40px;
  margin-left: 0;
  width: 15%;
}
.unsubscrption-wrapper span {
  font-size: 30px;
  display: block;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 40px;
  margin-left: 0;
}
.unsubscrption-wrapper p {
  text-align: center;
  font-size: 20px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 40px;
  margin-left: 0;
}
.unsubscrption-wrapper p a {
  color: #f9e200;
  text-decoration: underline;
}