@import "partials/variables", "partials/mixins", "partials/layout";

.internship-program {
  &__header {
    @include padding(20px, 0, 20px, 0);
    @include margin(0, 0, 50px, 0);

    @include breakpoint(sm) {
      @include margin(0, 0, 20px, 0);
    }

    .content {
      display: flex;
      justify-content: space-between;
    }
    .logo {
      img {
        width: 25%;

        @include breakpoint(sm) {
          width: 50%;
        }
      }
    }
    .back-btn {
      color: $dark-brown-color;
      font-family: $font-secondary-en;

      @include breakpoint(sm) {
        white-space: nowrap;
      }
    }
  }
  &__wrapper {
    .hero {
      position: relative;
      overflow: hidden;
      padding-bottom: 150px;

      @include breakpoint(sm) {
        padding-bottom: 0;
      }

      &::before {
        background: url(../images/go-getter-oval.png) no-repeat;
        background-size: 100%;
        left: -100px;
        top: -344px;
        content: "";
        position: absolute;
        width: 600px;
        height: 600px;
      }
      &__left {
        @include breakpoint(sm) {
          @include margin(0, 0, 40px, 0);
        }

        h2 {
          font-family: $font-secondary-en;
          @include margin(0, 0, 60px, 0);
        }
        p {
          @include margin(0, 0, 20px, 0);
        }
      }
      &__right {
        figure {
          position: absolute;
          right: 200px;
          @include breakpoint(sm) {
            display: none;
          }
        }
      }
    }
    .why-work-here {
      .row {
        align-items: center;
      }
      &__left {
        figure {
          width: 100%;
          height: 550px;

          @include breakpoint(sm) {
            height: auto;
          }

          img {
            height: 100%;
            object-fit: cover;
            width: 100%;
            @include border-radius(16px);
          }
        }
      }
      &__right {
        background: $white-color;
        @include padding(40px, 40px, 20px, 40px);
        border-radius: 16px;
        box-shadow: -50px 50px 50px rgba($black-color, 0.1);
        margin-left: -100px;

        @include breakpoint(sm) {
          margin-left: 0;
          margin-top: 30px;
        }

        .custom-badge {
          background: rgba($brand-color, 0.1);
          @include border-radius(30px);
          @include padding(10px, 25px, 10px, 25px);
          @include margin(0, 0, 20px, 0);
          color: $brand-color;
          display: inline-block;
          font-size: 12px;
          text-transform: uppercase;
        }

        h3 {
          color: $dark-brown-color;
          font-size: 24px;
          @include margin(0, 0, 30px, 0);
          font-family: $font-secondary-en;
        }
        p {
          @include margin(0, 0, 30px, 0);
        }
        .features {
          display: flex;
          flex-wrap: wrap;

          @include breakpoint(sm) {
            flex-wrap: nowrap;
            flex-direction: column;
          }

          &__item {
            width: 25%;
            position: relative;
            @include padding(0, 0, 0, 20px);
            @include margin(0, 0, 20px, 0);

            @include breakpoint(sm) {
              width: 100%;
            }

            &::before {
              position: absolute;
              font-size: 16px;
              content: "\f058";
              font-family: "FontAwesome";
              color: $light-grey-color;
              left: 0;
            }
            h4 {
              color: $brand-color;
              font-size: 20px;
              font-family: $font-secondary-en;
            }
            small {
              font-size: 12px;
            }
          }
        }
      }
    }

    .requirements {
      &__left {
        box-shadow: -50px 50px 50px #00000029;
        border: 1px solid #392a2633;
        @include border-radius(16px);
        @include padding(40px, 40px, 40px, 40px);
        position: relative;

        @include breakpoint(sm) {
          margin-bottom: 30px;
        }
        &::before {
          position: absolute;
          content: "";
          background: url(../images/pin@2x.png) no-repeat;
          right: -13px;
          top: -25px;
          width: 30px;
          height: 43px;
          background-size: 100%;
        }
        .custom-badge {
          background: $dark-brown-color;
          @include border-radius(30px);
          @include padding(10px, 25px, 10px, 25px);
          @include margin(0, 0, 40px, 0);
          color: $white-color;
          display: inline-block;
          font-size: 12px;
          text-transform: uppercase;
        }
        p {
          @include margin(0, 0, 20px, 0);
        }
        ul {
          li {
            @include margin(0, 0, 10px, 0);
          }
        }
      }
      &__right {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex-direction: column;
        h2 {
          text-align: center;
          font-family: $font-secondary-en;
          @include margin(0, 0, 60px, 0);
        }
      }
    }

    .go-getter-testimonials {
      h2 {
        @include margin(0, 0, 40px, 0);
        text-align: center;
        font-family: $font-secondary-en;
      }
      .item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 280px;
        @include breakpoint(sm) {
          height: auto;
          flex-direction: column;
        }
        &__logo {
          @include padding(0, 40px, 0, 40px);
          position: relative;
          .placeholder {
            position: relative;
            display: block;
            &::before {
              position: absolute;
              background: rgba($black-color, 0.4);
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              content: "";
              z-index: 99;
              @include border-radius(8px);
            }
            img {
              // filter: grayscale(100%);
              @include transition(all 0.5s ease);
              @include border-radius(8px);
            }
          }
          .icon {
            position: absolute;
            display: block;
            width: 40px;
            height: 40px;
            top: 40%;
            left: 50%;
            transform: translateX(-50%);
            @include border-radius(50%);
            z-index: 99;
            background: $white-color;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
          }
        }
      }

      .slick-center {
        @include transform(scale(1.2));
        @include transition(all 0.5s ease);
        // img {
        //   filter: grayscale(0);
        // }
      }

      &__item-link {
        &:hover {
          img {
            opacity: 0.4;
          }
        }
      }
      .slick-prev,
      .slick-next {
        bottom: -10px;
        top: inherit;
        width: 95%;
        @include breakpoint(sm) {
          bottom: -30px;
        }
      }
      .slick-arrow {
        &::before {
          color: $dark-grey-color;
          font-family: $font-secondary-en;
          font-size: 40px;
        }
      }
    }
  }
}
