@import "partials/variables", "partials/mixins", "partials/layout";

.investor-relation-wrap {
  .investor-relation-hero-wrap {
    @include padding(0, 0, 0, 0);
    @include margin(80px, 0, 100px, 0);
    height: 500px;
    background: url(../images/investor-relation-thumb.png) no-repeat;
    background-size: cover;

    @include breakpoint(sm) {
      height: auto;
      @include padding(50px, 0, 50px, 0);
      @include margin(55px, 0, 0, 0);
    }
    @include breakpoint(md) {
      height: auto;
    }

    figcaption {
      color: $brand-color;
      height: 500px;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      @include breakpoint(sm) {
        height: auto;
      }

      h1 {
        font-family: $font-avertablack-en;
        color: $white-color;
        font-size: 40px;
        @include margin(0, 0, 10px, 0);
        text-transform: uppercase;
      }
      h2 {
        font-family: $font-avertablack-en;
        font-size: 40px;
        @include margin(0, 0, 20px, 0);
        color: $brand-color;
        border-bottom: 5px solid $brand-second-color;
        text-transform: uppercase;
      }

      p {
        @include margin(0, 0, 50px, 0);
        font-size: 20px;
        color: $white-color;
      }
      .sweep-btn-center {
        display: flex;
        align-items: center;
        img {
          width: 35px;
        }
      }
    }
  }
  .breadcrumb {
    @include padding(100px, 0, 20px, 0);
    .breadcrumb-item {
      color: $dark-brown-color;
      font-family: $font-secondary-en;
      a {
        color: $dark-brown-color;
        font-family: $font-secondary-en;
      }
    }
    .breadcrumb-item + .breadcrumb-item::before {
      content: ">";
      color: $dark-brown-color;
    }
  }
  .title-head {
    display: flex;
    justify-content: space-between;
    @include margin(0, 0, 50px, 0);

    @include breakpoint(sm) {
      flex-direction: column;
    }

    h2 {
      font-size: 24px;
      text-transform: uppercase;
      font-family: $font-secondary-en;
      color: $brand-color;

      @include breakpoint(sm) {
        @include margin(0, 0, 20px, 0);
        text-align: center;
      }
    }

    .custom-dropdown-list {
      position: relative;
      &::before {
        content: "\f0c9";
        font-family: "FontAwesome";
        position: absolute;
        font-size: 20px;
        top: 8px;
        left: 14px;
        z-index: 11;
      }
      .nice-select {
        text-align: center !important;
        color: $brand-color;
      }
    }
  }

  .report-card-lg {
    height: calc(100% - 150px);
    position: relative;
    @include border-radius(8px);
    overflow: hidden;

    &__figure-holder {
      height: 100%;
      @include border-radius(8px);
      overflow: hidden;
      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }
    &__caption {
      height: 150px;
      background: rgba(0, 0, 0, 0.4);
      position: absolute;
      bottom: 0;
      @include padding(20px, 20px, 20px, 20px);
      width: 100%;
      color: $white-color;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        font-family: $font-secondary-en;
        font-size: 18px;
        @include margin(0, 0, 15px, 0);
      }
      .btm-row {
        display: flex;
        @include padding(0, 50px, 0, 0);
        p {
          @include margin(0, 35px, 0, 0);
          font-size: 14px;
        }
        .button-text {
          font-size: 14px;
        }
      }
    }
  }
  .report-card {
    background: $light-blue-color;
    @include padding(20px, 20px, 20px, 20px);
    @include margin(0, 0, 30px, 0);
    height: 140px;
    display: flex;
    align-items: center;
    @include border-radius(10px);
    @include transition(all 0.5s ease);

    @include breakpoint(sm) {
      height: auto;
      @include margin(0, 0, 20px, 0);
    }

    &__figure-holder {
      flex-grow: 1;
      width: 20%;
      @include margin(0, 20px, 0, 0);
      img {
        width: 100%;
      }
    }
    figcaption {
      flex-grow: 1;
      width: 80%;
    }
    &__title {
      color: $brand-color;
      font-size: 16px;
      @include margin(0, 0, 10px, 0);
      display: inline-block;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    &__date {
      color: $dark-brown-color;
      font-size: 13px;
    }
    &:hover {
      background: $brand-color;
      .report-card__title {
        color: $white-color;
      }
    }
  }
  .view-all-btn {
    @include padding(20px, 20px, 20px, 20px);
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include border-radius(10px);
    @include transition(all 0.5s ease);
    border: 2px solid $dark-brown-color;

    @include breakpoint(sm) {
      height: 70px;
    }

    .btn-text {
      color: $dark-brown-color;
      font-size: 18px;
      text-transform: capitalize;
      font-family: $font-secondary-en;
      @include margin(0, 20px, 0, 0);
      @include transition(all 0.5s ease);
    }
    .btn-arrow {
      i {
        font-size: 20px;
      }
    }
    &:hover {
      background: $dark-brown-color;
      .btn-text {
        color: $white-color;
        @include margin(0, 40px, 0, 0);
      }
      .btn-arrow {
        color: $white-color;
      }
    }
  }
  .filter-row {
    @include padding(50px, 50px, 50px, 50px);
    @include margin(0, 0, 50px, 0);

    @include breakpoint(sm) {
      @include padding(20px, 20px, 20px, 20px);
      @include margin(0, 0, 30px, 0);
    }
    .custom-dropdown-list {
      @include breakpoint(sm) {
        @include margin(0, 0, 10px, 0);
      }
      @include breakpoint(md) {
        @include margin(0, 0, 20px, 0);
      }
    }

    h4 {
      color: $dark-brown-color;
      font-size: 18px;
      font-family: $font-secondary-en;
      @include breakpoint(sm) {
        @include margin(0, 0, 30px, 0);
      }
    }
  }

  .custom-tabs {
    .nav-tabs {
      border-bottom: 1px solid $black-color;
      justify-content: space-between;
      margin-bottom: 50px;

      @include breakpoint(sm) {
        flex-wrap: nowrap;
        margin-top: 50px;
        white-space: nowrap;
        overflow: auto;
      }

      // button {
      //   padding: 2px 20px !important;
      // }
      .nav-link {
        border-radius: 0;
        border: 0;
        font-size: 20px;
        border: 0;
        border-right: 2px solid $dark-brown-color;
        margin-bottom: 20px;
        position: relative;
        padding: 0;
        text-transform: capitalize;
        text-align: left;
        width: 15%;
        color: $black-color;

        @include breakpoint(sm) {
          width: 100%;
          margin-bottom: 20px;
          margin-right: 30px;
          padding-right: 30px;

          br {
            display: none;
          }
        }

        // margin-left: 20px;
        // padding-right: 20px;

        &::before {
          height: 5px;
          background: $brand-color;
          content: "";
          position: absolute;
          bottom: -20px;
          width: 0;
          left: 0;
        }

        &:last-child {
          border-right: 0;
        }

        &.active {
          font-family: $font-secondary-en;
          &::before {
            width: 100%;

            // @include breakpoint(sm) {
            //   width: 60%;
            // }
          }
        }
      }
    }
  }

  .newsletter-wrap {
    margin-bottom: 120px;
    h3 {
      margin-bottom: 20px;
      font-size: 22px;
    }
    p {
      font-size: 16px;
      margin-bottom: 20px;
    }
    .input-group {
      display: flex;
      margin-bottom: 10px;

      @include breakpoint(sm) {
        flex-wrap: wrap;
      }

      .input-wrapper {
        width: 300px;
        border-radius: 4px;
        border: 1px solid $brand-color;
        height: 50px;
        padding: 0 10px;
        color: $dark-brown-color;
        font-size: 16px;
        margin-right: 15px;

        @include breakpoint(sm) {
          width: 100%;
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
      button {
        background: $dark-brown-color;
        height: 50px;
        padding: 0 10px;
        color: $white-color;
        border-radius: 4px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include breakpoint(sm) {
          width: 100%;
        }
      }
    }
    label {
      font-size: 11px;
      margin-left: 10px;
      display: block;
    }
  }

  .contact-info {
    h3 {
      margin-bottom: 20px;
      font-size: 22px;
    }
    p {
      font-size: 16px;
      margin-bottom: 20px;
    }

    span {
      font-size: 16px;
      display: block;
      color: $brand-color;
    }
  }

  .faqs {
    padding: 0;
    background: none;
    h3 {
      margin-bottom: 20px;
      font-size: 22px;
    }

    #faq-accordion {
      @include margin(0, 0, 70px, 0);
      .card {
        border: 0 !important;
        @include margin(0, 0, 20px, 0);

        background: rgba($brand-color, 0.2);
        box-shadow: none;
        padding: 20px;
        border-radius: 5px;

        @include breakpoint(sm) {
          @include padding(25px, 25px, 25px, 25px);
        }
        @include breakpoint(md) {
          @include padding(25px, 25px, 25px, 25px);
        }
      }
      .card-header {
        background: none !important;
        border-bottom: 0;
        @include padding(0, 0, 0, 0);

        h5 {
          font-size: 16px;
          color: $dark-grey-color-shade;
          @include padding(0, 45px, 0, 0);
          position: relative;
          cursor: pointer;

          &:before {
            font-family: FontAwesome;
            content: "\f106";
            position: absolute;
            right: 0;
            border-radius: 50%;
            height: 36px;
            line-height: 36px;
            width: 36px;
            text-align: center;
            @include transition(all 0.5s ease);

            top: -10px;
            background: none;
            color: $dark-brown-color;
            font-size: 30px;
          }

          &.collapsed {
            &:before {
              content: "\f107";
            }
          }

          &:hover {
            text-decoration: none;
            color: $brand-color;
            &:before {
              background: $brand-color;
              color: $white-color;
            }
          }
          &:focus {
            text-decoration: none;
          }
        }
      }
      .card-body {
        @include padding(40px, 0, 0, 0);
        @include margin(30px, 0, 0, 0);
        border-top: 1px solid $light-grey-color;

        p {
          @include margin(0, 0, 0, 0);
          color: $dark-grey-color-shade;
          font-size: 18px;
        }
        li {
        }
      }
    }

    // #faq-accordion {
    //   .card {
    //     background: rgba($brand-color, 0.2);
    //     box-shadow: none;
    //     padding: 20px;
    //     border-radius: 5px;
    //     .card-header h5 {
    //       font-size: 16px;
    //       &::before {
    //         top: -10px;
    //         background: none;
    //         color: $dark-brown-color;
    //         font-size: 30px;
    //       }
    //     }
    //   }
    // }
  }

  #investor-relation-accordion {
    .card {
      border: 0 !important;
      @include margin(0, 0, 30px, 0);
      background: $white-color;
      overflow: inherit;
    }
    .card-header {
      background: none !important;
      border-bottom: 0;
      @include padding(0, 0, 0, 0);

      h5 {
        font-size: 20px;
        color: $dark-brown-color;
        font-family: $font-secondary-en;
        @include padding(0, 0, 0, 50px);
        position: relative;
        cursor: pointer;

        &:before {
          font-family: FontAwesome;
          content: "\f106";
          position: absolute;
          left: 0;
          font-size: 18px;
          top: -8px;
          border-radius: 50%;
          height: 36px;
          line-height: 36px;
          width: 36px;
          text-align: center;
          background: $dark-brown-color;
          color: $white-color;
          @include transition(all 0.5s ease);
        }

        &.collapsed {
          &:before {
            content: "\f107";
          }
        }

        &:hover {
          text-decoration: none;
          color: $brand-color;
          &:before {
            background: $brand-color;
            color: $white-color;
          }
        }
        &:focus {
          text-decoration: none;
        }
      }
    }
    .card-body {
      padding: 50px 0 0 0;
    }
  }
}

.mslcontainer {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-left: auto;
  padding: 10px;
  margin-right: auto;
  background: #f3f7fd;
  width: 100%;
}
.mslcontainer #msl-ir-ticker span {
  white-space: nowrap;
  color: #392030;
  font-weight: bold;
  font-size: 14pt;
}
.mslcontainer #msl-ir-ticker .msl-ir-ticker-label {
  font-weight: inherit;
  color: #3ab3e5;
  font-size: 14px;
}
.mslcontainer #msl-ir-ticker .msl-ir-ticker-value {
  font-weight: bold;
  color: inherit;
}
.mslcontainer #msl-ir-ticker #msl-ir-ticker-security #msl-ir-ticker-name {
  font-weight: bold;
  color: #392030;
}
.mslcontainer #msl-ir-ticker #msl-ir-ticker-security #msl-ir-ticker-code {
  font-weight: bold;
  color: #392030;
}
.mslcontainer #msl-ir-ticker #msl-ir-ticker-security #msl-ir-ticker-time {
  font-weight: inherit;
  color: #999;
}

.container #msl-ir-container #chartDiv dropDown,
.container #msl-ir-container #chartDiv dropDownSel {
  vertical-align: none;
}
.container #msl-ir-container #chartDiv #nameTbl {
  background-color: #392030 !important;
  border: solid 1px #392030 !important;
}
.container #msl-ir-container #chartDiv a.dropDown {
  color: #392030 !important;
}
.container #msl-ir-container #chartDiv a.dropDownSel {
  color: #fff;
}
.container #msl-ir-container #chartDiv #stkName {
  color: #fff !important;
}
.container #msl-ir-container #chartDiv #rtTime {
  color: #ccc !important;
}
.container #msl-ir-container #chartDiv #rtPrice {
  color: #fff !important;
}
.container #msl-ir-container #chartDiv #quoteDiv {
  background: #f3f7fd;
  border: none;
}
.container #msl-ir-container #chartDiv #msl-ir-tabs div.mTabs li {
  font-size: 12pt;
}
.container #msl-ir-container #chartDiv #msl-ir-tabs div.mTabs li a b b {
  color: #392030;
  background-color: #e3e3e3;
}
.container
  #msl-ir-container
  #chartDiv
  #msl-ir-tabs
  div.mTabs
  li.selected
  a
  b
  b {
  color: #fff;
}
.container #msl-ir-container #chartDiv #tabChart #graphHeader {
  font-size: 12pt;
}
