@import "partials/variables", "partials/mixins", "partials/layout";

.mortgage-calc-wrap {
  .back-btn {
    color: $dark-brown-color;
    @include margin(0, 0, 30px, 0);
    display: flex;
    align-items: center;
  }
  .mortgage-calc {
    .left-content {
      @include padding(0, 0, 0, 0);

      .range-slider {
        .value {
          font-size: 32px;
          color: $brand-color;
          font-family: $font-secondary-en;
          @include margin(0, 0, 10px, 0);
          @include padding(10px, 10px, 10px, 10px);
          position: relative;
          @include border-radius(5px);
          &::before {
            content: "KES.";
            font-size: 13px;
            color: $dark-brown-color;
            @include margin(0, 10px, 0, 0);
          }
        }
        h5 {
          font-size: 18px;
          font-family: $font-secondary-en;
          color: #3c2a26;
        }
        label {
          font-size: 12px;
          color: #c4c4c4;
        }
      }

      .form-group {
        @include margin(0, 0, 30px, 0);
        label {
          font-size: 14px;
          color: $dark-brown-color;
          @include margin(0, 0, 10px, 0);
        }
        .input-wrap {
          background: $white-color;
          border-radius: 5px;
          height: 48px;
          display: flex;
          align-items: center;
          @include padding(0, 16px, 0, 16px);
          box-shadow: 0 1px 5px 0 rgb(0 0 0 / 10%) !important;
          .form-control {
            box-shadow: none !important;
            padding: 0;
            &:focus {
              box-shadow: none !important;
              border: 0;
            }
          }
        }
      }
    }
    .right-content {
      .est-monthly-payment {
        @include card-shadow;
        padding: 30px;
        background: $white-color;
        @include border-radius(8px);
        margin-bottom: 30px;
        h2 {
          font-family: $font-avertablack-en;
          font-size: 48px;
        }
        h3 {
          font-family: $font-avertablack-en;
          color: $brand-color;
          font-size: 36px;
        }
        label {
          font-size: 12px;
          display: block;
        }
      }
    }
  }
  .mortgage-calc-content {
    h2 {
      font-family: $font-secondary-en;
      @include margin(0, 0, 20px, 0);
      font-size: 32px;
    }
    p {
      @include margin(0, 0, 20px, 0);
      font-size: 16px;
    }
    ul {
      li {
        position: relative;
        @include padding(0, 0, 0, 20px);
        @include margin(0, 0, 20px, 0);
        font-size: 16px;
        &:before {
          content: "";
          width: 7px;
          height: 7px;
          position: absolute;
          left: 0;
          background: $brand-color;
          @include border-radius(50%);
          top: 7px;
        }
      }
    }
    .equation-wrap {
      @include padding(40px, 40px, 40px, 40px);
      @include margin(0, 0, 30px, 0);
      @include border-radius(10px);
      h4 {
        font-family: $font-secondary-en;
        @include margin(0, 0, 30px, 0);
        font-size: 18px;
      }
    }
  }
  .calc-card {
    @include margin(0, 0, 30px, 0);
    @include padding(30px, 30px, 50px, 30px);
    @include border-radius(10px);
    @include transition(all 0.5s ease);
    display: flex;
    flex-direction: column;
    height: 450px;
    border: 1px solid $light-grey-color;
    @include breakpoint(sm) {
      height: auto;
    }
    .icon-wrap {
      width: 100px;
      height: 100px;
      @include margin(0, 0, 30px, 0);
      @include border-radius(50%);
      background: $brand-color;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        fill: $white-color;
        height: 40px;
        width: 40px;
      }
    }
    h3 {
      color: $dark-brown-color;
      font-family: $font-secondary-en;
      @include margin(0, 0, 20px, 0);
      font-size: 28px;
    }
    p {
      @include margin(0, 0, 20px, 0);
      font-size: 20px;
    }
    .button-wrap {
      margin-top: auto;
    }

    // &:hover {
    //   background: $brand-color;
    //   box-shadow: 0px 7px 16px #00000029;
    // }
  }
}

// .mortgage-calc-wrap {
//   .back-btn {
//     color: $dark-brown-color;
//     @include margin(0, 0, 30px, 0);
//     display: flex;
//     align-items: center;
//   }
//   .mortgage-calc {
//     .left-content {
//       border-right: 1px solid $light-grey-color;
//       @include padding(0, 30px, 0, 0);

//       .range-slider {
//         .value {
//           font-size: 22px;
//           color: $dark-brown-color;
//           font-family: $font-secondary-en;
//           @include margin(0, 0, 40px, 0);
//           @include padding(10px, 10px, 10px, 10px);
//           position: relative;
//           background: $white-color;
//           @include border-radius(5px);
//           &::before {
//             content: "KES";
//             font-size: 14px;
//             color: $light-grey-color;
//             @include margin(0, 10px, 0, 0);
//           }
//         }
//       }

//       .form-group {
//         @include margin(0, 0, 30px, 0);
//         label {
//           font-size: 14px;
//           color: $dark-brown-color;
//           @include margin(0, 0, 10px, 0);
//         }
//         .input-wrap {
//           background: $white-color;
//           border-radius: 5px;
//           height: 48px;
//           display: flex;
//           align-items: center;
//           @include padding(0, 16px, 0, 16px);
//           .left {
//             small {
//               color: $light-grey-color;
//             }
//             .text-bold {
//               color: $dark-brown-color;
//               font-size: 18px;
//               font-family: $font-secondary-en;
//             }
//           }
//           .right {
//             border-left: 1px solid $light-grey-color;
//             @include padding(0, 10px, 0, 10px);
//             margin-left: auto;
//             .text-prcnt {
//               color: $light-grey-color;
//             }
//             .text-bold {
//               color: $dark-brown-color;
//               font-size: 18px;
//               font-family: $font-secondary-en;
//             }
//           }
//         }
//       }
//     }

//     .right-content {
//       .est-monthly-payment {
//         border-right: 1px solid $light-grey-color;
//         @include padding(0, 30px, 0, 0);
//         .range-slider {
//           label {
//             font-size: 14px;
//             color: $dark-brown-color;
//             @include margin(0, 0, 20px, 0);
//           }
//           .value {
//             font-size: 50px;
//             color: $brand-color;
//             font-family: $font-secondary-en;
//             @include margin(0, 0, 40px, 0);
//             position: relative;
//             &::before {
//               content: "KES";
//               font-size: 50px;
//               color: $brand-color;
//               @include margin(0, 10px, 0, 0);
//             }
//           }
//         }
//       }

//       .payment-breakdown-wrap {
//         h5 {
//           border-bottom: 1px solid $light-grey-color;
//           font-size: 18px;
//           @include margin(0, 0, 20px, 0);
//           @include padding(0, 0, 20px, 0);
//         }
//         h3 {
//           font-size: 15px;
//           font-family: $font-secondary-en;
//           text-decoration: underline;
//           @include margin(0, 0, 20px, 0);
//         }
//         .legends {
//           @include margin(0, 0, 20px, 0);
//           &__item {
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//             position: relative;
//             @include margin(0, 0, 10px, 0);
//             @include padding(0, 0, 0, 30px);

//             &::before {
//               @include border-radius(50%);
//               position: absolute;
//               left: 0;
//               content: "";
//               width: 20px;
//               height: 20px;
//             }

//             .text {
//               color: $dark-grey-color;
//               font-size: 15px;
//             }
//             .value {
//               background: #f9f9f9;
//               max-width: 135px;
//               @include padding(5px, 10px, 5px, 10px);
//               @include border-radius(5px);
//               font-size: 13px;
//               font-family: $font-secondary-en;
//             }
//           }
//           &--item-1 {
//             &::before {
//               background: #00abc8;
//             }
//           }
//           &--item-2 {
//             &::before {
//               background: #00f94b;
//             }
//           }
//           &--item-3 {
//             &::before {
//               background: #7400f9;
//             }
//           }
//           &--item-4 {
//             &::before {
//               background: #f900f1;
//             }
//           }
//         }
//         p {
//           text-align: right;
//           font-size: 15px;
//           font-family: $font-secondary-en;
//         }
//       }
//     }
//   }
//   .mortgage-calc-content {
//     h2 {
//       font-family: $font-secondary-en;
//       @include margin(0, 0, 20px, 0);
//       font-size: 32px;
//     }
//     p {
//       @include margin(0, 0, 20px, 0);
//       font-size: 16px;
//     }
//     ul {
//       li {
//         position: relative;
//         @include padding(0, 0, 0, 20px);
//         @include margin(0, 0, 20px, 0);
//         font-size: 16px;
//         &:before {
//           content: "";
//           width: 7px;
//           height: 7px;
//           position: absolute;
//           left: 0;
//           background: $brand-color;
//           @include border-radius(50%);
//           top: 7px;
//         }
//       }
//     }
//     .equation-wrap {
//       @include padding(40px, 40px, 40px, 40px);
//       @include margin(0, 0, 30px, 0);
//       @include border-radius(10px);
//       h4 {
//         font-family: $font-secondary-en;
//         @include margin(0, 0, 30px, 0);
//         font-size: 18px;
//       }
//     }
//   }
// }
