@import "partials/variables", "partials/mixins", "partials/layout";

/* premier content   */
.premier-content {
  .heading-wrap {
    @include margin(0, 0, 50px, 0);
    text-align: center;

    &__title {
      font-family: $font-secondary-en;
      font-size: 33px;
      @include margin(0, 0, 70px, 0);
      position: relative;

      @include breakpoint(sm) {
        @include margin(80px, 0, 75px, 0);
        font-size: 22px;
      }
      &:before {
        content: "";
        position: absolute;
        width: 110px;
        height: 6px;
        bottom: -30px;
        left: 50%;
        @include transform(translateX(-50%));
        @include border-radius(10px);
      }
    }

    &__content {
      font-size: 16px;
      @include padding(0, 50px, 0, 50px);
    }

    &.white {
      .heading-wrap__title {
        color: $white-color;
        &:before {
          background: $white-color;
        }
      }
      .heading-wrap__content {
        color: $white-color;
      }
    }
    &.brown {
      .heading-wrap__title {
        color: $dark-brown-color;
        &:before {
          background: $dark-brown-color;
        }
      }
      .heading-wrap__content {
        color: $dark-brown-color;
      }
    }
    &.primary {
      .heading-wrap__title {
        color: $brand-color;
        &:before {
          background: $brand-color;
        }
      }
      .heading-wrap__content {
        color: $brand-color;
      }
    }
  }

  .premier-hero-wrap {
    background: $dark-brown-color;
    img {
      width: 100%;
    }
  }
  .welcome-note {
    .heading-wrap__content {
      color: $dark-grey-color !important;
    }
  }
}

/* premier landing tab   */
.premier-landing-tab {
  background: $dark-brown-color;
  @include padding(100px, 0, 100px, 0);

  .nav-tabs {
    background: $dark-brown-color;
    @include border-radius(8px);
    border: 1px solid rgba($white-color, 0.1);
    @include padding(15px, 15px, 15px, 15px);
    @include margin(0, 0, 40px, 0);
    display: inline-flex;

    .nav-link {
      text-transform: capitalize;
      color: $dark-brown-color;
      font-size: 16px;
      border: 0;
      @include padding(10px, 30px, 10px, 30px);
      @include border-radius(5px);
      color: $white-color;

      &.active {
        border: 0;
        @include border-radius(5);
        background: $brand-color;
        position: relative;
        color: $white-color;
      }
      &:hover {
        border: 0;
        background: $white-color;
        color: $dark-brown-color;
      }
    }

    .nav-item {
      &__icon {
        display: block;
        background: url(../images/premier-banking-icons-sprite.png) no-repeat;
        margin: 0 auto 5px;
        background-size: 490px 260px;
      }
      &--icon-01 {
        width: 59px;
        height: 61px;
        background-position: -288px -10px;
      }
      &--icon-02 {
        width: 59px;
        height: 61px;
        background-position: -360px -10px;
      }
    }
  }

  /* accordion  */
  #premier-accordion {
    @include padding(0, 0, 0, 0);
    background: none;

    .card {
      border: 0 !important;
      @include margin(0, 0, 15px, 0);
      background: rgba($white-color, 0.1);
      @include border-radius(5px);
    }
    .card-header {
      border-bottom: 0;

      h5 {
        font-size: 16px;
        color: $white-color;
        font-family: $font-secondary-en;
        @include padding(10px, 0, 10px, 10px);
        position: relative;
        cursor: pointer;

        &:before {
          font-family: FontAwesome;
          content: "\f106";
          position: absolute;
          right: 0;
          font-size: 18px;
          top: 12px;
          color: $white-color;
          @include transition(all 0.5s ease);
        }
        &.collapsed {
          &:before {
            content: "\f107";
          }
        }
        &:hover {
          text-decoration: none;
          color: $brand-color;
          &:before {
            color: $brand-color;
          }
        }
        &:focus {
          text-decoration: none;
        }
      }
    }
    .card-body {
      font-size: 16px;
      @include padding(30px, 30px, 30px, 80px);
      color: $white-color;
      position: relative;
    }
  }

  .nav-link {
    position: relative;
    &__icon {
      width: 81px;
      height: 81px;
      border-radius: 50%;
      padding-top: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      display: block;
      position: absolute;
      background: #fff url(../images/premier-banking-icons-sprite.png) no-repeat;
      background-size: 490px 260px;
      left: -40px;
      top: 50%;
      transform: translateY(-50%);
      border: 3px solid $dark-brown-color;
    }
    &--icon-01 {
      background-position: 5px -61px;
    }
    &--icon-02 {
      background-position: -59px -64px;
    }

    &--icon-03 {
      background-position: -140px -68px;
    }

    &--icon-04 {
      background-position: -214px -65px;
    }
  }
}

.banking-offers {
  .item {
    position: relative;
    @include border-radius(8px);
    @include transition(all 0.5s ease);
    height: 500px;
    overflow: hidden;
    figure {
      @include border-radius(8px);
      position: relative;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
    figcaption {
      position: absolute;
      bottom: 0;
      height: 300px;
      @include padding(40px, 40px, 40px, 40px);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      background: -moz-linear-gradient(
        top,
        transparent,
        rgba(58, 179, 229, 1) 100%
      );
      background: -webkit-linear-gradient(
        top,
        transparent,
        rgba(58, 179, 229, 1) 100%
      );
      background: linear-gradient(
        to bottom,
        transparent,
        rgba(58, 179, 229, 1) 100%
      );

      h3 {
        color: $white-color;
        font-family: $font-secondary-en;
        font-size: 24px;
        @include margin(0, 0, 20px, 0);
      }
      p {
        color: $white-color;
        font-size: 16px;
      }
    }
  }
}

.economic-report {
  .item {
    display: flex;
    @include margin(0, 0, 20px, 0);
    @include padding(20px, 20px, 20px, 20px);
    @include border-radius(5px);
    @include transition(all 0.5s ease);

    figure {
      @include border-radius(5px);
      height: 100px;
      @include margin(0, 20px, 0, 0);
      overflow: hidden;

      img {
        width: 100%;
        @include border-radius(5px);
        height: 100%;
        object-fit: cover;
        @include transform(scale(1));
      }
    }
    figcaption {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      flex-direction: column;
      a {
        color: $brand-color;
        font-family: $font-secondary-en;
        font-size: 16px;
      }
      p {
        color: $dark-grey-color;
        font-size: 15px;
      }
    }
    &:hover {
      @include card-hover-shadow;
      @include transform(translateY(-5px));
    }
  }
}

.premier-partnerships {
  background: $dark-brown-color;
  @include padding(100px, 0, 100px, 0);

  .item {
    background: rgba($white-color, 0.1);
    @include padding(40px, 30px, 40px, 30px);
    @include border-radius(10px);

    &__content-row {
      .logo-holder {
        @include padding(30px, 30px, 30px, 30px);
        height: 150px;
        img {
          object-fit: contain;
          height: 100%;
          width: 100%;
        }
      }
      .inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &.border {
          border: 0 !important;
          border-left: 1px solid rgba($white-color, 0.1) !important;
          border-right: 1px solid rgba($white-color, 0.1) !important;
          @include padding(0, 30px, 0, 30px);
          @include margin(0, 0, 0, -20px);
        }
        h4 {
          color: $white-color;
          font-size: 18px;
          font-family: $font-secondary-en;
          @include margin(0, 0, 20px, 0);
        }
        p {
          color: $white-color;
          font-size: 14px;
        }
      }
    }
  }
}

.investor-relation-wrap {
  .investor-relation-hero-wrap {
    @include padding(0, 0, 0, 0);
    @include margin(80px, 0, 0, 0);
    height: 540px;

    @include breakpoint(sm) {
      height: auto;
      @include padding(50px, 0, 50px, 0);
      @include margin(55px, 0, 0, 0);
    }
    @include breakpoint(md) {
      height: auto;
    }

    figcaption {
      color: $brand-color;
      height: 540px;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      @include breakpoint(sm) {
        height: auto;
      }

      h1 {
        font-family: $font-avertablack-en;
        font-size: 40px;
        @include margin(0, 0, 50px, 0);
      }
      p {
        @include margin(0, 0, 50px, 0);
        font-size: 20px;
      }
    }
    figure {
      height: 540px;
      display: flex;
      align-items: center;

      @include breakpoint(sm) {
        display: none;
      }
      @include breakpoint(md) {
        display: none;
      }
    }
  }
  .breadcrumb {
    @include padding(100px, 0, 20px, 0);
    .breadcrumb-item {
      color: $dark-brown-color;
      font-family: $font-secondary-en;
      a {
        color: $dark-brown-color;
        font-family: $font-secondary-en;
      }
    }
    .breadcrumb-item + .breadcrumb-item::before {
      content: ">";
      color: $dark-brown-color;
    }
  }
  .title-head {
    display: flex;
    justify-content: space-between;
    @include margin(0, 0, 50px, 0);

    @include breakpoint(sm) {
      flex-direction: column;
    }

    h2 {
      font-size: 24px;
      text-transform: uppercase;
      font-family: $font-secondary-en;

      @include breakpoint(sm) {
        @include margin(0, 0, 20px, 0);
        text-align: center;
      }
    }

    .custom-dropdown-list {
      position: relative;
      &::before {
        content: "\f0c9";
        font-family: "FontAwesome";
        position: absolute;
        font-size: 20px;
        top: 8px;
        left: 14px;
        z-index: 11;
      }
      .nice-select {
        text-align: center !important;
        color: $brand-color;
      }
    }
  }

  .report-card {
    background: $light-blue-color;
    @include padding(20px, 20px, 20px, 20px);
    @include margin(0, 0, 30px, 0);
    height: 140px;
    display: flex;
    align-items: center;
    @include border-radius(10px);
    @include transition(all 0.5s ease);

    @include breakpoint(sm) {
      height: auto;
      @include margin(0, 0, 20px, 0);
    }

    &__figure-holder {
      flex-grow: 1;
      width: 35%;
      @include margin(0, 20px, 0, 0);
      img {
        width: 100%;
      }
    }
    &__title {
      color: $brand-color;
      font-size: 16px;
      @include margin(0, 0, 10px, 0);
      display: inline-block;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    &__date {
      color: $dark-brown-color;
      font-size: 13px;
    }
    &:hover {
      background: $brand-color;
      .report-card__title {
        color: $white-color;
      }
    }
  }
}

.feature-report {
  .row {
    align-items: center;
  }
  figure {
    height: 500px;
    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
      @include border-radius(8px);
    }
  }
  .content {
    background: $brand-color;
    @include border-radius(8px);
    color: $white-color;
    @include padding(50px, 50px, 50px, 50px);
    margin-left: -100px;
    h2 {
      @include margin(0, 0, 20px, 0);
      font-family: $font-secondary-en;
      color: $white-color;
    }
    p {
      font-size: 13px;
      @include margin(0, 0, 20px, 0);
    }
    .button__cta {
      color: $white-color;
    }
  }
}

.premier-visa-cards {
  background: $brand-color;
  @include padding(100px, 0, 100px, 0);
  .item {
    &__figure-holder {
      @include margin(0, 0, 30px, 0);
    }
    &__title {
      color: $white-color;
      font-size: 22px;
      font-family: $font-secondary-en;
      @include margin(0, 0, 30px, 0);
    }
  }
  .video-wrap {
    @include border-radius(8px);
    background: $dark-brown-color;
    @include padding(5px, 5px, 0, 5px);
  }
}
