@import "vendor/bootstrap-4.0/bootstrap", "vendor/slick-carousel/slick",
  "vendor/slick-carousel/slick-theme", "vendor/OwlCarousel2-2.2.1/owl.carousel",
  "vendor/OwlCarousel2-2.2.1/owl.theme.default",
  "vendor/font-awesome-4.7.0/font-awesome";

@import "base/reset", "base/typography";

@import "partials/variables", "partials/mixins", "partials/layout";

@import "layout/footer", "layout/header";

@import "pages/blog", "pages/credit-card", "pages/asset-finance",
  "pages/product-page", "pages/citizenship", "pages/checking-account",
  "pages/branches", "pages/insurance", "pages/group-banking", "pages/savings",
  "pages/platinum-banking", "pages/premier-banking", "pages/teaser",
  "pages/corporate-banking", "pages/management-bod", "pages/investment",
  "pages/iwd", "pages/search-property", "pages/video-catalogue",
  "pages/tariff-products", "pages/linktree-instagram", "pages/ncba-property",
  "pages/go-cvp-landing", "pages/calendar";

@import "components/ui-elements";
body {
  font-family: $font-primary-en;
}
h1,
h2,
h3 {
  font-family: $font-primary-en;
}
.wow {
  visibility: hidden;
}

a[href^="tel"] {
  text-decoration: inherit;
  color: inherit;
}

section {
  @include margin(0, 0, 105px, 0);

  @include breakpoint(md) {
    @include margin(0, 0, 50px, 0);
  }

  @include breakpoint(sm) {
    @include margin(0, 0, 50px, 0);
  }

  h2 {
    font-size: 40px;
    color: $brand-color;
    @include breakpoint(sm) {
      font-size: 30px;
    }
    @include breakpoint(md) {
      font-size: 30px;
    }
  }
}

@include breakpoint(sm) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.blue-wrap {
  background: $light-blue-color;
}
.blue-wrap-padding {
  @include padding(80px, 0, 80px, 0);

  @include breakpoint(sm) {
    @include padding(30px, 0, 30px, 0);
  }
}

.grey-wrap {
  background: #f5f5f5;
}
.grey-wrap-padding {
  @include padding(80px, 0, 80px, 0);

  @include breakpoint(sm) {
    @include padding(30px, 0, 30px, 0);
  }
}
.nomargin {
  @include margin(0, 0, 0, 0);
}
.nopadding {
  @include padding(0, 0, 0, 0);
}
.card {
  @include border-radius(0);
  border: 0;
}

.lock-scroll {
  overflow: hidden;
  overflow-y: hidden;
}

/* owl dots */
.owl-dots {
  opacity: 0;
  animation: fadeInUp 0.8s ease forwards;
  animation-delay: 0.5s;
  .owl-dot {
    span {
      background: none !important;
      border: 1px solid $brand-color !important;
    }
  }
  .owl-dot.active {
    span {
      background: $brand-color !important;
      border: 0 !important;
      position: relative;
    }
  }
}

/* main heading wrap */
.main-heading-wrap {
  position: relative;
  .container {
    padding-left: 350px;
    position: relative;
    @include breakpoint(sm) {
      padding-left: 30px;
    }
    @include breakpoint(md) {
      padding-left: 360px;
    }
  }
  .main-heading-right {
    @include padding(150px, 0, 0, 0);
    @include breakpoint(sm) {
      @include padding(30px, 0, 0, 0);
    }
    @include breakpoint(md) {
      @include padding(30px, 0, 0, 0);
    }

    figure {
      @include margin(0, 0, 30px, 0);
    }

    .caption {
      .title {
        color: $brand-color;
        font-size: 40px;
        @include margin(0, 0, 30px, 0);

        @include breakpoint(sm) {
          font-size: 30px;
          @include margin(0, 0, 20px, 0);
        }

        @include breakpoint(md) {
          font-size: 30px;
          @include margin(0, 0, 20px, 0);
        }
      }
      .content {
        color: $dark-grey-color-shade;
        font-size: 18px;
      }
    }
  }
}

/* main slider */
.hero-wrap {
  position: relative;
  width: 100%;
  @include margin(0, 0, 30px, 0);

  @include breakpoint(sm) {
    @include margin(0, 0, 0, 0);
  }

  .slider-holder {
    position: relative;
    @include breakpoint(sm) {
      .desktop-img {
        display: none;
      }
    }
    .mobile-img {
      display: none;
      @include breakpoint(sm) {
        display: block;
      }
    }
    &__figure-holder {
      overflow: hidden;
      height: 600px;
      @include margin(0, 0, 0, 0);

      @include breakpoint(sm) {
        height: auto;
      }
      @include breakpoint(md) {
        height: auto;
      }
      img {
        width: 100%;
      }
    }
    &__caption {
      position: absolute;
      right: 100px;
      top: 150px;
      width: 30%;
      @include transform(rotate(-10deg));

      @include breakpoint(sm) {
        width: 80%;
        left: 40px;
        top: 400px;
      }
      @include breakpoint(md) {
        top: 50px;
      }
    }
    &__title {
      color: $white-color;
      font-size: 60px;
      font-family: $font-secondary-en;
      line-height: 1;
      @include margin(0, 0, 30px, 0);

      @include breakpoint(sm) {
        font-size: 40px;
        @include margin(0, 0, 10px, 0);
      }

      @include breakpoint(md) {
        font-size: 40px;
        @include margin(0, 0, 10px, 0);
      }

      span {
        color: $brand-color;
      }
    }

    &__send-btn {
      background: url(../images/send-button@3x.png) no-repeat;
      width: 22px;
      height: 26px;
      display: block;
      background-size: 22px 26px;
    }

    &__play-icon {
      position: absolute;
      width: 118px;
      height: 118px;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: 9;

      @include breakpoint(sm) {
        width: 50px;
        height: 50px;
        right: 40px;
        bottom: 70px;
        left: initial;
        top: initial;
      }

      i {
        color: rgba($white-color, 0.5);
        font-size: 135px;

        @include breakpoint(sm) {
          font-size: 55px;
        }
      }
    }
  }

  #main-slider {
    position: relative;
    overflow: hidden;

    .owl-nav {
      position: absolute;
      top: 45%;
      width: 100%;
      font-size: 0 !important;

      @include breakpoint(sm) {
        display: none;
      }
      @include breakpoint(md) {
        display: none;
      }
      .owl-prev {
        position: absolute;
        left: 0;
        background: none !important;
        opacity: 0;
        animation: fadeInLeft 0.8s ease forwards;
        animation-delay: 0.5s;
        font-size: 0;

        &:before {
          font-family: FontAwesome;
          content: "\f104";
          position: absolute;
          left: 50px;
          font-size: 65px;
          color: $white-color;
          @include transition(all 0.5s ease);
        }
        &:hover {
          &:before {
            color: $brand-color;
          }
        }
      }

      .owl-next {
        position: absolute;
        background: none !important;
        right: 0;
        opacity: 0;
        animation: fadeInRight 0.8s ease forwards;
        animation-delay: 0.5s;
        font-size: 0;

        &:before {
          font-family: FontAwesome;
          content: "\f105";
          position: absolute;
          right: 50px;
          font-size: 65px;
          color: $white-color;
          @include transition(all 0.5s ease);
        }

        &:hover {
          &:before {
            color: $brand-color;
          }
        }
      }
    }
  }

  .owl-item.active .slider-holder__caption {
    animation: 1s 0.2s fadeIn both;
  }
  .owl-item.active .slider-holder__play-icon {
    animation: 1s 0.2s fadeIn both;
  }
}

/* form */
.top-form-wrap {
  background: rgba($dark-brown-color, 0.95);
  width: 320px;
  position: absolute;
  top: -80px;
  left: 90px;
  z-index: 9999;
  @include padding(8px, 0, 0, 0);

  @include breakpoint(sm) {
    top: 0;
    left: 0;
    width: 280px;
    background: rgba($black-color, 0.5);
    z-index: 9;
    display: none;
  }

  @include breakpoint(md) {
    left: 30px;
    top: 65px;
    z-index: 9;
    background: rgba($black-color, 0.5);
  }

  @include breakpoint(ipadLandscape) {
    left: 0;
  }

  &__logo {
    background: url(../images/cata-white-logo@3x.png) no-repeat;
    width: 178px;
    height: 55px;
    display: block;
    background-size: 178px 55px;
    @include margin(0, auto, 40px, auto);

    @include breakpoint(md) {
      @include margin(0, auto, 20px, auto);
      width: 120px;
      height: 40px;
      background-size: 120px 40px;
    }
  }
  .top-content {
    @include padding(0, 40px, 40px, 40px);
    text-align: center;

    @include breakpoint(sm) {
      @include padding(0, 20px, 20px, 20px);
    }
    @include breakpoint(md) {
      @include padding(0, 20px, 20px, 20px);
    }

    &__title {
      font-size: 16px;
      text-transform: uppercase;
      color: $white-color;
      @include margin(0, 0, 35px, 0);

      @include breakpoint(md) {
        @include margin(0, 0, 20px, 0);
      }
    }
    &__link-a {
      font-size: 12px;
      display: block;
      color: rgba($white-color, 0.5);
      @include margin(0, 0, 20px, 0);
      text-decoration: underline !important;

      &:hover {
        color: $brand-color;
      }
    }
    &__link-b {
      font-size: 12px;
      display: block;
      color: rgba($white-color, 0.5);
      @include margin(0, 0, 30px, 0);

      @include breakpoint(sm) {
        @include margin(0, auto, 20px, auto);
      }
      @include breakpoint(md) {
        @include margin(0, auto, 20px, auto);
      }

      &:hover {
        color: $brand-color;
      }
    }
    .form-control {
      font-size: 12px;
      height: 40px;
      text-align: center;
      font-family: $font-secondary-en;
      @include padding(0, 0, 0, 0);
      color: $dark-grey-color-shade;
      @include margin(0, 0, 30px, 0);
      &:focus {
        border: 1px solid $brand-second-color;
        box-shadow: 0 1px 5px 0 rgba($brand-second-color, 0.8);
      }

      @include breakpoint(md) {
        @include margin(0, 0, 15px, 0);
      }
    }

    .nice-select {
      font-size: 14px;
      .list {
        height: auto;
      }
    }

    .go-btn {
      @extend %sweep-btn;
      @include margin(0, 0, 30px, 0);
      @include padding(7px, 40px, 7px, 40px);
      background: $brand-second-color;
      color: $dark-grey-color;
      text-transform: lowercase;
      font-size: 12px;
      &:before {
        background: $dark-grey-color;
      }
      &:first-letter {
        text-transform: uppercase;
      }
    }
    .arrow__link {
      font-size: 12px;
      text-transform: uppercase;
      color: rgba($white-color, 0.5);
      &:after {
        font-size: 12px;
        @include margin(0, 0, 0, 10px);
      }
      &:before {
        top: 9px;
      }
      &:hover {
        color: $brand-color;
      }
    }
  }
}

.form-scroll {
  z-index: 1044;
  .top-form-wrap__logo {
    background: url(../images/cata-color-logo@3x.png) no-repeat;
    width: 178px;
    height: 55px;
    display: block;
    background-size: 178px 55px;
    opacity: 1;
    position: fixed;
    top: 12px;
    @include margin(0, 0, 0, 90px);
    animation: fadeInDown 0.9s ease forwards;

    @include breakpoint(md) {
      width: 120px;
      height: 40px;
      background-size: 120px 40px;
    }
  }
}

.top-form-inner-pages {
  top: -80px;

  @include breakpoint(sm) {
    top: 0;
    left: 0;
  }

  @include breakpoint(md) {
    top: 0;
    left: 0;
  }
}

/* navigation */
.navigation {
  @include margin(0, 0, 30px, 0);
  &__list-group {
    display: flex;
    justify-content: center;

    @include breakpoint(sm) {
      flex-wrap: wrap;
    }
  }
  &__list-item {
    @include margin(0, 0, 0, 0);
    width: 20%;

    @include breakpoint(sm) {
      width: 100%;
    }
  }
  &__link {
    text-align: center;
    @include transition(all 0.5s ease);
    display: block;
    @include padding(20px, 20px, 20px, 20px);
    @include border-radius(5px);

    &:hover {
      @include card-hover-shadow;
      .navigation__link-text {
        color: $brand-color;
      }

      .navigation__link-icon {
        margin: 4px auto 0;
      }
      .navigation__link-text {
        @include margin(4px, 0, 0, 0);
      }
    }
  }
  &__link-text {
    display: block;
    font-size: 21px;
    color: $dark-grey-color;
    @include margin(10px, 0, 0, 0);
    @include transition(all 0.5s ease);
  }
  &__link-icon {
    display: block;
    background: url(../images/navigation-icons-sprite.jpg) no-repeat;
    margin: 0 auto;
    background-size: 717px 73px;
    @include transition(all 0.5s ease);
  }
  &--open-account {
    width: 50px;
    height: 50px;
    background-position: -15px -11px;
  }
  &--mobile-banking {
    width: 50px;
    height: 50px;
    background-position: -70px -11px;
  }
  &--prepaid-card {
    width: 50px;
    height: 50px;
    background-position: -130px -11px;
  }
  &--location {
    width: 50px;
    height: 50px;
    background-position: -183px -11px;
  }
  &--talk-us {
    width: 50px;
    height: 50px;
    background-position: -232px -11px;
  }
  &--covid-19 {
    width: 50px;
    height: 50px;
    background-position: -412px -2px;
    background-size: 519px 55px;
  }
}

/* loan calculation */
.loan-tab-wrap {
  @include padding(80px, 0, 50px, 0);

  @include breakpoint(sm) {
    @include padding(30px, 0, 30px, 0);
  }
  @include breakpoint(md) {
    @include padding(30px, 0, 30px, 0);
  }

  .nav {
    @include border-radius(5px);
    background-color: $white-color;

    @include my-shadow;
    @include padding(16px, 25px, 16px, 25px);
    @include margin(0, 0, 40px, 0);
    width: 90%;

    @include breakpoint(sm) {
      width: 100%;
      @include margin(0, 0, 20px, 0);
    }
    @include breakpoint(md) {
      width: 100%;
      @include margin(0, 0, 20px, 0);
    }

    li {
      width: 50%;
      position: relative;
      @include padding(0, 0, 0, 40px);

      @include breakpoint(sm) {
        width: 100%;
        @include margin(0, 0, 10px, 0);
      }

      a {
        border: 0;
        color: $text-grey-color;
        font-size: 22px;
        @include padding(0, 0, 0, 0);

        span {
          @include border-radius(50%);
          background: #a0a0a0;
          height: 26px;
          width: 26px;
          color: $white-color;
          display: block;
          position: absolute;
          left: 0;
          top: 4px;
          text-align: center;
          line-height: 26px;
          font-size: 11px;
        }
        &.active {
          color: $brand-color;
          span {
            background: $brand-color;
          }
        }
        &:hover {
          color: $brand-color;
          span {
            background: $brand-color;
          }
        }
      }
    }
  }

  .tab-content-left {
    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
    }
    &__title {
      color: $brand-color;
      font-size: 40px;
      @include margin(0, 0, 20px, 0);
      @include padding(0, 0, 0, 0);

      @include breakpoint(sm) {
        font-size: 25px;
        @include padding(0, 0, 0, 0);
      }
    }
    &__text {
      font-size: 18px;
      color: $text-grey-color;
      @include margin(0, 0, 30px, 0);
    }

    &__list-group {
      @include margin(0, 0, 50px, 0);
    }
    &__list-item {
      @include margin(0, 0, 20px, 0);
      @include padding(0, 0, 0, 45px);
      font-size: 16px;
      color: $dark-grey-color-shade;
      position: relative;

      &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
      }
    }

    .nice-select {
      @include border-radius(50px);

      width: 45%;
      @include margin(0, 0, 30px, 0);
      @include breakpoint(sm) {
        width: 100%;
      }
      @include breakpoint(md) {
        width: 100%;
      }
      .list {
        @include margin(4px, 0, 0, 0);
      }
    }

    .range-slider {
      @include margin(0, 0, 35px, 0);
      position: relative;

      label {
        font-size: 18px;
        font-family: $font-secondary-en;
        color: $dark-grey-color-shade;
        @include margin(0, 0, 30px, 0);
        float: left;

        @include breakpoint(sm) {
          float: none;
          display: block;
          @include margin(0, 0, 80px, 0);
        }
      }
      input[type="number"] {
        @include border-radius(3px);
        @include my-shadow;
        @include margin(0, 0, 20px, 0);
        display: inline-block;
        @include padding(7px, 15px, 7px, 55px);
        background: $white-color;
        font-size: 17px;
        font-family: $font-secondary-en;
        color: $dark-grey-color-shade;
        width: 195px;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 17px;

        @include breakpoint(sm) {
          left: 0;
          top: 40px;
        }
      }
      button {
        &:before {
          font-family: FontAwesome;
          content: "\f040";
          position: absolute;
          color: $brand-color;
          font-size: 20px;
          right: 160px;
          top: 5px;

          @include breakpoint(sm) {
            left: 17px;
            top: 45px;
            right: initial;
          }
        }
        &:hover {
          &:before {
            color: $dark-grey-color;
          }
        }
      }

      .edit-values {
        @include breakpoint(sm) {
          float: none;
          @include margin(0, 0, 30px, 0);
        }

        i {
          color: $brand-color;
          @include margin(0, 20px, 0, 0);
          text-align: left;
        }
      }
      .static-valie {
        text-align: right;
        float: right;
        font-size: 18px;
        color: $dark-grey-color-shade;
      }

      output {
        display: inline-block;
        position: relative;
        color: $dark-grey-color-shade;
        font-size: 18px;
        float: left;
      }

      .borrow__value {
        position: relative;
        @include padding(0, 0, 0, 40px);
        &:before {
          position: absolute;
          content: "KES";
          left: 0;
          font-size: 18px;
        }
      }
      .months__value {
        position: relative;
        @include margin(0, 0, 0, 0);
        &:before {
          position: absolute;
          content: "Months";
          left: 22px;
          font-size: 18px;
        }
      }
    }
  }

  .loan-calculation {
    @include my-shadow;
    background-color: $white-color;
    @include padding(35px, 35px, 35px, 35px);
    @include border-radius(5px);

    @include breakpoint(sm) {
      @include padding(30px, 30px, 30px, 30px);
    }
    @include breakpoint(md) {
      @include padding(30px, 30px, 30px, 30px);
    }

    &__title {
      font-size: 40px;
      line-height: 30px;
      @include margin(0, 0, 30px, 0);
      color: $black-color;

      @include breakpoint(sm) {
        font-size: 25px;
        @include margin(0, 0, 10px, 0);
      }
      @include breakpoint(md) {
        font-size: 25px;
        @include margin(0, 0, 10px, 0);
      }
    }
    &__text {
      font-size: 18px;
      color: $text-grey-color;
      @include margin(0, 0, 20px, 0);

      @include breakpoint(sm) {
        @include margin(0, 0, 10px, 0);
      }
      @include breakpoint(md) {
        @include margin(0, 0, 10px, 0);
      }
    }
    &__sm-text {
      font-size: 12px;
      text-align: center;
      color: $dark-grey-color-shade;
      @include margin(0, 0, 25px, 0);
      line-height: 1.7;
    }
    &__list-group {
      display: flex;
      @include margin(0, 0, 10px, 0);
      font-size: 18px;
      flex-wrap: wrap;
    }
    &__list-item {
      width: 50%;
      @include margin(0, 0, 10px, 0);

      @include breakpoint(sm) {
        width: 100%;
      }
      @include breakpoint(md) {
        width: 100%;
      }

      h4 {
        color: $brand-color;
        font-size: 16px;
      }
      span {
        font-size: 16px;
      }
    }
    .checkboxes {
      @include margin(0, 0, 10px, 0);
      label {
        font-size: 12px;
      }
    }
    .sweep-btn-center {
      display: flex;
      justify-content: center;
      margin: auto;
    }
  }

  .app-detail {
    box-shadow: 0 2px 4px 0 rgba(185, 185, 185, 0.5);
    background-color: $white-color;
    @include padding(35px, 35px, 35px, 35px);
    @include border-radius(5px);

    @include breakpoint(sm) {
      @include padding(30px, 30px, 30px, 30px);
    }
    @include breakpoint(md) {
      @include padding(30px, 30px, 30px, 30px);
    }

    &__title {
      font-size: 40px;
      line-height: 30px;
      color: $black-color;
      @include margin(0, 0, 80px, 0);

      @include breakpoint(sm) {
        font-size: 25px;
        @include margin(0, 0, 10px, 0);
      }
      @include breakpoint(md) {
        font-size: 25px;
        @include margin(0, 0, 10px, 0);
      }
    }

    &__text {
      font: size 14px;
      @include margin(0, 0, 30px, 0);
    }
    &__label {
      font-size: 14px;
    }
    .form-control {
      height: 39px;
      width: 85%;
      @include breakpoint(sm) {
        width: 100%;
      }
      @include breakpoint(md) {
        width: 100%;
      }
    }

    &__radio-group {
      @include margin(0, 0, 20px, 0);

      .radios {
        label {
          font-size: 18px !important;
        }
      }
    }
    .sweep-btn-center {
      display: flex;
      justify-content: center;
      margin: auto;
    }
  }
}

/* video wrapper */
.video-wrap {
  &__figure-holder {
    @include margin(0, 0, 0, 0);
    overflow: hidden;
    max-height: 420px;
    position: relative;
    @include border-radius(5px);

    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 30px, 0);
    }

    img {
      width: 100%;
      @include transform(scale(1));
    }

    &:hover {
      img {
        @include transform(scale(1.1));
      }
      .video-wrap__play-icon {
        opacity: 10;
      }
    }
  }

  &__play-icon {
    position: absolute;
    width: 118px;
    height: 118px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    i {
      color: rgba($white-color, 0.5);
      font-size: 135px;
    }
  }

  &__caption {
    @include transition(all 0.5s ease);
  }
  &__title {
    @include margin(0, 0, 40px, 0);
    color: $brand-color;
    font-size: 60px;
    display: block;
    line-height: 1.25;

    &:hover {
      color: $dark-grey-color;
    }

    @include breakpoint(sm) {
      font-size: 25px;
      @include margin(0, 0, 20px, 0);
    }
    @include breakpoint(md) {
      font-size: 35px;
      @include margin(0, 0, 20px, 0);
    }
  }
  &__content {
    @include margin(0, 0, 70px, 0);
    color: $text-grey-color;
    font-size: 24px;
    line-height: 1.2;

    @include breakpoint(sm) {
      @include margin(0, 0, 20px, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 20px, 0);
    }
  }

  @include breakpoint(sm) {
    .column-reverse {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  @include breakpoint(md) {
    .column-reverse {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

/* info blocks */
.info-blocks {
  .info-card {
    background: none;
    @include transition(all 0.5s ease);
    @include margin(0, 0, 65px, 0);

    @include border-radius(20px 20px 20px 20px);
    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
    }

    &__figure-holder {
      @include margin(0, 0, 0, 0);
      overflow: hidden;
      @include border-radius(5px 5px 0 0);
      height: 240px;

      @include breakpoint(sm) {
        height: auto;
      }
      @include breakpoint(md) {
        height: auto;
      }
      img {
        width: 100%;
        @include transform(scale(1));
      }
    }
    &__caption {
      background: $light-blue-color;
      @include padding(40px, 30px, 40px, 30px);
      @include border-radius(0 0 5px 5px);
      @include transition(all 0.5s ease);
    }
    &__title {
      @include margin(0, 0, 20px, 0);
      color: $brand-color;
      font-size: 38px;
      display: block;
      line-height: 1.25;

      @include breakpoint(sm) {
        font-size: 25px;
      }
      @include breakpoint(md) {
        font-size: 25px;
      }
    }
    &__content {
      @include margin(0, 0, 30px, 0);
      color: $text-grey-color;
      font-size: 16px;
      line-height: 1.75;
    }

    &:hover {
      @include card-hover-shadow;
      @include transform(translateY(-5px));
      img {
        @include transform(scale(1.1));
      }
      .info-card__title {
        color: $dark-grey-color;
      }
    }
  }
}

/* news */
.news-insights {
  .head-wrap {
    @include margin(0, 0, 60px, 0);

    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 30px, 0);
    }
    &__title {
      text-align: center;
      font-size: 40px;
      color: $brand-color;
      @include breakpoint(sm) {
        font-size: 30px;
      }
      @include breakpoint(md) {
        font-size: 30px;
      }
    }
  }
  .feature-news {
    @include transition(all 0.5s ease);
    background: $light-blue-color;
    @include border-radius(5px);
    @include margin(0, 0, 80px, 0);

    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 30px, 0);
    }

    &__figure-holder {
      max-height: 472px;
      overflow: hidden;
      @include margin(0, 0, 0, 0);
      @include border-radius(0 5px 5px 0);

      @include breakpoint(sm) {
        @include border-radius(0 0 5px 5px);
        max-height: auto;
      }

      img {
        @include transform(scale(1));
        @include breakpoint(sm) {
          width: 100%;
        }
      }
    }

    &__caption {
      @include padding(40px, 40px, 40px, 40px);
      @include transition(all 0.5s ease);

      @include breakpoint(sm) {
        @include padding(30px, 30px, 30px, 30px);
      }
    }
    &__title {
      @include margin(0, 0, 10px, 0);
      color: $brand-color;
      font-size: 38px;
      display: block;
      line-height: 1.25;

      @include breakpoint(sm) {
        font-size: 25px;
      }
      @include breakpoint(md) {
        font-size: 25px;
      }
    }
    &__category {
      @include margin(0, 15px, 20px, 0);
      color: $dark-grey-color;
      font-size: 12px;
      display: block;
      float: left;
      text-transform: uppercase;
    }
    &__time {
      @include margin(0, 0, 20px, 0);
      color: $dark-grey-color;
      font-size: 12px;
      display: block;
      text-transform: uppercase;
    }
    &__content {
      @include margin(0, 0, 20px, 0);
      color: $text-grey-color;
      font-size: 16px;
      line-height: 1.75;
    }
    &:hover {
      @include card-hover-shadow;

      img {
        @include transform(scale(1.1));
      }
      .feature-news__title {
        color: $dark-grey-color;
      }
    }
  }

  .news {
    @include transition(all 0.5s ease);
    @include margin(0, 0, 30px, 0);

    @include breakpoint(sm) {
      @include margin(0, 0, 0, 0);
    }
    &__caption {
      @include padding(40px, 100px, 40px, 0);
      @include transition(all 0.5s ease);

      @include breakpoint(sm) {
        @include padding(30px, 30px, 30px, 0);
      }
      @include breakpoint(md) {
        @include padding(30px, 30px, 30px, 0);
      }
    }
    &__title {
      @include margin(0, 0, 10px, 0);
      color: $brand-color;
      font-size: 38px;
      display: block;
      line-height: 1.25;

      @include breakpoint(sm) {
        font-size: 25px;
      }
    }
    &__category {
      @include margin(0, 15px, 20px, 0);
      @include transition(all 0.5s ease);
      color: $dark-grey-color;
      font-size: 12px;
      display: block;
      float: left;
      text-transform: uppercase;
    }
    &__time {
      @include margin(0, 0, 20px, 0);
      @include transition(all 0.5s ease);
      color: $dark-grey-color;
      font-size: 12px;
      display: block;
      text-transform: uppercase;
    }

    &__content {
      @include margin(0, 0, 20px, 0);
      @include transition(all 0.5s ease);
      color: $text-grey-color;
      font-size: 16px;
      line-height: 1.75;
    }
    &:hover {
      @include card-hover-shadow;
      background: $white-color;
      @include border-radius(5px);
      .news__caption {
        @include margin(0, 0, 10px, 30px);
      }
      .news__title {
        color: $dark-grey-color;
      }
    }
  }
}

/* loan carousel */
.loan-carousel {
  position: relative;
  .item {
    &__figure-holder {
      @include border-radius(5px);
      @include margin(0, 0, 25px, 0);
      height: 295px;
      overflow: hidden;

      @include breakpoint(sm) {
        height: auto;
      }
      @include breakpoint(md) {
        height: auto;
      }

      img {
        @include border-radius(5px);
      }
    }
    &__caption {
      height: 250px;
      @include margin(0, 0, 45px, 40px);
      @include padding(0, 50px, 0, 0);
      display: flex;
      justify-content: center;
      flex-direction: column;

      @include breakpoint(sm) {
        @include margin(0, 0, 30px, 0);
        @include padding(0, 0, 0, 0);
        height: auto;
      }
      @include breakpoint(md) {
        @include margin(0, 0, 30px, 0);
        @include padding(0, 0, 0, 0);
        height: auto;
      }
    }
    &__title {
      font-size: 20px;
      color: $black-color;
      @include margin(0, 0, 50px, 0);

      @include breakpoint(sm) {
        @include margin(0, 0, 20px, 0);
      }
    }
    &__content {
      font-size: 18px;
      color: $dark-grey-color-shade;
    }
  }

  .owl-nav {
    position: absolute;
    top: 40%;
    width: 100%;

    @include breakpoint(sm) {
      display: none;
    }
    @include breakpoint(md) {
      display: none;
    }
    .owl-prev {
      position: absolute;
      left: -80px;
      background: none !important;

      &:before {
        font-family: FontAwesome;
        content: "\f104";
        position: absolute;
        left: 0;
        font-size: 18px;
        top: -10px;
        border-radius: 50%;
        height: 40px;
        line-height: 40px;
        width: 40px;
        text-align: center;
        background: $light-blue-color;
        border: 1px solid $brand-color;
        color: $brand-color;
        @include transition(all 0.5s ease);
      }
      &:hover {
        &:before {
          background: $brand-color;
          color: $white-color;
        }
      }
    }
    .owl-next {
      position: absolute;
      background: none !important;
      right: -80px;

      &:before {
        font-family: FontAwesome;
        content: "\f105";
        position: absolute;
        right: 0;
        font-size: 18px;
        top: -10px;
        border-radius: 50%;
        height: 40px;
        line-height: 40px;
        width: 40px;
        text-align: center;
        background: $light-blue-color;
        border: 1px solid $brand-color;
        color: $brand-color;
        @include transition(all 0.5s ease);
      }

      &:hover {
        &:before {
          background: $brand-color;
          color: $white-color;
        }
      }
    }
  }
  .owl-item.active .item__content {
    animation: 1s 0.2s fadeIn both;
  }
  .owl-item.active .item__title {
    animation: 1s 0.3s fadeInUp both;
  }
}

/* leasing features */
.leasing-features {
  .card {
    text-align: center;
    @include margin(70px, 0, 0, 0);
    @include padding(0, 25px, 0, 25px);
    background: none;

    @include breakpoint(sm) {
      @include margin(40px, 0, 0, 0);
      @include padding(0, 0, 0, 0);
    }

    &__title {
      text-transform: uppercase;
      color: $brand-color;
      font-size: 14px;
      @include margin(0, 0, 25px, 0);
      font-family: $font-secondary-en;
    }
    &__content {
      font-size: 16px;
      color: $dark-grey-color-shade;
    }
  }
}

.leasing-block {
  .row {
    @include margin(0, -15px, 80px, -15px);
  }
  &__figure-holder {
    @include border-radius(5px);
    img {
      @include border-radius(5px);
    }

    @include breakpoint(sm) {
      @include margin(0, 0, 20px, 0);
    }
  }
  &__title {
    @include margin(0, 0, 20px, 0);
  }
  &__content {
    @include margin(0, 0, 65px, 0);
    font-size: 18px;
    color: $dark-grey-color-shade;

    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
    }
  }
}

/* capital features */
.capital-features {
  .title-lg {
    font-size: 60px;
    @include margin(0, 0, 40px, 0);

    @include breakpoint(sm) {
      font-size: 35px;
      @include margin(0, 0, 20px, 0);
    }
    @include breakpoint(md) {
      font-size: 35px;
    }
  }
  .content {
    font-size: 18px;
    color: $dark-grey-color-shade;

    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
    }
  }

  .features-holder {
    border-left: 1px solid #ddd;
    @include padding(15px, 0, 30px, 75px);

    @include breakpoint(sm) {
      border-left: 0;
      @include padding(0, 0, 0, 0);
    }

    @include breakpoint(md) {
      @include padding(15px, 0, 30px, 30px);
    }

    .card {
      @include margin(0, 0, 100px, 0);
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;

      @include breakpoint(sm) {
        @include margin(0, 0, 30px, 0);
      }

      @include breakpoint(md) {
        @include margin(0, 0, 50px, 0);
      }

      &__figure-holder {
        width: 15%;
        overflow: hidden;
        @include border-radius(5px);

        img {
          width: 100%;
          height: 50px;
          @include border-radius(5px);
          box-shadow: 0 1px 5px 0 rgba($black-color, 0.4);
        }
      }
      &__caption {
        @include margin(0, 0, 0, 20px);
        @include padding(0, 100px, 0, 0);
        width: 85%;

        @include breakpoint(sm) {
          @include padding(0, 0, 0, 0);
        }
        @include breakpoint(md) {
          @include padding(0, 0, 0, 0);
        }
      }

      &__title {
        font-size: 20px;
        color: $brand-color;
        @include margin(0, 0, 10px, 0);
      }
      &__content {
        font-size: 18px;
        color: $dark-grey-color-shade;
      }

      &:nth-of-type(2n) {
        @include margin(0, 0, 0, 0);
      }
    }
  }
}

/* capital thumbs */
.capital-thumbs {
  .large-thumb {
    @include border-radius(5px);

    img {
      @include border-radius(5px);
    }

    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
    }
  }

  .sm-thumbs {
    .card {
      @include margin(0, 0, 30px, 0);
      @include padding(0, 0, 30px, 0);
      @include border-radius(5px);
      background: $light-blue-color;
      text-align: center;
      overflow: hidden;
      min-height: 300px;

      @include breakpoint(sm) {
        min-height: auto;
      }
      @include breakpoint(md) {
        min-height: auto;
      }

      &__figure-holder {
        @include margin(0, 0, 30px, 0);
      }

      &__title {
        font-size: 18px;
        color: $dark-grey-color-shade;
      }

      &:hover {
        @include card-hover-shadow;
      }
    }
  }
}

/* service unavailable */
.service-unavailable {
  position: relative;
  height: 570px;
  @include padding(220px, 0, 0, 0);

  @include breakpoint(sm) {
    @include padding(420px, 0, 0, 0);
    height: auto;
  }

  @include breakpoint(md) {
    @include padding(40px, 0, 0, 0);
    height: 619px;
  }

  &:before {
    background: url(../images/service-unavailable.png) no-repeat;
    content: "";
    right: 0;
    top: 50px;
    width: 610px;
    height: 456px;
    position: absolute;
    background-size: 610px 456px;
  }
  .content {
    .title {
      font-size: 30px;
      color: $black-color;
      @include margin(0, 0, 30px, 0);
    }
    .text {
      font-size: 15px;
      color: $black-color;
      @include margin(0, 0, 100px, 30px);
      @include padding(0, 200px, 0, 0);

      @include breakpoint(sm) {
        @include margin(0, 0, 20px, 0);
        @include padding(0, 0, 0, 0);
      }
      @include breakpoint(md) {
        @include margin(0, 0, 20px, 0);
        @include padding(0, 0, 0, 0);
      }
    }
    .form-control {
      height: 52px;
      @include padding(0, 0, 0, 30px);

      @include breakpoint(sm) {
        @include margin(0, 0, 20px, 0);
      }
      @include breakpoint(md) {
        @include margin(0, 0, 20px, 0);
      }
    }
    .sweep-btn-center {
      @include padding(17px, 50px, 17px, 50px);

      @include breakpoint(sm) {
        width: 100%;
      }
    }
  }
}

/* 404 error */
.error-404 {
  position: relative;
  @include padding(420px, 0, 0, 0);

  @include breakpoint(sm) {
    @include padding(420px, 0, 0, 0);
  }

  @include breakpoint(md) {
    @include padding(320px, 0, 0, 0);
  }

  &:before {
    background: url(../images/404-bg.png) no-repeat;
    content: "";
    right: 0;
    left: 0;
    margin: auto;
    top: 50px;
    width: 540px;
    height: 417px;
    position: absolute;
    background-size: 540px 417px;
  }
  .content {
    text-align: center;
    .title {
      font-size: 40px;

      color: $black-color;
      @include margin(0, 0, 30px, 0);
    }
    .text {
      font-size: 20px;
      color: $black-color;
      @include margin(0, 0, 30px, 0);

      @include breakpoint(sm) {
        @include margin(0, 0, 20px, 0);
        @include padding(0, 0, 0, 0);
      }
      @include breakpoint(md) {
        @include margin(0, 0, 20px, 0);
        @include padding(0, 0, 0, 0);
      }
    }

    .sweep-btn-center {
      @include padding(17px, 50px, 17px, 50px);

      @include breakpoint(sm) {
        width: 100%;
      }
    }
  }
}

/* pagination */
.pagination {
  li {
    &.active {
      .page-link {
        color: $brand-color;
        background: none;
      }
    }
  }
  .page-link {
    background: none;
    border: 0;
    color: $dark-grey-color;
    font-family: $font-secondary-en;
  }

  .page-item:first-child .page-link {
    background: $white-color;
    @include border-radius(50%);
    height: 45px;
    line-height: 45px;
    width: 45px;
    text-align: center;
    color: $brand-color;
    @include padding(0, 0, 0, 0);
    @include margin(-5px, 40px, 0, 0);
    &:hover {
      background: $brand-color;
      color: $white-color;
    }
  }
  .page-item:last-child .page-link {
    background: $white-color;
    @include border-radius(50%);
    height: 45px;
    line-height: 45px;
    width: 45px;
    text-align: center;
    color: $brand-color;
    @include padding(0, 0, 0, 0);
    @include margin(-5px, 0, 0, 40px);

    &:hover {
      background: $brand-color;
      color: $white-color;
    }
  }
}

.pods-pagination-paginate {
  display: flex;
  justify-content: center;
  align-items: center;
  .page-numbers {
    color: $dark-grey-color;
    font-family: $font-secondary-en;
    @include padding(0, 15px, 0, 15px);
  }
  .current {
    color: $brand-color;
  }
  .next {
    background: $white-color;
    @include border-radius(50%);
    height: 45px;
    line-height: 45px;
    width: 45px;
    text-align: center;
    color: $brand-color;
    &:hover {
      background: $brand-color;
      color: $white-color;
    }
  }
}

/* forgot email */
.forgot-email-form {
  .form-row {
    @include margin(0, 0, 80px, 0);
    @include breakpoint(sm) {
      @include margin(0, 0, 0, 0);
    }
  }
  .form-group {
    @include margin(0, 0, 40px, 0);
    @include breakpoint(sm) {
      @include margin(0, 0, 20px, 0);
    }
  }
  label {
    color: $dark-grey-color;
    @include margin(0, 0, 20px, 0);
    @include breakpoint(sm) {
      @include margin(0, 0, 10px, 0);
    }
  }
  .form-control {
    height: 55px;
    font-size: 16px;
    @include padding(0, 0, 0, 20px);
  }
  .sliding-underline-link {
    display: inline-block;

    @include breakpoint(sm) {
      @include margin(0, 0, 20px, 0);
    }
  }
}

/* contact us */
.contact-us-form {
  .form-row {
    @include margin(0, 0, 80px, 0);
    @include breakpoint(sm) {
      @include margin(0, 0, 0, 0);
    }
  }
  .form-group {
    @include margin(0, 0, 40px, 0);
    @include breakpoint(sm) {
      @include margin(0, 0, 20px, 0);
    }
  }
  label {
    color: $dark-grey-color;
    @include margin(0, 0, 20px, 0);
    @include breakpoint(sm) {
      @include margin(0, 0, 10px, 0);
    }
  }
  .form-control {
    height: 55px;
    font-size: 16px;
    @include padding(0, 0, 0, 20px);
  }
  textarea {
    height: 250px !important;
    resize: none;
    padding-top: 20px !important;
  }
  .nice-select {
    height: 55px;
    line-height: 55px;
    &:before {
      top: 17px;
    }
    &:after {
      top: 27px;
    }
  }
}

.static-content {
  .content-body {
    @include my-shadow();
    background: $white-color;
    @include padding(50px, 50px, 50px, 50px);

    @include breakpoint(sm) {
      @include padding(30px, 30px, 30px, 30px);
    }

    h2 {
      @include margin(0, 0, 30px, 0);
    }
    p {
      font-size: 18px;
      @include margin(0, 0, 40px, 0);
      color: $dark-grey-color-shade;
    }
    ul {
      @include margin(0, 0, 50px, 20px);

      @include breakpoint(sm) {
        @include margin(0, 0, 30px, 0);
      }

      li {
        position: relative;
        @include margin(0, 0, 10px, 0);
        color: $dark-grey-color-shade;
        font-size: 16px;
        @include padding(0, 0, 0, 30px);

        &:before {
          width: 5px;
          height: 5px;
          background: $brand-color;
          content: "";
          left: 0;
          top: 9px;
          @include border-radius(50%);
          position: absolute;
        }
      }
    }
  }
}

.card-offers {
  .nav-pills {
    @extend %nav-pills;
  }
  .card {
    @include padding(30px, 30px, 30px, 30px);
    @include my-shadow;
    @include border-radius(5px);
    @include margin(0, 0, 30px, 0);
    min-height: 400px;
    display: flex;
    height: 370px;
    figure {
      @include margin(0, 0, 30px, 0);
      height: 150px;
      overflow: hidden;
    }
    p {
      color: $dark-grey-color-shade;
      font-size: 16px;
      margin-top: auto;
    }
  }
}

.tabs-into-accordion {
  .card-header {
    @include padding(0, 0, 0, 0);
    @include my-shadow;
    @include border-radius(5px);
    @include margin(0, 0, 10px, 0);
    background: $white-color;
    color: $brand-color;
    font-size: 16px;
    a {
      font-size: 16px;
      display: block;
      @include padding(15px, 45px, 15px, 15px);
      position: relative;
      text-transform: capitalize;

      &:before {
        font-family: FontAwesome;
        content: "\f107";
        position: absolute;
        right: 10px;
        font-size: 18px;
        top: 10px;
        border-radius: 50%;
        height: 30px;
        line-height: 30px;
        width: 30px;
        text-align: center;
        background: $light-blue-color;
        color: $brand-color;
        @include transition(all 0.5s ease);
      }

      &.collapsed {
        &:before {
          content: "\f106";
        }
      }

      &:focus {
        color: $brand-color;
      }
      &:hover {
        color: $brand-color;
      }
      &:visited {
        color: $brand-color;
      }
    }
  }

  .card-body {
    @include padding(0, 0, 0, 0);
  }
  .nav-pills {
    display: none;
  }
  @media (min-width: 768px) {
    .nav-pills {
      display: flex;
    }
    .card-header {
      display: none;
    }
    .collapse {
      display: block;
    }
  }
  @media (max-width: 767px) {
    .tab-content > .tab-pane {
      display: block !important;
      opacity: 1;
    }
  }
}

.tarrif-cont {
  #bundled-accordion {
    .card-header {
      h5 {
        font-size: 22px;
        @include padding(0, 40px, 0, 0);
      }
    }
    .card-body {
      @include padding(20px, 0, 0, 0);
    }
  }

  @media (max-width: 767px) {
    .nav-pills {
      display: none;
    }
    .tab-content > .tab-pane {
      display: block !important;
      opacity: 1;
    }
  }
}

.breadcrumb {
  @include margin(0, 0, 50px, 0);
  background: none;
  @include padding(0, 0, 0, 0);
}

.gform_fields {
  @extend .list-unstyled;
  @extend .row;

  input,
  select,
  textarea {
    @extend .form-control;
  }

  textarea {
    height: auto;
  }
}

.gfield_description {
  @extend .alert;
}

.validation_error {
  @extend .alert;
  @extend .alert-danger;
}

.validation_message {
  @extend .alert;
  @extend .alert-success;
}

.gform_button {
  @extend .btn;
}

.gfield_required {
  color: red;
}

.gform_wrapper ul.gfield_radio li,
.gform_wrapper ul.gfield_checkbox li {
  @extend .form-check;
}

.gform_validation_container {
  display: none;
}

.gfield_error .ginput_container {
  margin-bottom: 10px;
}

/*hack Gravity Forms to enable Bootstrap 4 - DO NOT OVERWRITE*/
.gform_wrapper .chosen-container-single .chosen-single {
  display: none !important;
}
.form-control,
.gform_fields input,
.gform_fields select,
.gform_fields textarea {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.gform_wrapper .top_label .gfield_label,
.gform_wrapper legend.gfield_label {
  font-size: 16px;
}
.gform_wrapper label.gfield_label,
.gform_wrapper legend.gfield_label {
  font-weight: 500 !important;
  font-size: 18px;
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 0;
  color: #666;
}
.gform_wrapper h3.gform_title {
  font-size: 40px !important;
  color: #3ab3e5;
  margin-bottom: 50px;
}
.ginput_complex.ginput_container label {
  font-family: "avertaregular";
  font-size: 12px !important;
}

/* .gform_wrapper {
  input[type="text"] {
    border: 0;
    font-size: 13px !important;
    height: 45px;
    letter-spacing: 1px !important;
    color: $black-color;
    box-shadow: 0 1px 5px 0 rgba($black-color, 0.1) !important;
    padding: 5px 15px !important;
  }
  label {
    font-size: 14px !important;
    color: $black-color !important;
  }
}
 */
.search-results {
  h2 {
    @include margin(0, 0, 20px, 0);
  }
  p {
    @include margin(0, 0, 30px, 0);
    font-size: 20px;
    color: $dark-grey-color-shade;
  }
  .arrow__link {
    color: $brand-color;
    @include margin(0, 0, 30px, 0);
    font-size: 13px;
    text-transform: uppercase;
    &:before {
      top: 14px;
    }
  }
}

.leasing-benefits {
  h2 {
    @include margin(0, 0, 50px, 0);
  }
  .card {
    @include margin(0, 0, 60px, 0);
    background: none;
    text-align: center;
    &__icon {
      display: block;
      background: url(../images/premier-banking-icons-sprite.png) no-repeat;
      margin: 0 auto 20px;
      background-size: 727px 360px;
    }
    &--icon-01 {
      width: 45px;
      height: 31px;
      background-position: -527px -192px;
    }
    &--icon-02 {
      width: 30px;
      height: 39px;
      background-position: -596px -192px;
    }
    &--icon-03 {
      width: 39px;
      height: 39px;
      background-position: -641px -192px;
    }
    &--icon-04 {
      width: 45px;
      height: 36px;
      background-position: -527px -244px;
    }
    &--icon-05 {
      width: 27px;
      height: 31px;
      background-position: -593px -244px;
    }
    &--icon-06 {
      width: 26px;
      height: 26px;
      background-position: -631px -244px;
    }
    &--icon-07 {
      width: 27px;
      height: 30px;
      background-position: -672px -244px;
    }
    &--icon-08 {
      width: 40px;
      height: 36px;
      background-position: -527px -297px;
    }
    &--icon-09 {
      width: 31px;
      height: 36px;
      background-position: -580px -297px;
    }
    &--icon-10 {
      width: 57px;
      height: 38px;
      background-position: -624px -297px;
    }
    p {
      color: $dark-brown-color;
      font-size: 20px;
      @include padding(0, 30px, 0, 30px);
    }
  }
}

.our-leases {
  h2 {
    @include margin(0, 0, 50px, 0);
  }
  figure {
    @include margin(0, 0, 30px, 0);
    @include border-radius(5px);
    overflow: hidden;
    height: 210px;

    img {
      @include border-radius(5px);
    }
  }
  h3 {
    color: $brand-color;
    font-size: 25px;
  }
}

.faqs {
  .main-title {
    position: relative;
    text-align: center;
    color: $black-color;
    @include margin(0, 0, 80px, 0);
    font-family: $font-secondary-en;

    &:before {
      content: "";
      position: absolute;
      background: $black-color;
      width: 64px;
      height: 8px;
      top: 60px;
      left: 50%;
      @include border-radius(20px);
      @include transform(translateX(-50%));
    }
    a {
      color: $black-color;
      display: inline-block;
      @include margin(0, 20px, 0, 0);
      position: absolute;
      left: 0;
      top: 0;
      &:hover {
        color: $brand-color;
      }
    }
  }

  h3 {
    font-size: 22px;
    @include margin(0, 0, 30px, 0);
  }

  #faq-accordion {
    @include margin(0, 0, 70px, 0);
    .card {
      border: 0 !important;
      @include margin(0, 0, 20px, 0);
      @include my-shadow();
      background: $white-color;
      @include padding(25px, 50px, 35px, 50px);

      @include breakpoint(sm) {
        @include padding(25px, 25px, 25px, 25px);
      }
      @include breakpoint(md) {
        @include padding(25px, 25px, 25px, 25px);
      }
    }
    .card-header {
      background: none !important;
      border-bottom: 0;
      @include padding(0, 0, 0, 0);

      h5 {
        font-size: 22px;
        color: $dark-grey-color-shade;
        @include padding(0, 45px, 0, 0);
        position: relative;
        cursor: pointer;

        &:before {
          font-family: FontAwesome;
          content: "\f106";
          position: absolute;
          right: 0;
          font-size: 18px;
          top: 0;
          border-radius: 50%;
          height: 36px;
          line-height: 36px;
          width: 36px;
          text-align: center;
          background: $light-blue-color;
          color: $brand-color;
          @include transition(all 0.5s ease);
        }

        &.collapsed {
          &:before {
            content: "\f107";
          }
        }

        &:hover {
          text-decoration: none;
          color: $brand-color;
          &:before {
            background: $brand-color;
            color: $white-color;
          }
        }
        &:focus {
          text-decoration: none;
        }
      }
    }
    .card-body {
      @include padding(40px, 0, 0, 0);
      @include margin(30px, 0, 0, 0);
      border-top: 1px solid $light-grey-color;

      p {
        @include margin(0, 0, 0, 0);
        color: $dark-grey-color-shade;
        font-size: 18px;
      }
      li {
      }
    }
  }
}

.price-management {
  @include margin(0, 0, 30px, 0);
  .item {
    @include my-shadow;
    @include padding(20px, 20px, 20px, 20px);
    @include border-radius(5px);
    @include margin(0, 0, 20px, 0);
    display: flex;

    flex-wrap: wrap;

    h3 {
      font-size: 18px;
      @include margin(0, 0, 30px, 0);
      color: $dark-grey-color-shade;
      flex: 1 100%;
    }
    .price {
      flex: 1 50%;
      h4 {
        font-size: 20px;
        color: $dark-grey-color-shade;
      }
      span {
        font-size: 20px;
        color: $black-color;
      }
      .red {
        color: red;
      }
    }
  }
  p {
    font-size: 14px;
    color: $light-grey-color;
  }
}

.login-wrap {
  .title-head {
    @include margin(0, 0, 30px, 0);
    text-align: center;

    h2 {
      @include margin(0, 0, 10px, 0);
    }
  }

  .form-group {
    position: relative;
    @include margin(0, 0, 20px, 0);

    .form-control {
      font-size: 18px;
      height: 55px;
      @include padding(0, 20px, 0, 20px);
    }

    .field-icon {
      position: absolute;
      right: 15px;
      top: 17px;
    }
  }
  .sliding-underline-link {
    margin-left: auto;
  }
  p {
    text-align: center;
    font-size: 13px;
    a {
      display: block;
    }
  }
}

.covid-19-header {
  .navbar-nav {
    margin-left: auto !important;
  }
}
.covid-19-hero-wrap {
  .slider-holder__caption {
    width: 50%;
    left: 250px;
    top: 200px;

    @include breakpoint(sm) {
      left: 50px;
      top: 20px;

      .slider-holder__title {
        font-size: 30px;
      }
    }
  }
}

.covid-19 {
  text-align: center;
  h2 {
    font-size: 35px;
    @include margin(60px, 0, 50px, 0);
  }
  p {
    color: $dark-grey-color-shade;
    @include margin(0, 0, 50px, 0);
  }
  h3 {
    font-size: 16px;
    color: $dark-grey-color-shade;
    @include margin(0, 0, 30px, 0);
  }
  .contact-text {
    color: $brand-color;
    font-size: 16px;
  }
}

.covid-navigation {
  width: 100%;
  overflow: hidden;
  .left-cols {
    @include padding(80px, 40px, 20px, 40px);
    min-height: 611px;
  }
  .right-cols {
    @include padding(80px, 40px, 20px, 40px);
    background-color: #f5f5f5;
    min-height: 550px;
  }
  h2 {
    text-align: center;
    @include margin(0, 0, 40px, 0);
  }
  .navigation {
    @include margin(0, 0, 30px, 0);
    &__list-group {
      flex-wrap: wrap;

      @include breakpoint(sm) {
        flex-wrap: wrap;
      }
    }
    &__list-item {
      width: 50%;

      @include breakpoint(sm) {
        width: 100%;
      }
    }
    &__link {
      text-align: center;
      @include transition(all 0.5s ease);
      display: block;
      @include padding(20px, 20px, 20px, 20px);
      @include border-radius(5px);

      &:hover {
        @include card-hover-shadow;
        background-color: $white-color;
        .navigation__link-text {
          color: $brand-color;
        }

        .navigation__link-icon {
          margin: 4px auto 0;
        }
        .navigation__link-text {
          @include margin(4px, 0, 0, 0);
        }
      }
    }

    &__link-icon {
      display: block;
      background: url(../images/covid-navigation-icons-sprite.png) no-repeat;
      margin: 0 auto;
      background-size: 717px 73px;
      @include transition(all 0.5s ease);
    }
    &--open-account {
      background-position: -15px -11px;
    }
    &--mobile-banking {
      background-position: -70px -11px;
    }
    &--prepaid-card {
      background-position: -130px -11px;
    }
    &--location {
      background-position: -183px -11px;
    }
    &--apply-us {
      background-position: -232px -11px;
    }
    &--personal-relief-icon-01 {
      background-position: -281px -11px;
      width: 50px;
      height: 50px;
    }
    &--personal-relief-icon-02 {
      background-position: -326px -11px;
      width: 50px;
      height: 50px;
    }
    &--personal-relief-icon-03 {
      background-position: -370px -11px;
      width: 50px;
      height: 50px;
    }
  }
  .right-nav {
    .navigation__list-item {
      width: 100%;
    }
  }
}

.covid-19-btm {
  background: $brand-color;
  p {
    font-size: 30px;
    text-align: center;
    color: $white-color;
    @include padding(0, 50px, 0, 50px);
    a {
      color: $white-color;
    }
  }
}

.forex-rate-tab {
  .nav-pills {
    @extend %nav-pills;
  }
  /* accordion  */
  .tab-content {
    .card {
      border: 0 !important;
      @include margin(0, 0, 20px, 0);
      @include my-shadow();
      background: $white-color;
      @include padding(25px, 50px, 35px, 50px);

      @include breakpoint(sm) {
        @include padding(25px, 25px, 25px, 25px);
      }
      @include breakpoint(md) {
        @include padding(25px, 25px, 25px, 25px);
      }

      .date {
        color: $brand-color;
        @include margin(0, 0, 20px, 0);
        display: block;
      }
    }
    .card-header {
      background: none !important;
      border-bottom: 0;
      @include margin(0, 0, 10px, 0);
      @include padding(0, 0, 0, 0);

      h5 {
        font-size: 28px;
        color: $dark-grey-color-shade;
        @include padding(0, 0, 0, 0);
        @include margin(0, 0, 10px, 0);
      }
    }
    .card-body {
      @include padding(0, 0, 0, 0);
      @include margin(0, 0, 0, 0);
      border-top: 0;

      p {
        @include margin(0, 0, 10px, 0);
        color: $dark-grey-color-shade;
        font-size: 18px;
      }
      ul {
        @include margin(0, 0, 30px, 0);
        li {
          position: relative;
          @include margin(0, 0, 10px, 0);
          color: $dark-grey-color-shade;
          font-size: 16px;
          @include padding(0, 0, 0, 30px);

          &:before {
            width: 5px;
            height: 5px;
            background: $brand-color;
            content: "";
            left: 0;
            top: 9px;
            @include border-radius(50%);
            position: absolute;
          }
        }
      }
      .news-item {
        border: 1px solid $light-grey-color;
        @include padding(30px, 30px, 30px, 30px);
        @include margin(0, 0, 30px, 0);
        @include transition(all 0.5s ease);
        @include border-radius(5px);

        &__date {
          color: $brand-second-color;
          font-size: 18px;
          @include margin(0, 0, 10px, 0);
          display: block;
        }

        &:hover {
          @include card-hover-shadow;
          @include border-radius(5px);
          @include transform(translateY(-5px));

          @include breakpoint(sm) {
            box-shadow: none;
          }
          @include breakpoint(md) {
            box-shadow: none;
          }
        }
      }
    }
  }

  .filters-row {
    @include margin(0, 0, 30px, 0);

    @include breakpoint(sm) {
      .custom-dropdown-list {
        @include margin(0, 0, 20px, 0);
      }
    }
  }
}

.ticker-wrap {
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background-color: $light-grey-color;

  .ticker {
    display: flex;
    height: 4rem;
    line-height: 4rem;
    white-space: nowrap;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;

    &__item {
      display: flex;
      padding: 0 2rem;
      font-size: 14px;
      color: $black-color;

      .value {
        color: $black-color;
        @include padding(0, 10px, 0, 10px);
      }
      .value-down {
        color: red;
        font-size: 14px;
      }
      .value-up {
        color: green;
        font-size: 14px;
      }
    }

    &__logo-thumb {
      display: flex;
      align-items: center;

      .logo-holder {
        width: 35px;
        height: 35px;
        overflow: hidden;
        display: flex;
        background: $white-color;
        @include border-radius(50%);
        @include padding(7px, 7px, 7px, 7px);
        @include margin(0, 10px, 0, 0);
      }

      span {
        font-family: $font-secondary-en;
      }
    }
  }

  @-webkit-keyframes ticker {
    0% {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }

    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }

  @keyframes ticker {
    0% {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }

    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
}

.marquee {
  height: 80px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  background-color: $light-grey-color;
  display: flex;
  align-items: center;
}

.marquee--inner {
  display: block;
  width: 200%;
  position: absolute;
  animation: marquee 20s linear infinite;

  span {
    float: left;
    width: 50%;
    display: -webkit-box;

    @include breakpoint(sm) {
      width: 100%;
    }
  }

  .ticker__item {
    font-size: 14px;
    color: $black-color;
    display: flex;
    @include margin(0, 40px, 0, 0);

    .value {
      color: $black-color;
      @include padding(0, 10px, 0, 10px);
    }
    .value-down {
      color: red;
      font-size: 14px;
    }
    .value-up {
      color: green;
      font-size: 14px;
    }
  }
}
.marquee--inner:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.networth-calculator {
  .content {
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      text-align: left;
      li {
        width: 50%;
        @include margin(0, 0, 15px, 0);
        label {
          color: $dark-grey-color;
          font-size: 16px;
          text-transform: capitalize;
          @include margin(0, 30px, 0, 0);
        }
        h3 {
          color: $dark-grey-color;
          font-family: $font-secondary-en;
          font-size: 18px;
          text-align: left;
          @include margin(0, 0, 10px, 0);
          @include padding(0, 0, 10px, 0);
          border-bottom: 1px solid $light-grey-color;
        }
      }
      .input-success {
        background: green;
        color: $white-color;
        font-weight: 700;
        font-size: 18px;
      }
      .input-failure {
        background: red;
        color: $white-color;
        font-weight: 700;
        font-size: 18px;
      }
    }
  }
  .left {
    border-right: 1px solid $light-grey-color;
    @include padding(0, 30px, 0, 0);

    @include breakpoint(sm) {
      @include padding(0, 0, 0, 0);
      border-right: 0;
      @include margin(0, 0, 40px, 0);
    }
  }
}

.property-finance-partnerships {
  .partnerships-item {
    text-align: center;
    @include margin(0, 0, 30px, 0);
    background: $white-color;
    @include border-radius(5px);
    @include transition(all 0.5s ease);
    @include card-shadow;
    display: block;
    @include padding(40px, 0, 40px, 0);

    &__title {
      @include margin(0, 0, 0, 0);
      font-size: 25px;
      color: $black-color;
      font-family: $font-secondary-en;
      text-transform: capitalize;
    }

    &__icon {
      display: block;
      background: url(../images/partnership-icons-sprite.png) no-repeat;
      margin: 0 auto 30px;
      background-size: 432px 120px;
      @include transition(all 0.5s ease);

      @include breakpoint(sm) {
        margin: 0 auto 20px;
      }
    }
    &--icon-01 {
      width: 92px;
      height: 96px;
      background-position: -14px -14px;
    }
    &--icon-02 {
      width: 91px;
      height: 96px;
      background-position: -123px -14px;
    }
    &--icon-03 {
      width: 92px;
      height: 95px;
      background-position: -229px -14px;
    }
    &--icon-04 {
      width: 90px;
      height: 91px;
      background-position: -325px -14px;
    }

    &:hover {
      @include card-hover-shadow;
      @include transform(translateY(-5px));
    }
  }

  .card {
    background: $white-color;
    @include card-shadow;
    @include padding(50px, 50px, 50px, 50px);
    @include margin(0, 0, 40px, 0);

    figure {
      @include margin(0, 0, 30px, 0);
      justify-content: center;
      display: flex;
    }

    h2 {
      @include margin(0, 0, 30px, 0);
      font-size: 36px;
    }
    p {
      @include margin(0, 0, 30px, 0);
      font-size: 16px;
    }
    h3 {
      @include margin(0, 0, 30px, 0);
      font-size: 22px;
      color: $dark-brown-color;
    }
    ul {
      @include margin(0, 0, 30px, 20px);

      @include breakpoint(sm) {
        @include margin(0, 0, 30px, 0);
      }

      li {
        position: relative;
        @include margin(0, 0, 10px, 0);
        color: $dark-grey-color-shade;
        font-size: 16px;
        @include padding(0, 0, 0, 20px);

        &:before {
          width: 5px;
          height: 5px;
          background: $brand-color;
          content: "";
          left: 0;
          top: 9px;
          @include border-radius(50%);
          position: absolute;
        }
      }
    }
    ol {
      @include margin(0, 0, 30px, 20px);

      @include breakpoint(sm) {
        @include margin(0, 0, 30px, 0);
      }

      li {
        position: relative;
        @include margin(0, 0, 10px, 0);
        color: $dark-grey-color-shade;
        font-size: 16px;
        @include padding(0, 0, 0, 20px);

        &:before {
          width: 5px;
          height: 5px;
          border: 1px solid $brand-color;
          content: "";
          left: 0;
          top: 9px;
          background: none;
          border-radius: 50%;
          position: absolute;
        }
      }
    }
    .table {
      @include margin(0, 0, 40px, 0);
    }
  }
}

.saving-calculator-heading {
  background: $white-color;
  @include padding(50px, 0, 40px, 0);
  .line-heading-wrap {
    @include margin(0, 0, 50px, 0);
  }
}
.saving-calculator {
  .left-cols {
    .text-input {
      @include border-radius(3px);
      @include my-shadow;
      position: relative;
      background: $white-color;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      @include padding(10px, 15px, 10px, 0);
      input[type="text"] {
        text-align: right;
        color: $dark-grey-color-shade;
        font-size: 17px;
        font-family: $font-secondary-en;
      }

      button {
        position: absolute;
        color: $brand-color;
        font-size: 20px;
        left: 15px;
        top: 5px;
        &:hover {
          color: $dark-grey-color;
        }
      }
    }

    .range-slider {
      @include margin(0, 0, 35px, 0);
      position: relative;

      label {
        font-size: 18px;
        font-family: $font-secondary-en;
        color: $dark-grey-color-shade;
        @include margin(0, 0, 30px, 0);
        float: left;

        @include breakpoint(sm) {
          float: none;
          display: block;
          @include margin(0, 0, 80px, 0);
        }
      }
      input[type="number"] {
        @include border-radius(3px);
        @include my-shadow;
        @include margin(0, 0, 20px, 0);
        display: inline-block;
        @include padding(7px, 15px, 7px, 55px);
        background: $white-color;
        font-size: 17px;
        font-family: $font-secondary-en;
        color: $dark-grey-color-shade;
        width: 195px;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 17px;

        @include breakpoint(sm) {
          left: 0;
          top: 40px;
        }
      }
      button {
        &:before {
          font-family: FontAwesome;
          content: "\f040";
          position: absolute;
          color: $brand-color;
          font-size: 20px;
          right: 160px;
          top: 5px;

          @include breakpoint(sm) {
            left: 17px;
            top: 45px;
            right: initial;
          }
        }
        &:hover {
          &:before {
            color: $dark-grey-color;
          }
        }
      }

      .edit-values {
        @include breakpoint(sm) {
          float: none;
          @include margin(0, 0, 30px, 0);
        }

        i {
          color: $brand-color;
          @include margin(0, 20px, 0, 0);
          text-align: left;
        }
      }
      .static-value {
        text-align: right;
        float: right;
        font-size: 18px;
        color: $dark-grey-color-shade;
      }

      output {
        display: inline-block;
        position: relative;
        color: $dark-grey-color-shade;
        font-size: 18px;
        float: left;
      }

      .borrow__value {
        position: relative;
        @include padding(0, 0, 0, 40px);
        &:before {
          position: absolute;
          content: "Ksh";
          left: 0;
          font-size: 18px;
        }
      }
      .months__value {
        position: relative;
        @include margin(0, 0, 0, 0);
        &:before {
          position: absolute;
          content: "Months";
          left: 22px;
          font-size: 18px;
        }
      }
    }

    h2 {
      @include margin(0, 0, 30px, 0);
    }
    p {
      color: $dark-brown-color;
      @include margin(0, 0, 30px, 0);
      font-size: 18px;
    }

    .checkboxes {
      @include margin(0, 0, 30px, 0);
    }
    label {
      font-family: $font-secondary-en;
      color: $dark-grey-color-shade;
      font-size: 18px;
    }
  }
  .right-cols {
    background: $white-color;
    @include padding(30px, 30px, 30px, 30px);
    @include card-shadow;
    @include border-radius(5px);
    @include margin(80px, 0, 0, 0);

    h3 {
      font-size: 40px;
      color: $black-color;
      @include margin(0, 0, 20px, 0);
    }

    p {
      color: $dark-grey-color-shade;
      font-size: 18px;
      @include margin(0, 0, 20px, 0);
    }

    &.sticky {
      position: -webkit-sticky;
      position: sticky;
      top: 150px;
    }
  }
}
.ncba-pfp {
  .card {
    @include transition(all 0.5s ease);
    figure {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 250px !important;
    }
    .title {
      font-size: 24px;
      &:hover {
        color: $dark-brown-color;
      }
    }
    &:hover {
      @include card-hover-shadow;
      @include transform(translateY(-5px));
      img {
        @include transform(scale(1.1));
      }
    }
  }
}
.ncba-pfp-detail {
  figure {
    @include border-radius(5px);
    @include margin(100px, 0, 30px, 0);
    position: relative;

    .lg-thumb {
      position: relative;
      img {
        @include border-radius(5px);
      }
    }
    .sm-thumb {
      position: absolute;
      background-color: $white-color;
      left: 30px;
      top: -80px;
      z-index: 9;
      height: 150px;
      width: 150px;
      overflow: hidden;
      @include border-radius(50%);
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        border: 5px solid $white-color;
        @include border-radius(50%);
      }
    }
  }

  figcaption {
    p {
      @include margin(0, 0, 50px, 0);
      font-size: 22px;
      color: $dark-brown-color;
      a {
        color: $brand-color;
      }
    }
    .page-nav {
      display: flex;
      justify-content: space-between;

      @include breakpoint(sm) {
        flex-direction: column;
        align-items: center;
      }

      a {
        color: $brand-color;
        font-size: 24px;
        display: flex;
        align-items: center;
        i {
          @include margin(0, 20px, 0, 20px);
          @include breakpoint(sm) {
            @include margin(0, 20px, 0, 20px);
          }
        }
        &:hover {
          color: $dark-brown-color;
        }
      }
    }
  }
}

.toyota-logo {
  img {
    width: 50%;
  }
}
.toyota-landing {
  h1 {
    font-size: 100px;
    font-family: $font-avertablack-en;
    color: $brand-color;
    small {
      font-family: $font-secondary-en;
      font-size: 50px;
    }
  }
  h2 {
    font-family: $font-secondary-en;
  }
  .dark-blue {
    background: $brand-color;
    h1,
    h2 {
      color: $white-color;
    }
  }
  .number {
    font-size: 30px;
    color: $dark-brown-color;
    font-family: $font-secondary-en;
  }
}

.home-clone-unit-rates {
  .box {
    @include border-radius(5px);
    background: $white-color;
    @include margin(0, 0, 30px, 0);
    @include padding(30px, 30px, 30px, 30px);
    @include card-hover-shadow;

    h3 {
      @include margin(0, 0, 0, 0);
    }
    span {
      @include margin(0, 0, 20px, 0);
      display: inline-block;
      color: $dark-grey-color;
    }
    small {
      font-style: italic;
      color: #666;
    }

    ul {
      display: flex;
      justify-content: space-between;
      @include margin(0, 0, 20px, 0);
      li {
        h5 {
          font-size: 16px;
        }
        p {
          font-size: 24px;
          font-family: $font-secondary-en;
        }
      }
    }
  }
}
