@import "partials/variables", "partials/mixins", "partials/layout";

.unsubscrption-wrapper {
  @include padding(50px, 100px, 50px, 100px);
  @include margin(150px, 0, 100px, 0);
  background: #392030;
  @include border-radius(10px);
  text-align: center;
  color: $white-color;
  h2 {
    color: $white-color;
    @include margin(0, 0, 40px, 0);
    font-family: $font-secondary-en;
  }
  img {
    @include margin(0, 0, 40px, 0);
    width: 15%;
  }
  span {
    font-size: 30px;
    display: block;
    @include margin(0, 0, 40px, 0);
  }
  p {
    text-align: center;
    font-size: 20px;
    @include margin(0, 0, 40px, 0);
    a {
      color: $brand-second-color;
      text-decoration: underline;
    }
  }
}
