header {
  @include breakpoint(sm) {
    display: none;
  }
  @include breakpoint(md) {
    display: none;
  }
 

  /* header primary */
  .header-primary {
    .icon-bar {
      width: 26px;
      height: 3px;
      @include border-radius(50px);
      background-color: $dark-grey-color-shade;
      display: block;
      transition: all 0.4s;
      margin-top: 4px;
    }
    .navbar-toggler {
      border: none;
      background: transparent !important;

      .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
      }
      .middle-bar {
        opacity: 0;
      }
      .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
      }
      &.collapsed {
        .top-bar {
          transform: rotate(0);
        }
        .middle-bar {
          opacity: 1;
        }
        .bottom-bar {
          transform: rotate(0);
        }
      }
    }

    nav {
      &.navbar {
        background: $white-color;
        @include border-radius(0);
        @include padding(0.5rem, 60px, 0.5rem, 60px);
        box-shadow: 0 9px 27px 0 rgba($black-color, 0.1);

        @include breakpoint(sm) {
          @include padding(16px, 15px, 16px, 15px);
          border-bottom: 1px solid #ddd;
        }
        @include breakpoint(md) {
          @include padding(16px, 15px, 16px, 15px);
          border-bottom: 1px solid #ddd;
        }
        @include breakpoint(ipadLandscape) {
          @include padding(0.5rem, 0, 0.5rem, 0);
         
        }

        li {
          &.nav-item {
            @include padding(20px, 20px, 20px, 25px);
            @include breakpoint(sm) {
              @include padding(15px, 0, 0, 15px);
            }
            @include breakpoint(md) {
              @include padding(15px, 0, 0, 15px);
            }

            @include breakpoint(ipadLandscape) {
              @include padding(20px, 10px, 20px, 10px);
            }

          }
          &.search-icon {
            @include padding(20px, 20px, 20px, 55px);
            @include breakpoint(sm) {
              @include padding(20px, 20px, 0, 20px);
            }
            @include breakpoint(md) {
              @include padding(20px, 20px, 0, 20px);
            }
            @include breakpoint(ipadLandscape) {
              @include padding(20px, 20px, 0, 20px);
            }
          }
          &.country-dropdown {
            a {
              font-family: $font-secondary-en;
              font-size: 11px;
              color: $black-color;
              &:after {
                content: "" !important;
                border: 0;
              }

              img {
                @include padding(0, 15px, 0, 0);
              }
              &:hover {
                color: $brand-color !important;
              }
            }
            .dropdown-menu {
              right: 0 !important;
              left: initial;
              top: 45px;
              a {
                @include margin(10px, 0, 10px, 0);
              }
            }
          }
        }

        a {
          color: $black-color !important;

          &:hover {
            color: $brand-color;
          }

          &.nav-link {
            text-transform: uppercase;
            font-size: 16px;
            padding: 0 !important;
            color: $dark-grey-color !important;
            position: relative;
            font-family: $font-avertablack-en;

            &:after {
              content: "";
              position: absolute;
              width: 100%;
              height: 3px;
              bottom: -29px;
              left: 0;
              background-color: $brand-color;
              transform: scaleX(0);
              transform-origin: bottom center;
              transition: transform 0.4s;
              @include breakpoint(sm) {
                bottom: -5px;
              }
              @include breakpoint(md) {
                bottom: -5px;
              }
            }
            
            &:hover {
              color: $brand-color !important;
              &:after {
                transform-origin: bottom center;
                transform: scaleX(1);
              }
            }
          }
        }
        ul {
          &.navbar-nav {
            margin-left: 31%;
            @include breakpoint(sm) {
              @include padding(25px, 0, 25px, 0);
              margin-left: auto !important;
            }
            @include breakpoint(md) {
              margin-left: auto !important;
            }
            @include breakpoint(ipadLandscape) {
              margin-left: 35% !important;
            }
          }
        }

        @include breakpoint(sm) {
          .navbar-toggler {
            margin-left: auto;
            &:hover {
              background: $brand-color;
            }
          }
        }
        @include breakpoint(md) {
          .navbar-toggler {
            margin-left: auto;
            &:hover {
              background: $brand-color;
            }
          }
        }

        .mobile-logo {
          display: none;
          @include breakpoint(sm) {
            background: url(../images/cata-color-logo@3x.png) no-repeat;
            width: 120px;
            height: 40px;
            display: block;
            background-size: 120px 40px;
          }
        }
      }
    }
    .dropdown-menu {
      @include transition(all 0.5s ease);
    }
    .dropdown:hover .dropdown-menu {
      display: block !important;
    }
  }

  /* header secondary */
  .header-secondary {
    background: rgba(#a8acb2, 0.6);
    @include my-shadow;
    @include margin(80px, 0, -73px, 0);
    width: 100%;
    height: 73px;
    z-index: 999;
    position: relative;

    @include breakpoint(sm) {
      @include margin(73px, 0, 0, 0);
      height: auto;
    }
    @include breakpoint(md) {
      @include margin(62px, 0, 0, 0);
      height: auto;
    }
    .container {
      @include breakpoint(sm) {
        @include padding(0, 15px, 0, 15px);
      }
      @include breakpoint(md) {
        @include padding(0, 15px, 0, 15px);
      }
    }

    .icon-bar {
      width: 26px;
      height: 4px;
      @include border-radius(50px);
      background-color: $black-color;
      display: block;
      transition: all 0.4s;
    }
    .navbar-toggler {
      border: none;
      background: transparent !important;

      .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
        margin-top: 3px;
      }
      .middle-bar {
        opacity: 0;
        margin-top: 3px;
      }
      .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
        width: 100%;
        margin-top: 3px;
      }
      &.collapsed {
        .top-bar {
          transform: rotate(0);
          margin-top: 5px;
        }
        .middle-bar {
          opacity: 1;
          margin-top: 5px;
        }
        .bottom-bar {
          transform: rotate(0);
          width: 50%;
          margin-top: 5px;
        }
      }
    }

    nav {
      &.navbar {
        @include border-radius(0);
        @include padding(0.5rem, 80px, 0.5rem, 80px);

        @include breakpoint(sm) {
          @include padding(16px, 15px, 16px, 15px);
        }
        @include breakpoint(md) {
          @include padding(16px, 15px, 16px, 15px);
        }
        li {
          &.nav-item {
            @include padding(20px, 45px, 26px, 25px);
            @include breakpoint(sm) {
              @include padding(15px, 0, 0, 15px);
            }
            @include breakpoint(md) {
              @include padding(15px, 0, 0, 15px);
            }
          }
          &.item-padding {
            @include padding(20px, 0, 20px, 60px);

            @include breakpoint(sm) {
              @include padding(0, 0, 0, 15px);
            }
            @include breakpoint(md) {
              @include padding(15px, 0, 0, 15px);
            }
            a {
              color: $dark-grey-color !important;
            }
          }
        }
        a {
          color: $black-color !important;
          &.nav-link {
            text-transform: uppercase;
            font-size: 16px;
            padding: 0 !important;
            color: $white-color !important;
            position: relative;
            font-family: $font-secondary-en;

            @include breakpoint(sm) {
              text-align: left;
            }
            &:after {
              content: "";
              position: absolute;
              width: 100%;
              height: 3px;
              bottom: -21px;
              left: 0;
              background-color: $brand-color;
              transform: scaleX(0);
              transform-origin: bottom center;
              transition: transform 0.4s;

              @include breakpoint(sm) {
                bottom: -5px;
                width: 95%;
                left: -4px;
              }
              @include breakpoint(md) {
                bottom: -5px;
                width: 95%;
                left: -4px;
              }
            }
            &:hover {
              color: $brand-color !important;
              &:after {
                transform-origin: bottom center;
                transform: scaleX(1);
              }
            }
          }
        }
        ul {
          &.navbar-nav {
            margin-left: 30% !important;

            @include breakpoint(sm) {
              @include padding(25px, 0, 25px, 0);
              margin-left: auto !important;
            }
            @include breakpoint(md) {
              margin-left: auto !important;
            }
          }
        }

        .nav-margin {
          @include margin(40px, 0, 0, 0);

          @include breakpoint(sm) {
            @include margin(0, 0, 0, 0);
          }
        }

        @include breakpoint(sm) {
          .navbar-toggler {
            margin-left: auto;
            &:hover {
              background: $brand-second-color;
            }
          }
        }
        @include breakpoint(md) {
          .navbar-toggler {
            margin-left: auto;
            &:hover {
              background: $brand-second-color;
            }
          }
        }
      }
    }

    .mega-menu {
      @include border-radius(0);
      border: 0;
      @include padding(25px, 0, 25px, 50px);
      animation: fadeIn 0.9s ease forwards;

      @include breakpoint(sm) {
        @include padding(25px, 25px, 25px, 25px);
      }
      @include breakpoint(md) {
        @include padding(25px, 25px, 25px, 25px);
      }

      .title {
        text-transform: capitalize;
        color: $brand-color;
        font-size: 20px;
        @include margin(0, 0, 10px, 0);
        display: block;
      }
      .nav {
        animation: fadeInLeft 0.9s ease forwards;

        @include breakpoint(sm) {
          animation: inherit;
        }
        @include breakpoint(md) {
          animation: inherit;
        }
        .nav-item {
          display: flex;
          flex-wrap: nowrap;
          flex-direction: column;
          @include padding(0, 0, 13px, 0);
          width: 100%;
          .nav-link {
            color: $text-grey-color !important;
            font-size: 16px;
            text-transform: capitalize;

            font-family: $font-primary-en;
            &:after {
              height: 1px;
              bottom: -3px;
              background-color: $dark-grey-color;
            }

            &:hover {
              color: $dark-grey-color !important;
            }
          }
        }
      }
    }

    .navbar .dropdown {
      position: static;
    }
    .navbar .dropdown-menu {
      width: calc(100% - 410px);
      @include margin(0, 0, 0, 410px);
      left: 0;
      right: 0;
      top: 73px;
      overflow: hidden;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.3s linear;
      box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);

      @include breakpoint(sm) {
        width: 95%;
        @include margin(0, 0, 0, 0);
      }
      @include breakpoint(md) {
        width: 95%;
        @include margin(0, 0, 0, 90px);
      }

      @include breakpoint(ipadLandscape) {
        @include margin(0, 0, 0, 320px);
        width: calc(100% - 320px);
      }

    }
    .navbar .dropdown:hover .dropdown-menu,
    .navbar .dropdown .dropdown-menu:hover {
      display: block;
      visibility: visible;
      opacity: 1;
      transition: visibility 0s, opacity 0.3s linear;
    }
    .navbar .dropdown-menu {
      background-color: $white-color;
      min-height: 295px;
    }
  }
}

/* search */
#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
  opacity: 0;
  background-color: rgba($black-color, 0.9);
  @include transition(all 0.5s ease);
  @include transform(translate(0px, -100%) scale(0, 0));

  .search-holder {
    position: absolute;
    width: 50%;
    top: 50%;
    margin: auto;
    left: 0;
    right: 0;
    opacity: 0;

    @include breakpoint(sm) {
      width: 90%;
      top: 40%;
    }

    @include breakpoint(md) {
      width: 80%;
      top: 40%;
    }

    &__input {
      position: absolute;
      width: 100%;
      color: $white-color;
      background: none;
      font-size: 30px;
      border: 2px solid $white-color;
      @include border-radius(50px);
      @include padding(15px, 40px, 15px, 40px);

      &:focus {
        border: 2px solid $brand-second-color;
      }

      @include breakpoint(sm) {
        font-size: 20px;
        @include padding(15px, 20px, 15px, 20px);
      }
    }
    &__button {
      position: absolute;
      top: 22px;
      right: 30px;
      color: $white-color;
      &:hover {
        color: $brand-second-color;
      }

      @include breakpoint(sm) {
        top: 14px;
      }
    }
  }

  .close-search {
    position: absolute;
    top: 40px;
    right: 40px;
    color: $color-white;
    font-size: 22px;
    border: 2px solid $color-white;
    @include transition(all 0.5s ease-in-out);
    @include border-radius(50px);
    width: 45px;
    height: 45px;
    text-align: center;
    opacity: 0;

    &:hover {
      background: $color-white;
      color: $brand-color;
    }

    @include breakpoint(sm) {
      top: 20px;
      right: 20px;
    }
  }

  &.open-search {
    @include transform(translate(0px, 0px) scale(1, 1));
    opacity: 1;
    .close-search {
      animation: fadeInDown 0.9s ease forwards;
      animation-delay: 0.55s;
    }
    .search-holder {
      animation: fadeInLeft 0.9s ease forwards;
      animation-delay: 0.35s;
    }
  }
}

/* inner pages header */
.banking-header-inner {
  .logo {
    background: url(../images/cata-color-logo@3x.png) no-repeat;
    width: 178px;
    height: 55px;
    display: block;
    background-size: 178px 55px;
    @include margin(0, 0, 0, 130px);

    @include breakpoint(sm) {
      @include margin(0, 0, 0, 70px);
      width: 120px;
      height: 40px;
      background-size: 120px 40px;
    }
    @include breakpoint(md) {
      @include margin(0, 0, 0, 100px);
      width: 120px;
      height: 40px;
      background-size: 120px 40px;
    }
  }
  .navbar-nav {
    margin-left: 15% !important;
  }
  .nav-link {
    color: $dark-grey-color !important;
    font-family: $font-secondary-en;
  }
  .search-icon {
    @include padding(20px, 20px, 20px, 320px);

    @include breakpoint(sm) {
      @include padding(20px, 20px, 20px, 20px);
    }
    @include breakpoint(md) {
      @include padding(20px, 20px, 20px, 20px);
    }
  }
}

/* left nav */
.nav-wrapper {
  position: fixed;
  width: 410px;
  height: 100vh;
  z-index: 9999;
  @include transform(translateX(-100%));
  @include transition(transform 0.3s ease);

  @include breakpoint(sm) {
    width: 300px;
  }

  &.show-menu {
    transform: none;

    .overlay {
      width: 100%;
      opacity: 0.9;
    }
  }

  .overlay {
    position: fixed;
    z-index: 9;
    top: 80px;
    left: 0;
    width: 0;
    height: calc(100% - 80px);
    opacity: 0;
    @include transition(all 0.5s ease);
    background: $black-color;

    @include breakpoint(sm) {
      height: calc(100% - 72px);
      top: 56px;
    }
    @include breakpoint(md) {
      height: calc(100% - 72px);
      top: 56px;
    }
  }
}

.js-nav-toggle {
  position: fixed;
  top: 23px;
  left: 34px;
  width: 43px;
  height: 40px;
  display: inline-block;
  color: $dark-grey-color;
  z-index: 99999;

  @include breakpoint(sm) {
    top: 11px;
    left: 8px;
  }
  @include breakpoint(md) {
    top: 11px;
    left: 8px;
  }

  span {
    position: relative;
    background-color: $dark-grey-color;
    height: 2px;
    display: block;
    width: 33px;
    margin: 17px auto 0;
    @include transition(all 0.5s ease);

    &:before,
    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 31px;
      height: 0;
      left: 1px;
      top: 50%;
      margin-top: -7px;
      @include transition(all 0.5s ease);
    }

    &:before {
      box-shadow: 0 14px 0 1px $dark-grey-color;
    }

    &:after {
      box-shadow: 0 0 0 1px $dark-grey-color;
    }

    .show-menu & {
      background-color: transparent;

      &:before {
        @include transform(rotate(-45deg));
      }

      &:after {
        @include transform(rotate(45deg));
      }

      &:before,
      &:after {
        margin-top: 0;
        box-shadow: 0 0 0 1px $dark-grey-color;
      }
    }
  }
}

.close-menu {
  .js-nav-toggle {
    opacity: 0;
  }
  .js-nav-toggle-close {
    opacity: 10;
  }
}

.js-nav-toggle-close {
  span {
    background-color: transparent;
    &:before {
      @include transform(rotate(-45deg));
    }

    &:after {
      @include transform(rotate(45deg));
    }
    &:before,
    &:after {
      margin-top: 0;
      box-shadow: 0 0 0 1px $dark-grey-color;
    }
  }
}

.left-nav {
  position: absolute;
  left: 0;
  top: 80px;
  height: 100%;
  width: 100%;
  z-index: 10;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba($white-color, 0.4);

  @include breakpoint(sm) {
    top: 56px;
  }
  @include breakpoint(md) {
    top: 2px;
  }

  .nav-toggle {
    position: absolute;
    top: 0;
    left: 0;
    color: $white-color;
    z-index: 100;
    cursor: pointer;

    @include breakpoint(sm) {
      top: 2px;
    }

    &.back-visible {
      .nav-back {
        opacity: 1;
      }
    }
  }
  .nav-back {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    z-index: 1;
    opacity: 0;
    background: $dark-grey-color;
    @include transition(all 0.5s ease);

    &:hover {
      background: $brand-color;
    }

    &:before {
      left: 34%;
      width: 9px;
      height: 9px;
      border: 2px solid currentcolor;
      border-right-color: transparent;
      border-bottom-color: transparent;
      content: "";
      position: absolute;
      top: 50%;
      @include transform(translate(-50%, -50%) rotateZ(-45deg));
    }

    &:after {
      left: 28%;
      width: 15px;
      height: 2px;
      content: "";
      position: absolute;
      top: 50%;
      background-color: currentcolor;
      margin-top: -1px;
    }
  }

  h3 {
    font-size: 18px;
    color: $brand-color;
    @include margin(15px, 0, 15px, 40px);
  }

  a {
    display: block;
    position: relative;
    text-transform: capitalize;
    @include padding(10px, 30px, 15px, 40px);
    color: $white-color;

    &:before {
      position: absolute;
      content: "";
      height: 1px;
      width: 0;
      background: $brand-color;
      top: 21px;
      left: 0;
      @include transition(all 0.3s ease-out);
    }

    &:hover {
      color: $brand-color;
      &:before {
        width: 14px;
      }
    }
    &.yellow-link {
      color: $brand-second-color;
    }
  }

  ul {
    @include padding(45px, 0, 0, 0);
    @include transition(transform 0.3s ease);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    ul {
      display: none;
      left: 100%;
      li {
        a {
          @include padding(0, 0, 10px, 40px);

          &:before {
            top: 12px;
          }
        }
      }
    }
  }

  li {
    &.has-dropdown {
      > a {
        padding-right: 30px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &:after {
          content: "";
          position: absolute;
          top: 50%;
          right: 50px;
          width: 9px;
          height: 9px;
          border: 1px solid currentcolor;
          border-left-color: transparent;
          border-top-color: transparent;
          transform: translateY(-90%) rotateZ(-45deg);

          transform-origin: 100%;
          @include transition(all 0.5s ease);
        }
      }
    }

    &.nav-dropdown-open {
      ul {
        display: block;
      }
    }

    &:hover {
      &.has-dropdown {
        > a {
          &:after {
            right: 40px;
          }
        }
      }
    }
  }
}

.mobile-menu {
  display: none;

  @include breakpoint(sm) {
    display: block;
  }
  @include breakpoint(md) {
    display: block;
  }
  
  

  .mobile-logo {
    background: url(../images/cata-color-logo@3x.png) no-repeat;
    width: 120px;
    height: 40px;
    display: block;
    background-size: 120px 40px;

    @include breakpoint(sm) {
      @include margin(0, 0, 0, 50px);
    }
    @include breakpoint(md) {
      display: none;
    }
  }
  .search-button {
    color: $dark-grey-color;
    @include margin(3px, 15px, 0, auto);
    &:hover {
      color: $brand-color;
    }
    i {
      font-size: 20px;
    }
  }

  .icon-bar {
    width: 26px;
    height: 4px;
    @include border-radius(50px);
    background-color: $dark-grey-color;
    display: block;
    transition: all 0.4s;
  }
  .navbar-toggler {
    border: none;
    background: transparent !important;

    .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
      margin-top: 3px;
    }
    .middle-bar {
      opacity: 0;
      margin-top: 3px;
    }
    .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
      width: 100%;
      margin-top: 3px;
    }
    &.collapsed {
      .top-bar {
        transform: rotate(0);
        margin-top: 3px;
      }
      .middle-bar {
        opacity: 1;
        margin-top: 3px;
      }
      .bottom-bar {
        transform: rotate(0);
        width: 50%;
        margin-top: 3px;
      }
    }
  }
  nav {
    &.navbar {
      background: $white-color;
      @include border-radius(0);
      box-shadow: 0 9px 27px 0 rgba($black-color, 0.1);
      @include breakpoint(md) {
        padding: 1.1rem 1rem;
      }

      .navbar-nav {
        @include padding(30px, 0, 0, 0);
        .dropdown-menu {
          border: 0;
        }
        li {
          &.dropdown-level-one {
            .dropdown-level-one-toggle {
              text-transform: uppercase;
              font-size: 16px;
              color: $dark-grey-color;
              font-family: $font-secondary-en;
              @include padding(15px, 0, 15px, 40px);

              &:after {
                content: "\f107";
                font-family: "FontAwesome";
                position: absolute;
                @include margin(3px, 0, 0, 15px);
                border: 0;
                color: $dark-grey-color;
                font-size: 15px;
                left: 0;
                top: 13px;
              }
            }

            &.show {
              .dropdown-level-one-toggle {
                &:after {
                  content: "\f106";
                }
              }
            }
          }

          &.dropdown-level-two {
            .dropdown-level-two-toggle {
              color: $brand-color;
              text-transform: uppercase;
              font-size: 12px;
              font-family: $font-secondary-en;
              @include padding(6px, 0, 6px, 50px);
              &:focus {
                background: none;
              }
              &:hover {
                background: none;
              }
              &:after {
                content: "\f107";
                font-family: "FontAwesome";
                position: absolute;
                @include margin(3px, 0, 0, 15px);
                border: 0;
                color: $brand-color;
                font-size: 15px;
                right: 20px;
                top: 2px;
              }
            }
          }
          &.dropdown-level-three {
            .dropdown-level-three-toggle {
              color: $dark-grey-color-shade;
              text-transform: uppercase;
              font-size: 12px;
              font-family: $font-secondary-en;
              @include padding(6px, 0, 6px, 70px);
              &:focus {
                background: none;
              }
              &:hover {
                background: none;
              }
              &:after {
                content: "\f107";
                font-family: "FontAwesome";
                position: absolute;
                @include margin(3px, 0, 0, 15px);
                border: 0;
                color: $dark-grey-color-shade;
                font-size: 15px;
                right: 20px;
                top: 2px;
              }
            }

            .dropdown-menu {
              @include margin(0, 0, 0, 60px);
              font-size: 12px;
              letter-spacing: 1px;

              .dropdown-item {
                &:focus {
                  background: none;
                }
                &:hover {
                  background: none;
                }
              }
            }
          }
        }
      }

      .dropdown-level-two {
        position: relative;
        .show {
          &:after {
            content: "\f106";
            font-family: "FontAwesome";
            position: absolute;
            @include margin(3px, 0, 0, 15px);
            border: 0;
            color: $brand-color;
            font-size: 15px;
            right: 10px;
            top: 0;
            background: $white-color;
          }
        }
      }
      .dropdown-level-three {
        position: relative;
        .show {
          &:after {
            content: "\f106";
            font-family: "FontAwesome";
            position: absolute;
            @include margin(3px, 0, 0, 15px);
            border: 0;
            color: $dark-grey-color-shade;
            font-size: 15px;
            right: 10px;
            top: 0;
            background: $white-color;
          }
        }
      }

      .country-dropdown {
        background: #f8f5f5;
        @include padding(10px, 0, 10px, 15px);
        @include margin(20px, 0, 10px, 0);

        &.dropdown {
          font-size: 16px;
          color: $dark-grey-color;
          font-family: $font-secondary-en;
          .dropdown-toggle {
            display: flex;
            align-items: center;
            position: relative;
            width: 40%;

            img {
              @include margin(0, 15px, 0, 0);
            }

            &:after {
              content: "\f107";
              font-family: "FontAwesome";
              position: absolute;
              @include margin(3px, 0, 0, 15px);
              border: 0;
              color: $brand-color;
              font-size: 15px;
              right: 0;
              top: 7px;
              width: fit-content;
            }
          }
        }
        &.show {
          .dropdown-toggle {
            &:after {
              content: "\f106";
            }
          }
        }

        .dropdown-menu {
          background: none;
          .dropdown-item {
            font-size: 12px;
            color: $dark-grey-color;
            text-transform: uppercase;
            &:focus {
              background: none;
            }
            &:hover {
              background: none;
            }
          }
        }
      }
    }
  }
}


