/* sweap button */
%sweep-btn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  background: $brand-color;
  color: $white-color;
  @include border-radius(5px);
  overflow: hidden;
  z-index: 0;
  @include padding(15px, 50px, 15px, 50px);
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $dark-grey-color;
    color: $white-color;
    @include transform(scaleX(0));
    @include transition(transform 0.4s ease-out);
  }
  &:hover {
    color: $white-color;
  }
  &:hover:before {
    @include transform(scaleX(1));
    color: $white-color;
  }
}

.sweep-btn-right {
  @extend %sweep-btn;
  &:before {
    transform-origin: 0 50%;
  }
}
.sweep-btn-left {
  @extend %sweep-btn;
  &:before {
    transform-origin: 100% 50%;
  }
}
.sweep-btn-center {
  @extend %sweep-btn;
  &:before {
    transform-origin: 50% 50%;
  }
}

.sweep-btn-brown {
  @extend %sweep-btn;
  @extend .sweep-btn-center;
  background: $dark-brown-color;
  &:before {
    background: $brand-color;
  }
}

.sweep-btn-white {
  @extend %sweep-btn;
  @extend .sweep-btn-center;
  background: $white-color;
  color: $dark-brown-color;
  font-family: $font-secondary-en;
  &:before {
    background: $brand-color;
  }
}

.sweep-btn-yellow {
  @extend %sweep-btn;
  @extend .sweep-btn-center;
  background: $brand-second-color;
  color: $dark-grey-color;
  font-family: $font-secondary-en;

  &:before {
    background: $dark-grey-color;
  }
}

.sweep-btn-black {
  @extend %sweep-btn;
  @extend .sweep-btn-center;
  background: $black-color;
  color: $white-color;
  font-family: $font-secondary-en;
  &:before {
    background: $brand-color;
  }
}

@mixin anchor__inner {
  &:after {
    position: absolute;
    content: "";
    border-right: 2px solid $brand-second-color;
    border-top: 2px solid $brand-second-color;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    top: 8px;
    right: -28px;
    @include transition(all 0.5s ease);
  }
  &:before {
    content: "";
    position: absolute;
    height: 35px;
    width: 35px;
    right: -42px;
    border-radius: 100%;
    border: 2px solid $brand-second-color;
    top: -5px;
    @include transition(all 0.5s ease);
  }
  .ui-line {
    opacity: 1;
    width: 20px;
  }
  .button-text {
    margin-right: 30px;
    color: $brand-second-color;
  }
}

/* read more button */
.button__cta {
  display: inline-block;
  color: $brand-color;
  position: relative;
  .anchor__inner {
    display: inline-block;
    position: relative;
    width: fit-content;
    text-align: right;
    font-size: 17px;
  }
  .ui-line {
    height: 1px;
    width: 0;
    background: $brand-second-color;
    display: inline-block;
    position: absolute;
    top: 13px;
    right: 3px;
    opacity: 0;
    @include transition(all 0.5s ease);
  }
  .button-text {
    @include transition(all 0.5s ease);
  }
  &:hover {
    @include anchor__inner;
  }
}

/* hover styles */
.sliding-underline-link {
  position: relative;
  color: $brand-color;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -2px;
    left: 0;
    background-color: $light-grey-color;
    transform-origin: bottom center;
  }
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: $dark-grey-color;
    transform-origin: bottom center;
    @include transition(transform 0.4s);
    @include transform(scaleX(0));
  }
  &:hover {
    color: $dark-grey-color;
    &:after {
      transform-origin: bottom center;
      @include transform(scaleX(1));
    }
  }
}

.form-control {
  border: 0;
  font-size: 13px;
  height: 45px;
  letter-spacing: 1px;
  color: $black-color;
  box-shadow: 0 1px 5px 0 rgba($black-color, 0.1) !important;

  &:focus {
    border: 1px solid $brand-color;
    box-shadow: 0 1px 5px 0 rgba($brand-color, 0.8);
  }
}

/* custom checkboxes and radio */
.radios,
.checkboxes {
  @include margin(0, 0, 5px, 0);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  label {
    cursor: pointer;
    line-height: 1rem;
  }
  @mixin vh() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  input[type="checkbox"],
  input[type="radio"] {
    @include vh();
    &:focus {
      + label {
        &:before {
        }
      }
    }
    + label {
      position: relative;
      @include padding(4px, 0, 0, 35px);
      @include margin(0, 0, 15px, 0);
      user-select: none;
      color: $text-grey-color;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        border: 1px solid $brand-color;
        @include border-radius(50%);
        background: $white-color;
        text-align: center;
        @include transition(all 0.5s ease);
      }
      &:after {
        content: "";
        position: absolute;
        transform: scale(0);
        transition: transform 200ms ease-out;
      }
    }
  }

  input[type="checkbox"] {
    + label {
      &:after {
        background-color: transparent;
        content: "";
        display: block;
        position: absolute;
        left: 7px;
        top: 5px;
        width: 6px;
        height: 9px;
        opacity: 0.2;
        border-bottom: 3px solid $brand-color;
        border-right: 3px solid $brand-color;
        @include transform(rotate(45deg));
        transition: border-color 0.3s ease;
      }
    }
    &:checked {
      + label {
        &:before {
          content: "";
        }

        &:after {
          content: "";
          opacity: 1;
        }
      }
    }
  }

  input[type="radio"] {
    + label {
      &:before,
      &:after {
        @include border-radius(50%);
      }
      &:after {
        left: 6px;
        top: 6px;
        width: 8px;
        height: 8px;
      }
    }
    &:checked {
      + label {
        &:before {
          animation: borderscale 300ms ease-in;
        }
        &:after {
          background: $brand-color;
          @include transform(scale(1));
        }
      }
    }
  }
}

/* custom file uploader */
.file-upload-wrapper {
  position: relative;
  @include margin(0, 0, 20px, 0);
  width: 100%;
  height: 30px;
  &:after {
    content: attr(data-text);
    font-size: 14px;
    position: absolute;
    top: 3px;
    left: 110px;
    background: none;
    display: block;
    pointer-events: none;
    z-index: 20;
    color: $text-grey-color;
  }

  &:before {
    content: "Choose file";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background: none;
    color: $brand-color;
    z-index: 25;
    font-size: 12px;
    padding: 15px;
    pointer-events: none;
    border: 1px solid $brand-color;
    @include transition(all 0.5s ease);
    @include padding(5px, 15px, 5px, 15px);
    @include border-radius(3px);
  }

  &:hover {
    &:before {
      background: $brand-color;
      color: $white-color;
    }
  }
  input {
    opacity: 0;
    /* position: absolute; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
  }
}

/* range slider */
.rangeslider,
.rangeslider__fill {
  display: block;
  @include border-radius(10px);
  @include my-shadow;
  @include margin(0, 0, 20px, 0);
}

.rangeslider {
  background: $white-color;
  position: relative;
}

.rangeslider--horizontal {
  height: 10px;
  width: 100%;
}
.rangeslider__fill {
  background: $brand-color;
  position: absolute;
}
.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}
.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}
.rangeslider__handle {
  background: $white-color;
  cursor: pointer;
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  @include border-radius(50%);
}

.rangeslider__handle:active,
.rangeslider--active .rangeslider__handle {
  background: $dark-grey-color;
}
.rangeslider--horizontal .rangeslider__handle {
  top: -10px;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}
.rangeslider--vertical .rangeslider__handle {
  left: -10px;
  touch-action: pan-x;
  -ms-touch-action: pan-x;
}

// custom select list dropdown
.nice-select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: $white-color;
  @include border-radius(5px);
  cursor: pointer;
  display: block;
  float: left;
  font-size: 15px;
  font-weight: normal;
  height: 45px;
  line-height: 45px;
  outline: none;
  @include padding(0, 20px, 0, 20px);
  position: relative;
  text-align: left !important;
  @include transition(all 0.5s ease);
  user-select: none;
  white-space: nowrap;
  width: 100%;
  color: $dark-grey-color-shade;
  @include my-shadow;

  &:before {
    width: 20px;
    height: 20px;
    content: "";
    right: 12px;
    top: 50%;
    @include border-radius(50%);
    background: $brand-color;
    position: absolute;
    right: 15px;
    top: 13px;
  }

  // Arrow
  &:after {
    border-bottom: 2px solid $white-color;
    border-right: 2px solid $white-color;
    content: "";
    display: block;
    height: 6px;
    width: 6px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 23px;
    top: 23px;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    @include transition(all 0.5s ease);
  }

  &:hover {
    &:before {
      background: $dark-grey-color;
    }
  }

  &.open {
    @extend :active;
    &:after {
      transform: rotate(-135deg);
    }
    .list {
      opacity: 1;
      pointer-events: auto;
      transform: scale(1) translateY(0);
    }
  }
  // Modifiers
  &.wide {
    width: 100%;
    .list {
      left: 0 !important;
      right: 0 !important;
    }
  }

  // List and options
  .list {
    background-color: $white-color;
    box-shadow: 0 8px 5px 0 rgba($black-color, 0.1);
    @include border-radius(5px);
    margin-top: -6px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100px;
    overflow: hidden;
    overflow-y: auto;
    transform-origin: 50% 0;
    -webkit-overflow-scrolling: touch;
    // transform: scale(0.75) translateY(-$input_height / 2);
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
    @include padding(20px, 0, 10px, 0);
    &:hover .option:not(:hover) {
      background-color: transparent !important;
    }
  }
  .option {
    cursor: pointer;
    line-height: 35px;
    list-style: none;
    min-height: 35px;
    outline: none;
    @include padding(0, 20px, 0, 20px);
    @include transition(all 0.5s ease);
    color: $dark-grey-color-shade;
    text-align: left;
    &:hover,
    &.focus,
    &.selected.focus {
      color: $brand-color;
    }
    &.selected {
      font-weight: bold;
    }
  }
}

// Use display instead of opacity for IE <= 10
.no-csspointerevents .nice-select {
  .list {
    display: none;
  }
  &.open {
    .list {
      display: block;
    }
  }
}

/* arrow link */
.arrow__link {
  display: inline-block;
  font-size: 28px;
  color: $black-color;
  position: relative;

  .text {
    display: inline-block;
    @include transition(all 0.5s ease);
  }
  &:after {
    display: inline-block;
    font-family: FontAwesome;
    @include margin(0, 0, 0, 25px);
    content: "\f105";
    font-size: 18px;
    @include transition(transform 0.5s ease);
  }
  &:before {
    height: 1px;
    content: "";
    position: absolute;
    left: 0;
    top: 20px;
    width: 0;
    @include transition(all 0.5s ease);
    background: $brand-color;
  }
  &:hover {
    color: $brand-color;
    .text {
      @include margin(0, 0, 0, 30px);
      color: $brand-color;
    }
    &:after {
      @include transform(translateX(14px));
    }
    &:before {
      width: 15px;
    }
  }
}

%nav-pills {
  width: 90%;
  @include breakpoint(sm) {
    width: 100%;
  }
  @include breakpoint(md) {
    width: 100%;
  }

  .nav-link {
    background: none;
    color: $dark-grey-color;
    font-size: 16px;
    text-transform: uppercase;
    @include margin(0, 0, 40px, 0);
    @include padding(0, 0, 0, 0);
    letter-spacing: 2px;
    font-family: $font-secondary-en;
    position: relative;

    &:before {
      font-family: FontAwesome;
      content: "\f105";
      position: absolute;
      right: 5px;
      font-size: 25px;
      top: -7px;
      color: $dark-grey-color-shade;
      @include transition(all 0.5s ease);
    }

    &:hover {
      color: $brand-color;
      &:before {
        color: $brand-color;
        right: 0;
      }
    }

    &.active {
      color: $brand-color;
      background: none;
      &:before {
        color: $brand-color;
      }
    }
  }
}
