.assets-financing-application {

  @include breakpoint(sm) {
    .sweep-btn-center {
      width: 100%;
    }
  }
  @include breakpoint(md) {
    @include padding(30px, 0, 30px, 0);
  }

  .title {
    color: $brand-color;
    font-size: 40px;
    @include margin(0, 0, 50px, 0);

    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 30px, 0);
    }

    @include breakpoint(sm) {
      font-size: 25px;
    }
    @include breakpoint(md) {
      font-size: 25px;
    }
  }
  .application-form-row {
    .nice-select {
      width:50%;
     
    }
    &__title-sm {
      color: $black-color;
      font-size: 20px;
      text-transform: uppercase;
      @include breakpoint(sm) {
        @include margin(0, 0, 20px, 0);
      }
      @include breakpoint(md) {
        @include margin(0, 0, 20px, 0);
      }
    }
    &__attach-dtl {
      color: $black-color;
      font-size: 14px;
      @include margin(0, 0, 15px, 0);
    }

    @include breakpoint(sm) {
      .form-group {
        @include margin(0, 0, 20px, 0);
      }
    }
  }
  .form-row {
    @include margin(0, 0, 15px, 0);

    label {
      @include margin(0, 0, 20px, 0);
      font-size: 14px;
      color: $black-color;
    }
    
    p {
      color: $text-grey-color;
      font-size: 12px;
      @include margin(10px, 0, 0, 0);
    }
  }

  .radio-group {
    @include margin(0, 0, 20px, 0);
    .radios {
      label {
        font-size: 18px !important;
      }
    }
    p {
      @include margin(0, 0, 20px, 0);
    }
  }
  .sweep-btn-center {
    @include margin(0, 50px, 0, 0);
    @include breakpoint(sm) {
      @include margin(0, 0, 20px, 0);
    }
  }
}

.asset-finance-circle {
  width: 182px;
  height: 182px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: $white-color;
  background: $brand-color;
  @include my-shadow();
  @include border-radius(50%);

  @include breakpoint(sm) {
    @include margin(40px, 0, 0, 0);
  }
  @include breakpoint(md) {
    @include margin(40px, 0, 0, 0);
  }
  
  span {
    display: block;
    &.text-sm {
      font-size: 20px;
    }
    &.text-lg {
      font-size: 30px;
    }
  }
}
