/* news  */
.news {
  @include margin(0, 0, 0, 0);
  .title-head {
    text-align: center;
    @include margin(80px, 0, 50px, 0);

    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 30px, 0);
    }
    &__sm-text {
      font-size: 14px;
      letter-spacing: 1px;
      display: block;
      @include margin(0, 0, 20px, 0);
    }
  }

  .news-card {
    @include padding(30px, 30px, 30px, 30px);
    @include margin(0, 0, 100px, 0);
    @include transition(all 0.5s ease);

    @include breakpoint(sm) {
      @include margin(0, 0, 40px, 0);
      @include padding(0, 0, 0, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 40px, 0);
      @include padding(0, 0, 0, 0);
    }
    &__figure-holder {
      @include margin(0, 0, 40px, 0);
      @include border-radius(5px);
      overflow: hidden;
      height: 220px;

      @include breakpoint(sm) {
        @include margin(0, 0, 20px, 0);
      }
      @include breakpoint(md) {
        @include margin(0, 0, 20px, 0);
      }

      img {
        @include transform(scale(1));
        @include border-radius(5px);
        width: 100%;
      }
    }
    &__date {
      @include margin(0, 0, 20px, 0);
      color: $dark-grey-color-shade;
      font-size: 14px;
      display: block;
    }
    &__title {
      @include margin(0, 0, 10px, 0);
      color: $brand-color;
      font-size: 25px;
      display: block;
      line-height: 1.25;

      @include breakpoint(sm) {
        font-size: 20px;
      }
      @include breakpoint(md) {
        font-size: 20px;
      }
    }
    &__content {
      @include margin(0, 0, 20px, 0);
      color: $dark-grey-color-shade;
      font-size: 16px;
      line-height: 1.75;
    }

    &:hover {
      @include card-hover-shadow;
      @include border-radius(5px);
      @include transform(translateY(-5px));

      @include breakpoint(sm) {
        box-shadow: none;
      }
      @include breakpoint(md) {
        box-shadow: none;
      }

      img {
        @include transform(scale(1.1));
      }
      .news-card__title {
        color: $dark-grey-color;
      }
    }
  }
  
}

.blog-title-head {
  height: 380px;
  overflow: hidden;
  position: relative;
  @include margin(0, 0, 50px, 0);

  @include breakpoint(sm) {
    height: auto;
  }
  @include breakpoint(md) {
    height: auto;
  }

  &:before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background: rgba($black-color, 0.7);
    left: 0;
    top: 0;
  }

  .title {
    color: $white-color;
    font-size: 40px;
    font-family: $font-secondary-en;
    position: absolute;
    top: 73px;
    width: calc(100% - 410px);
    @include margin(0, 0, 0, 500px);
    @include padding(0, 50px, 0, 0);
    display: flex;
    justify-content: center;
    height: 300px;
    flex-direction: column;

    @include breakpoint(sm) {
      font-size: 20px;
      @include margin(0, 0, 0, 0);
      top: 0;
      width: 100%;
      @include padding(30px, 30px, 30px, 30px);
      height: auto;
      text-align: center;
    }

 
  }
}

.tags {
  @include breakpoint(sm) {
    @include margin(0, 0, 40px, 0);
  }

  &__title {
    color: $brand-color;
    @include margin(0, 0, 40px, 0);
    font-size: 18px;
    font-family: $font-secondary-en;
    text-transform: uppercase;
  }

  &__list-item {
    @include margin(0, 0, 10px, 0);
    color: $dark-grey-color-shade;
    font-size: 16px;
    text-transform: uppercase;
  }
}
.blog-detail-wrap {
  border: 0 !important;
  @include margin(0, 0, 20px, 0);
  @include my-shadow();
  background: $white-color;
  @include padding(50px, 50px, 50px, 50px);

  @include breakpoint(sm) {
    @include padding(30px, 30px, 30px, 30px);
  }

  p {
    color: $dark-grey-color-shade;
    @include margin(0, 0, 40px, 0);
    font-size: 18px;
  }
  span {
    display: block;
    color: $brand-color;
    @include margin(0, 0, 10px, 0);
    font-size: 18px;
  }
}

/* tweets  */
.tweets {
  .title-head {
    @include margin(0, 0, 50px, 0);
    @include padding(0, 30px, 0, 30px);
    display: flex;
    align-items: center;

    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
      @include padding(0, 0, 0, 0);
      flex-wrap: wrap;
    }
    @include breakpoint(md) {
      @include padding(0, 0, 0, 0);
      @include margin(0, 0, 30px, 0);
    }
    &__title {
      font-size: 25px;
      color: $black-color;
    }
    .sliding-underline-link {
      font-family: $font-secondary-en;
      margin-left: auto;

      @include breakpoint(sm) {
        margin: inherit;
        @include margin(20px, 0, 0, 0);
      }
    }
  }

  .tweets-card {
    border: 1px solid $brand-color;
    @include border-radius(5px);

    position: relative;
    @include padding(30px, 30px, 30px, 30px);
    @include transition(all 0.5s ease);
    &__figure-holder {
      @include margin(0, 0, 20px, 0);
    }
    &__user-icon {
      border: 1px solid $brand-color;
      color: $brand-color;
      @include border-radius(50%);
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      @include margin(0, 10px, 0, 0);
    }

    &__tweet-icon {
      position: absolute;
      right: 30px;
      top: 30px;
      color: $light-grey-color;
    }
    &__name {
      color: $brand-color;
      font-size: 20px;
      @include margin(0, 0, 20px, 0);
    }

    &__content {
      color: $text-grey-color;
      font-size: 16px;
      @include margin(0, 0, 20px, 0);
    }
    &__date {
      color: $text-grey-color;
      font-size: 12px;
      text-align: right;
      display: block;
    }

    &:hover {
      background: $brand-color;
      .tweets-card__name {
        color: $white-color;
      }
      .tweets-card__tweet-icon {
        color: $white-color;
      }
      .tweets-card__content {
        color: $white-color;
      }
      .tweets-card__date {
        color: $white-color;
      }
      .tweets-card__user-icon {
        color: $white-color;
        border: 1px solid $white-color;
      }
    }
  }
}
