/* branches search form */
.search-branches-form {
  .form-control {
    @include border-radius(50px);
    font-weight: bold;
    @include padding(0, 0, 0, 40px);
    @include margin(35px, 0, 0, 0);
  }
  label {
    font-size: 16px;
    @include margin(0, 0, 10px, 30px);
    display: block;
  }
  .nice-select {
    @include border-radius(50px);

    @include breakpoint(sm) {
      @include margin(0, 0, 20px, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 20px, 0);
    }

    .list {
      margin-top: 4px;
    }
  }
}

/* branches */
.branches {
  .nav-pills {
    width: 90%;

    @include breakpoint(sm) {
      width: 100%;
    }
    @include breakpoint(md) {
      width: 100%;
    }
  }

  .nav-link {
    @include border-radius(5px);
    background: $white-color;
    @include my-shadow;
    @include margin(0, 0, 20px, 0);
    @include padding(20px, 75px, 20px, 25px);
    color: $black-color;
    position: relative;

    &:before {
      font-family: FontAwesome;
      content: "\f105";
      position: absolute;
      right: 26px;
      font-size: 18px;
      top: 50%;
      border-radius: 50%;
      height: 44px;
      line-height: 44px;
      width: 44px;
      text-align: center;
      background: $light-blue-color;
      color: $brand-color;
      @include transform(translateY(-50%));
      @include transition(all 0.5s ease);
    }

    .name {
      display: block;
      font-size: 20px;
    }
    .address {
      font-size: 16px;
    }

    &:hover {
      color: $brand-color;
      background: $white-color;

      &:before {
        background: $brand-color;
        color: $white-color;
        right: 20px;
      }
    }

    &.active {
      color: $brand-color;
      background: $white-color;
      &:before {
        background: $brand-color;
        color: $white-color;
      }
    }
  }

  .tab-content {
    .map {
      position: relative;

      &__wrap {
        overflow: hidden;
        height: 550px;
        @include margin(0, 0, 40px, 0);
      }
    }

    .branch-dtl {
      &__info {
        @include margin(0, 0, 40px, 0);
        span {
          font-size: 16px;
          color: $black-color;
          text-transform: uppercase;
        }
      }
      &__name {
        font-size: 40px;
        color: $brand-color;
        @include margin(0, 0, 20px, 0);
      }
      &__tel {
        color: $black-color;
        font-size: 21px;
      }
      &__hours {
        @include margin(0, 0, 60px, 0);
        span {
          font-size: 21px;
          display: block;
          color: $dark-grey-color-shade;
        }
      }
      &__sm-title {
        color: $brand-color;
        font-size: 16px;
        text-transform: uppercase;
        @include margin(0, 0, 15px, 0);
      }
      &__card {
        @include border-radius(5px);
        background: $white-color;
        @include my-shadow;
        @include margin(0, 0, 20px, 0);
        @include padding(20px, 75px, 20px, 25px);
        color: $black-color;
        position: relative;
        display: block;

        &:before {
          font-family: FontAwesome;
          content: "\f105";
          position: absolute;
          right: 26px;
          font-size: 18px;
          top: 50%;
          border-radius: 50%;
          height: 44px;
          line-height: 44px;
          width: 44px;
          text-align: center;
          background: $light-blue-color;
          color: $brand-color;
          @include transform(translateY(-50%));
          @include transition(all 0.5s ease);
        }

        &:hover {
          &:before {
            background: $brand-color;
            color: $white-color;
            right: 20px;
          }
        }
      }
      &__card-title {
        font-size: 20px;
        color: $black-color;
      }
      &__card-dtl {
        font-size: 14px;
        color: $dark-grey-color-shade;
      }
    }
  }
}

/* location pin */
.location-pin {
  position: absolute;
  left: 54%;
  top: 50%;
  .pin {
    width: 30px;
    height: 30px;
    @include border-radius(50% 50% 50% 0);
    background: #4a90e2;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    z-index: 9;
    @include margin(-30px, 0, 0, -8px);
    -webkit-animation: arrowMove 0.8s linear infinite;

    &:after {
      content: "";
      width: 14px;
      height: 14px;
      top: 8px;
      left: 8px;
      background: $white-color;
      position: absolute;
      @include border-radius(50%);
    }
  }

  .pulse {
    background: rgba(0, 0, 0, 0.2);
    @include border-radius(50%);
    height: 14px;
    width: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform(rotateX(55deg));
    transform: rotateX(55deg);
    z-index: 2;

    &:after {
      content: "";
      @include border-radius(50%);
      height: 40px;
      width: 40px;
      position: absolute;
      @include margin(-16px, 0, 0, -14px);
      animation: pulsate 1s ease-out;
      animation-iteration-count: infinite;
      opacity: 0;
      box-shadow: 0 0 1px 2px #4a90e2;
      animation-delay: 1.1s;
    }
  }
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@keyframes arrowMove {
  0% {
    top: 0%;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0%;
  }
}
