@mixin scrollbars($size, $front-color, $back-color) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $front-color;
    @include border-radius(30px);
  }

  &::-webkit-scrollbar-track {
    background: $back-color;
  }
}
@mixin gradient($start-color, $end-color, $orientation) {
  background: $start-color;
  @if $orientation == "vertical" {
    background: -webkit-linear-gradient(top, $start-color, $end-color);
    background: linear-gradient(to bottom, $start-color, $end-color);
  } @else if $orientation == "horizontal" {
    background: -webkit-linear-gradient(left, $start-color, $end-color);
    background: linear-gradient(to right, $start-color, $end-color);
  } @else {
    background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
    background: radial-gradient(ellipse at center, $start-color, $end-color);
  }
}

.calendar-wrap {
  height: 100vh;

  .logo-black {
    background: url(../images/cata-color-logo@3x.png) no-repeat;
  }
  .logo-white {
    background: url(../images/cata-white-logo@3x.png) no-repeat;
  }
  .ncba-logo {
    width: 120px;
    height: 40px;
    display: block;
    background-size: 120px 40px;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 99;
  }

  .months-row {
    border: 0;
    background: $white-color;
    @include border-radius(10px);
    @include padding(10px, 50px, 10px, 50px);
    position: relative;
    border: 1px solid #3920303e;
    position: absolute;
    width: 50%;
    right: 30px;
    top: 30px;
    z-index: 1;
    @include breakpoint(sm) {
      width: 90%;
      right: 0;
      top: 100px;
      left: 20px;
    }
    .item {
      position: relative;
      @include padding(10px, 0, 10px, 0);
      &::before {
        position: absolute;
        content: "";
        left: 50%;
        transform: translateX(-50%);
        height: 0;
        width: 0;
        background: $brand-color;
        @include border-radius(50%);
        bottom: 0;
        @include transition(all 0.5s ease);
      }
      .tab-link {
        color: #5a5a5ab3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .sm-text {
          font-size: 13px;
        }
        .lg-text {
          font-size: 20px;
        }
      }
      &:hover {
        &::before {
          height: 10px;
          width: 10px;
        }
      }
      &.active {
        font-family: $font-secondary-en;
        color: $brand-color;
        .tab-link {
          color: $brand-color;
        }
        &::before {
          height: 10px;
          width: 10px;
        }
      }
    }
    .owl-nav {
      position: absolute;
      top: 20px;
      width: 100%;
      font-size: 0 !important;
      left: 0;
      .owl-prev {
        position: absolute;
        left: 0;
        background: none !important;
        font-size: 0;
        margin: 0;
        padding: 0;

        &:before {
          font-family: "FontAwesome";
          content: "\f104";
          position: absolute;
          left: 20px;
          color: $brand-color;
          background: $light-grey-color;
          font-size: 18px;
          border-radius: 50%;
          height: 30px;
          line-height: 30px;
          width: 30px;
          text-align: center;
          @include transition(all 0.5s ease);
        }
        &:hover {
          &:before {
            color: $brand-color;
          }
        }
      }

      .owl-next {
        position: absolute;
        background: none !important;
        right: 0;
        font-size: 0;
        margin: 0;
        padding: 0;
        &:before {
          font-family: "FontAwesome";
          content: "\f105";
          position: absolute;
          right: 20px;
          color: $brand-color;
          background: $light-grey-color;
          font-size: 18px;
          border-radius: 50%;
          height: 30px;
          line-height: 30px;
          width: 30px;
          text-align: center;
          @include transition(all 0.5s ease);
        }

        &:hover {
          &:before {
            color: $brand-color;
          }
        }
      }
    }
  }
  .calendar-inner-content {
    position: relative;
    &::before {
      background: url(../images/calendar-dotted.png) no-repeat;
      background-size: 100%;
      content: "";
      position: absolute;
      left: 200px;
      top: 0;
      width: 30%;
      height: 200px;
      z-index: -1;
    }
    .figure-holder {
      width: 100%;
      position: relative;
      &::before {
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        top: 0;
        background: rgba($black-color, 0.5);
      }
      img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: top;
      }
    }
    figcaption {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: 100vh;
      position: absolute;
      width: 100%;
      top: 0;
      @include padding(0, 100px, 0, 100px);

      @include breakpoint(sm) {
        @include padding(100px, 20px, 0, 20px);
      }

      small {
        font-size: 24px;
        @include margin(0, 0, 0, 0);
        display: block;

        @include breakpoint(sm) {
          font-size: 16px;
        }
      }
      h1 {
        font-size: 100px;
        @include margin(0, 0, 30px, 0);
        font-family: $font-secondary-en;
        @include breakpoint(sm) {
          font-size: 60px;
        }
      }
      h3 {
        font-size: 30px;
        @include margin(0, 0, 20px, 0);
        color: $white-color;
        font-family: $font-secondary-en;
        @include breakpoint(sm) {
          font-size: 20px;
        }
      }
      p {
        font-size: 18px;
        @include margin(0, 0, 30px, 0);
        @include breakpoint(sm) {
          font-size: 16px;
        }
      }
      &.dark-text {
        color: $dark-brown-color;
        .button__cta {
          color: $dark-brown-color;
        }
      }
      &.white-text {
        color: $white-color;
        .button__cta {
          color: $white-color;
        }
      }
      .play-video-btn {
        @include border-radius(50%);
        width: 70px;
        height: 70px;
        background: $brand-color;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white-color;
      }
    }
  }
  &.calendar-detail-wrap {
    height: 100vh;

    .gradient-a {
      @include gradient(#f1fc9c, #7db9e8, vertical);
      height: 100vh;
    }
    .gradient-b {
      @include gradient(#d45fd6, #a1226e, horizontal);
      height: 100vh;
    }
    .slick-arrow {
      width: 50px;
      height: 50px;
      background: #e6e6e8;
      @include border-radius(50%);
      z-index: 99;
      position: absolute;
      top: 40px;
      &::before {
        color: $black-color;
        font-size: 20px;
      }
    }
    .slick-prev {
      right: 100px;
      left: initial;
      &::before {
        font-family: "FontAwesome";
        content: "\f060";
      }
    }
    .slick-next {
      right: 40px;
      &::before {
        font-family: "FontAwesome";
        content: "\f061";
      }
    }
  }
}

#video-modal {
  .modal-dialog {
    margin: 100px auto;
  }
  .close {
    border: 2px solid $white-color;
    @include border-radius(50%);
    position: absolute;
    right: -60px;
    top: -40px;
    width: 40px;
    height: 40px;
    opacity: 10;
    span {
      opacity: 10;
      color: $white-color;
      text-shadow: none;
      line-height: 0.6;
      font-size: 36px;
    }
  }
  .modal-content {
    background-color: #000;
    border: 0;
    border-radius: 0;
  }
  .modal-body {
    @include padding(0, 0, 0, 0);
  }
}
