/* bundled tarrif */
.bundled-tarrif {
  .nav-pills {
    @extend %nav-pills;
  }

  /* accordion  */
  #bundled-accordion {
    .card {
      border: 0 !important;
      @include margin(0, 0, 20px, 0);
      @include my-shadow();
      background: $white-color;
      @include padding(25px, 50px, 35px, 50px);

      @include breakpoint(sm) {
        @include padding(25px, 25px, 25px, 25px);
      }
      @include breakpoint(md) {
        @include padding(25px, 25px, 25px, 25px);
      }
    }
    .card-header {
      background: none !important;
      border-bottom: 0;
      @include padding(0, 0, 0, 0);

      h5 {
        font-size: 28px;
        color: $dark-grey-color-shade;
        @include padding(0, 0, 0, 0);
        position: relative;
        cursor: pointer;

        &:before {
          font-family: FontAwesome;
          content: "\f106";
          position: absolute;
          right: 0;
          font-size: 18px;
          top: 0;
          border-radius: 50%;
          height: 36px;
          line-height: 36px;
          width: 36px;
          text-align: center;
          background: $light-blue-color;
          color: $brand-color;
          @include transition(all 0.5s ease);
        }

        &.collapsed {
          &:before {
            content: "\f107";
          }
        }
        &:hover {
          text-decoration: none;
          color: $brand-color;
          &:before {
            background: $brand-color;
            color: $white-color;
          }
        }
        &:focus {
          text-decoration: none;
        }
      }
    }
    .card-body {
      @include padding(40px, 0, 0, 0);
      @include margin(30px, 0, 0, 0);
      border-top: 1px solid $light-grey-color;

      p {
        @include margin(0, 0, 40px, 0);
        color: $dark-grey-color-shade;
      }

      &__list-item {
        position: relative;
        @include margin(0, 0, 10px, 0);
        color: $dark-grey-color-shade;
        font-size: 16px;
        @include padding(0, 0, 0, 25px);

        &:before {
          width: 5px;
          height: 5px;
          background: $brand-color;
          content: "";
          left: 0;
          top: 9px;
          @include border-radius(50%);
          position: absolute;
        }
      }

      li {
        position: relative;
        @include margin(0, 0, 10px, 0);
        color: $dark-grey-color-shade;
        font-size: 16px;
        @include padding(0, 0, 0, 25px);

        &:before {
          width: 5px;
          height: 5px;
          background: $brand-color;
          content: "";
          left: 0;
          top: 9px;
          @include border-radius(50%);
          position: absolute;
        }
      }

      .key-features {
        @include margin(0, 0, 60px, 0);
        display: flex;
        flex-wrap: wrap;

        h3{
          @include margin(0, 0, 20px, 0);
          color: $brand-color;
          font-size: 20px;
        }

        &__card {
          background: $light-blue-color;
          @include margin(0, 10px, 10px, 0);
          @include padding(20px, 20px, 20px, 20px);
          width: 47%;

          @include breakpoint(sm) {
            width: 100%;
          }
          @include breakpoint(md) {
            width: 100%;
          }
        }
        &__sm-text {
          font-size: 16px;
          text-transform: uppercase;
          color: $brand-color;
          display: block;
        }
        &__lg-text {
          font-size: 30px;
          color: $dark-grey-color-shade;
        }
      }
    }
  }
}

/* open account  */
.open-account {
  background: $brand-color;
  @include padding(70px, 0, 70px, 0);
  text-align: center;

  @include breakpoint(sm) {
    @include padding(30px, 0, 30px, 0);
  }
  @include breakpoint(md) {
    @include padding(30px, 0, 30px, 0);
  }

  p {
    font-size: 40px;
    color: $white-color;
    @include margin(0, 0, 40px, 0);

    @include breakpoint(sm) {
      font-size: 25px;
    }
  }
  .sweep-btn-center {
    @include border-radius(50px);
    font-size: 16px;
    @include padding(15px, 80px, 15px, 80px);
    font-family: $font-secondary-en;
    letter-spacing: 2px;

    i {
      font-size: 14px;
      @include margin(0, 0, 0, 30px);
    }
  }
}
