/* projects */
.our-projects {
  .title-head {
    text-align: center;
    @include margin(80px, 0, 50px, 0);

    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 30px, 0);
    }
    &__title {
      @include margin(0, 0, 30px, 0);
    }
    &__sm-text {
      font-size: 18px;
    }
  }

  .nav-tabs {
    border: 1px solid $brand-color;
    @include margin(0, 0, 40px, 0);
    @include border-radius(50px);
    overflow: hidden;

    .nav-item {
      width: 25%;
      border-right: 1px solid $brand-color;
      @include margin(0, 0, 0, 0);

      @include breakpoint(sm) {
        width: 50%;
        border-bottom: 1px solid $brand-color;

        &:nth-of-type(3n) {
          border-bottom: 0;
        }

        &:nth-of-type(4n) {
          border-bottom: 0;
        }
      }

      &:last-child {
        border-right: 0;
      }
    }
    .nav-link {
      font-size: 13px;
      color: $dark-grey-color-shade;
      letter-spacing: 1px;
      font-family: $font-secondary-en;
      text-align: center;
      @include padding(15px, 0, 15px, 0);
      border: 0;

      @include breakpoint(sm) {
        font-size: 11px;
        letter-spacing: 0;
      }

      &:hover {
        background: $light-blue-color;
        border: 0;
      }
      &.active {
        background: $light-blue-color;
        border: 0;
      }
    }
  }

  .tab-content {
    .card {
      @include transition(all 0.5s ease);
      @include padding(20px, 20px, 20px, 20px);

      @include breakpoint(sm) {
        @include margin(0, 0, 40px, 0);
        @include padding(0, 0, 0, 0);
      }
      @include breakpoint(md) {
        @include margin(0, 0, 40px, 0);
        @include padding(0, 0, 0, 0);
      }
      &__figure-holder {
        @include margin(0, 0, 30px, 0);
        @include border-radius(5px);
        overflow: hidden;

        @include breakpoint(sm) {
          @include margin(0, 0, 20px, 0);
        }
        @include breakpoint(md) {
          @include margin(0, 0, 20px, 0);
        }

        img {
          @include transform(scale(1));
          @include border-radius(5px);
        }
      }
      &__date {
        color: $dark-grey-color-shade;
        font-size: 18px;
        display: block;
      }
      &__title {
        @include margin(0, 0, 20px, 0);
        color: $brand-color;
        font-size: 25px;
        display: block;
        line-height: 1.25;

        @include breakpoint(sm) {
          font-size: 20px;
        }
        @include breakpoint(md) {
          font-size: 20px;
        }
      }
      &__content {
        @include margin(0, 0, 40px, 0);
        color: $dark-grey-color-shade;
        font-size: 18px;
        line-height: 1.75;

        @include breakpoint(sm) {
          @include margin(0, 0, 20px, 0);
        }
      }

      &:hover {
        @include card-hover-shadow;
        @include border-radius(5px);
        @include transform(translateY(-5px));

        @include breakpoint(sm) {
          box-shadow: none;
        }
        @include breakpoint(md) {
          box-shadow: none;
        }

        img {
          @include transform(scale(1.1));
        }
        .card__title {
          color: $dark-grey-color;
        }
      }
    }
  }
}

/* testimonial */
.testimonial {
  position: relative;
  .item {
    &__figure {
      @include border-radius(50%);
      width: 170px;
      height: 170px;

      @include breakpoint(sm) {
        margin: 0 auto 30px;
      }

      img {
        @include border-radius(50%);
        width: 170px;
        height: 170px;
      }
    }
    &__caption {
      @include margin(10px, 0, 0, 50px);

      @include breakpoint(sm) {
        @include margin(0, 0, 0, 0);
      }
    }
    &__content {
      font-size: 18px;
      color: $dark-grey-color-shade;
      @include margin(0, 0, 40px, 0);
      @include breakpoint(sm) {
        @include margin(0, 0, 20px, 0);
      }
    }
    &__name {
      font-size: 20px;
      color: $black-color;
      display: block;
      @include margin(0, 0, 10px, 0);
    }
    &__sm-text {
      text-transform: uppercase;
      color: $black-color;
      display: block;

      @include breakpoint(sm) {
        @include margin(0, 0, 50px, 0);
      }
      @include breakpoint(md) {
        @include margin(0, 0, 50px, 0);
      }
    }
  }

  .owl-nav {
    position: absolute;
    top: 40%;
    width: 100%;

    @include breakpoint(sm) {
      display: none;
    }
    @include breakpoint(md) {
      display: none;
    }
    .owl-prev {
      position: absolute;
      left: -80px;
      background: none !important;

      &:before {
        font-family: FontAwesome;
        content: "\f104";
        position: absolute;
        left: 0;
        font-size: 18px;
        top: -10px;
        border-radius: 50%;
        height: 40px;
        line-height: 40px;
        width: 40px;
        text-align: center;
        background: $light-blue-color;
        border: 1px solid $brand-color;
        color: $brand-color;
        @include transition(all 0.5s ease);
      }
      &:hover {
        &:before {
          background: $brand-color;
          color: $white-color;
        }
      }
    }
    .owl-next {
      position: absolute;
      background: none !important;
      right: -80px;

      &:before {
        font-family: FontAwesome;
        content: "\f105";
        position: absolute;
        right: 0;
        font-size: 18px;
        top: -10px;
        border-radius: 50%;
        height: 40px;
        line-height: 40px;
        width: 40px;
        text-align: center;
        background: $light-blue-color;
        border: 1px solid $brand-color;
        color: $brand-color;
        @include transition(all 0.5s ease);
      }

      &:hover {
        &:before {
          background: $brand-color;
          color: $white-color;
        }
      }
    }
  }

  .owl-item.active .item__content {
    animation: 1s 0.2s fadeIn both;
  }
  .owl-item.active .item__name {
    animation: 1s 0.3s fadeInUp both;
  }
  .owl-item.active .item__sm-text {
    animation: 1s 0.4s fadeInUp both;
  }
}

.join-us {
  text-align: center;
  p {
    font-size: 18px;
    @include margin(0, 0, 70px, 0);
    @include padding(0, 80px, 9, 80px);
    color: $dark-grey-color-shade;

    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
      @include padding(0, 0, 0, 0);
    }
  }

  .sweep-btn-center {
    letter-spacing: 2px;
    @include padding(15px, 60px, 15px, 60px);
  }
}

.citizenship-tabs {
  .nav-tabs {
    border: 0;
    .nav-item {
      width: 50%;

      @include breakpoint(sm) {
        width: 100%;
      }

      .nav-link {
        display: flex;
        /*  height: 180px; */
        border: 0;
        background: none;
        @include border-radius(5px);
        @include padding(35px, 35px, 35px, 35px);
        @include margin(0, 10px, 0, 10px);

        figure {
          @include margin(0, 20px, 0, 0);
          position: relative;
          @include margin(0, 40px, 0, 0);
          width: 30%;
          display: flex;
          align-items: center;
          justify-content: center;
          .pic-2 {
            display: none;
          }
          .pic {
            width: 100%;
          }
        }
        figcaption {
          h3 {
            color: $dark-grey-color;
            @include margin(0, 0, 15px, 0);
            font-size: 20px;
            font-weight: 600;
          }
          p {
            color: $dark-grey-color;
            font-size: 18px;
          }
        }
        &:hover {
          background: $dark-brown-color;
          box-shadow: 0px 16px 24px #00000029;
          color: $white-color;
          figure {
            .pic-2 {
              display: block;
            }
            .pic-1 {
              display: none;
            }
          }
          figcaption {
            h3 {
              color: $white-color;
            }
            p {
              color: $white-color;
            }
          }
        }
        &.active {
          background: $dark-brown-color;
          box-shadow: 0px 16px 24px #00000029;
          color: $white-color;
          figure {
            .pic-2 {
              display: block;
            }
            .pic-1 {
              display: none;
            }
          }
          figcaption {
            h3 {
              color: $white-color;
            }
            p {
              color: $white-color;
            }
          }
        }
      }
    }
  }

  .citizenship-tab-content {
    h2 {
      @include margin(0, 0, 30px, 0);
      font-size: 30px;
    }
    h3 {
      @include margin(0, 0, 30px, 0);
      font-size: 24px;
      color: $brand-color;
    }
    p {
      color: $text-grey-color;
      @include margin(0, 0, 30px, 0);
    }
    .form-group {
      @include margin(0, 0, 30px, 0);
      label {
        font-size: 14px;
        @include margin(0, 0, 20px, 0);
        color: $brand-color;
      }
    }
  }
}

.citizenship-wrap {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    background: url(../images/side-blub-left.png) no-repeat;
    width: 80px;
    height: 351px;
    left: 0;
    top: 200px;
    @include breakpoint(sm) {
      display: none;
    }
  }
  &::after {
    position: absolute;
    content: "";
    background: url(../images/side-blub-right.png) no-repeat;
    width: 80px;
    height: 351px;
    right: 0;
    bottom: 300px;
    @include breakpoint(sm) {
      display: none;
    }
  }
  p {
    font-size: 18px;
    @include margin(0, 0, 20px, 0);
  }
  ul {
    li {
      font-size: 18px;
      border: 0;
    }
  }
}
.citizenship-dark-blue-wrap {
  background: $brand-color;
}
.citizenship-horizontal-block {
  position: relative;

  figure {
    position: absolute;
    top: -150px;
    right: 0;
    @include breakpoint(sm) {
      position: inherit;
      top: initial;
    }
  }
}

.citizenship-articles {
  .top-row {
    .nav-tabs {
      border: 0;
      .nav-link {
        border: 0;
        @include border-radius(0);
        font-size: 16px;
        font-family: $font-secondary-en;
        color: $brand-color;
        position: relative;
        display: block;
        @include padding(0, 0, 0, 0);
        @include margin(0, 40px, 0, 0);

        &:after {
          content: "";
          position: absolute;
          bottom: -10px;
          height: 3px;
          background: $brand-color;
          left: 0;
          width: 0;
          @include transition(all 0.5s ease);
        }
        &:hover {
          &:after {
            width: 25px;
          }
        }
        &.active {
          &:after {
            width: 25px;
          }
        }
      }
    }
    .search-cont {
      .input-group {
        background: $light-blue-color;
        @include border-radius(4px);
        display: flex;
        align-items: center;
        @include padding(0, 10px, 0, 10px);
        .form-control {
          background: none;
          box-shadow: none !important;
          border: 0;
        }
      }
    }
  }

  .single-block {
    .info-card__figure-holder {
      @include margin(0, 0, 30px, 0);
    }
    .info-card__caption {
      background: none;
      @include padding(0, 0, 0, 0);
      p {
        @include margin(0, 0, 30px, 0);
      }
      .badge {
        @include padding(6px, 12px, 6px, 12px);
        background: $brand-color;
      }
    }
  }
}

.citizenship-blocks {
  position: relative;
  @include padding(80px, 0, 200px, 0);
  overflow: hidden;
  z-index: 9;

  @include breakpoint(sm) {
    @include padding(80px, 0, 120px, 0);
  }

  &::before {
    position: absolute;
    content: "";
    background: url(../images/side-blub-right.png) no-repeat;
    width: 80px;
    height: 351px;
    right: 0;
    top: 100px;

    @include breakpoint(sm) {
      display: none;
    }
  }
  .item {
    @include border-radius(4px);
    display: flex;
    align-items: center;
    @include border-radius(5px);
    @include padding(35px, 35px, 35px, 35px);
    @include transition(all 0.5s ease);

    &__figure-holder {
      position: relative;
      @include padding(60px, 60px, 60px, 60px);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .pic {
        width: 100%;
      }
      .pic-2 {
        display: none;
      }
    }
    &__caption {
      color: $dark-brown-color;
    }
    &__title {
      font-weight: 600;
      @include margin(0, 0, 20px, 0);
      font-size: 20px;
    }
    &__description {
      @include margin(0, 0, 20px, 0);
      font-size: 18px;
    }

    &:hover {
      background: $dark-brown-color;
      box-shadow: 0px 16px 24px #00000029;
      .item__caption {
        color: $white-color;
      }
      .item__figure-holder {
        .pic-1 {
          display: none;
        }
        .pic-2 {
          display: block;
        }
      }
    }
  }
  .big-outline-text {
    font-size: 350px;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $brand-color;
    text-transform: lowercase;
    font-family: $font-avertablack-en;
    position: absolute;
    bottom: -200px;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    @include breakpoint(sm) {
      bottom: -70px;
      font-size: 150px;
    }
  }
}

.gallery {
  .imageslist {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    img {
      width: 100%;
    }

    @include breakpoint(sm) {
      grid-template-columns: repeat(1, 1fr);
      height: auto;
    }
  }
}
.citizenship-landing-items {
  h2 {
    text-align: center;
    color: $dark-brown-color;
    font-size: 30px;
    @include margin(0, 0, 50px, 0);
    font-family: $font-secondary-en;
  }
  .item {
    @include padding(20px, 20px, 20px, 20px);
    @include margin(0, 0, 0, 0);
    @include transition(all 0.5s ease);
    display: block;
    text-align: center;
    .text-outline {
      font-size: 25px;
      color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $brand-color;
      text-transform: lowercase;
      font-family: $font-avertablack-en;
    }
    .text-fill {
      font-family: $font-secondary-en;
      font-size: 25px;
      text-transform: lowercase;
      color: #0d928e;
    }
    .text-sm {
      font-size: 18px;
      color: $brand-color;
      @include margin(0, 0, 20px, 0);
      font-family: $font-secondary-en;
    }
    .description {
      font-size: 18px;
      color: $dark-grey-color;
    }
    &:hover {
      background: $white-color;
      @include card-hover-shadow;
      @include border-radius(5px);
      background: $white-color;
      @include transform(translateY(-5px));

      .text-fill {
        color: $dark-brown-color;
      }

      figure {
        img {
          filter: grayscale(100%);
        }
      }
    }
  }
}

.citizenship-pillars-tabs {
  h2 {
    text-align: center;
    color: $dark-brown-color;
    font-size: 30px;
    @include margin(0, 0, 50px, 0);
    font-family: $font-secondary-en;
  }
  .nav-tabs {
    border: 0;
    @include margin(0, 0, 50px, 0);
    .nav-item {
      width: 25%;

      @include breakpoint(sm) {
        width: 100%;
      }

      .nav-link {
        border: 0;
        @include border-radius(0);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .text-outline {
          font-size: 25px;
          color: transparent;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: $brand-color;
          text-transform: lowercase;
          font-family: $font-avertablack-en;
        }
        .text-fill {
          font-family: $font-secondary-en;
          font-size: 25px;
          text-transform: lowercase;
          color: #0d928e;
        }
        &__icon {
          display: block;
          @include margin(0, 0, 30px, 0);
          background: url(../images/citizenship-pillars-icons-sprite.png) no-repeat;
          background-size: 717px 250px;
          width: 139px;
          height: 111px;
          @include transition(all 0.5s ease);
        }
        &__icon-first {
          background-position: -10px -10px;
        }
        &__icon-second {
          background-position: -182px -10px;
        }
        &__icon-third {
          background-position: -372px -10px;
        }
        &__icon-fourth {
          background-position: -558px -10px;
        }
        &:hover {
          background: $white-color;
          @include card-hover-shadow;
          @include border-radius(5px);
          background: $white-color;
          @include transform(translateY(-5px));

          .text-fill {
            color: $dark-brown-color;
          }

          figure {
            img {
              filter: grayscale(100%);
            }
          }
        }
        &.active {
          .nav-link__icon-first {
            background-position: -12px -130px;
          }
          .nav-link__icon-second {
            background-position: -184px -130px;
          }
          .nav-link__icon-third {
            background-position: -372px -130px;
          }
          .nav-link__icon-fourth {
            background-position: -558px -130px;
          }
        }
      }
    }
  }
}

.citizenship-menu-wrapper {
  background: $white-color;
  @include border-radius(0);
  @include padding(0.5rem, 60px, 0.5rem, 60px);
  box-shadow: 0 9px 27px 0 rgba($black-color, 0.1);
  display: flex;
  align-items: center;

  @include breakpoint(sm) {
    flex-direction: column;
    @include padding(0.5rem, 20px, 0.5rem, 20px);
  }

  .logo {
    background: url(../images/cata-color-logo@3x.png) no-repeat;
    width: 178px;
    height: 40px;
    display: block;
    background-size: 120px 40px;
    @include margin(0, 40px, 0, 0);

    @include breakpoint(sm) {
      @include margin(0, 0, 0, 0);
      width: 120px;
      height: 40px;
      background-size: 120px 40px;
      margin-right: auto;
    }
    @include breakpoint(md) {
      @include margin(0, 0, 0, 0);
      width: 120px;
      height: 40px;
      background-size: 120px 40px;
      margin-right: auto;
    }
  }

  .icon-bar {
    width: 26px;
    height: 3px;
    @include border-radius(50px);
    background-color: $dark-grey-color-shade;
    display: block;
    transition: all 0.4s;
    margin-top: 4px;
  }
  .navbar-toggler {
    border: none;
    background: transparent !important;

    &.collapsed {
      .top-bar {
        transform: rotate(0);
      }
      .middle-bar {
        opacity: 1;
      }
      .bottom-bar {
        transform: rotate(0);
      }
    }
  }

  .menu-wrapper {
    width: 100%;
    box-shadow: none;
    li {
      display: inline-block;
      position: relative;
      a {
        @include padding(20px, 0, 20px, 0);
        display: block;
        color: $dark-brown-color;
        text-transform: uppercase;
        position: relative;
        font-family: $font-avertablack-en;

        @include breakpoint(sm) {
          height: auto;
          @include padding(15px, 0, 15px, 0);
        }

        &:hover {
          color: $brand-color;
        }

        &.back-btn {
          display: flex;
          align-items: center;
          text-transform: capitalize;
          font-size: 12px;
          @include margin(0, 0, 0, 30px);

          @include breakpoint(sm) {
            @include margin(0, 0, 0, 0);
          }

          p {
            @include margin(0, 0, 0, 10px);
          }
        }
      }
      &.item-second {
        margin-left: 50px;
        @include breakpoint(sm) {
          margin-left: 0;
        }
      }
      &:nth-child(2) {
        margin-right: auto;
      }
    }
  }

  .navbar {
    width: 100%;
    .dropdown-toggle::after {
      display: none;
    }
    .navbar-collapse.offcanvas-collapse {
      .navbar-nav {
        .nav-item {
          .nav-link {
            position: relative;
            i {
              right: 0;
              top: 14px;
              position: absolute;
              font-size: 25px;

              @media (min-width: 768px) {
                display: inline-block;
                right: -18px;
                top: 20px;
                font-size: 25px;
                position: absolute;
                pointer-events: none;
              }

              &:before {
                display: inline-block;
              }
            }
          }
          &:hover > .nav-link,
          &.active > .nav-link {
            color: $brand-color;
          }
          .dropdown-menu {
            border: 0;
            border-radius: 0;
          }
        }
        @media (min-width: 768px) {
          .dropdown:hover > .dropdown-menu,
          .dropdown.hover > .dropdown-menu {
            display: flex;
            justify-content: space-between;
          }
        }

        .dropdown:hover > .level-2 {
          flex-direction: column;
        }
        @include breakpoint(sm) {
          width: 100%;
          .dropdown.show > .dropdown-menu {
            display: block;
          }
        }

        .level-1 {
          width: 100%;
          position: fixed !important;
          top: 80px !important;
          background: rgba($white-color, 0.7);
          padding: 20px 40px;
          height: 200px;

          @include breakpoint(sm) {
            position: inherit !important;
            background: none;
            top: 0 !important;
            padding: 0;
            height: auto;
          }

          li {
            margin-right: 50px !important;
            a {
              text-transform: uppercase;
              font-size: 15px;
              font-family: $font-avertablack-en;
            }
            @include breakpoint(sm) {
              width: 100%;
              float: none;
            }
            &:last-child {
              margin-right: 0;
            }
          }
        }
        .level-2 {
          top: 60px !important;
          left: 0 !important;
          background: none;
          width: 100%;
          border-top: 1px solid $white-color !important;
          li {
            width: 100%;
            float: none;
            a {
              text-transform: capitalize !important;
              font-size: 16px !important;
              padding: 10px 0 !important;
              @include margin(0, 0, 0, 10px);
              &:hover {
                @include margin(0, 0, 0, 15px);
              }
            }
          }
        }
      }
    }
  }
}

@include breakpoint(sm) {
  .offcanvas-collapse {
    position: fixed;
    top: 72px;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background: rgba($white-color, 0.7);
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-property: left, visibility;
    &.open {
      left: 0;
      visibility: visible;
    }
  }
}

body.offcanvas {
  .navbar-toggler {
    .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
    }
    .middle-bar {
      opacity: 0;
    }
    .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
    }
  }
}

.golf-hero-wrap {
  figure {
    position: relative;
    height: 860px;
    &::before {
      background: rgba($black-color, 0.7);
      width: 100%;
      position: absolute;
      height: 100%;
      content: "";
      top: 0;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  figcaption {
    color: $white-color;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 860px;
    margin: 0 auto;
    .golf-logo {
      width: 20%;
      @include margin(0, 0, 30px, 0);

      @include breakpoint(sm) {
        width: 50%;
      }
    }
    h1 {
      @include margin(0, 0, 30px, 0);
      font-size: 60px;
      font-family:'tragic_markerregular';
      text-align: center;

      @include breakpoint(sm) {
        font-size: 40px;
      }
    }
    h2 {
      @include margin(0, 0, 30px, 0);
      font-size: 60px;
      font-family: $font-secondary-en;
      color: $white-color;
      text-align: center;
      @include breakpoint(sm) {
        font-size: 40px;
      }
    }
    p {
      font-size: 18px;
      text-align: center;
    }
  }
}
.golf-categories {
  &__card {
    @include margin(0, 0, 30px, 0);
    height: 600px;
    position: relative;
    @include border-radius(10px);
    figure {
      height: 600px;
      position: relative;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        @include border-radius(10px);
      }
    }
    figcaption {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      height: 100%;
      justify-content: flex-end;
      @include padding(0, 40px, 40px, 40px);
      /* background: rgba($black-color, 0.7); */
      @include border-radius(10px);
      background: -moz-linear-gradient(bottom, rgba(57, 32, 48, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
      background: -webkit-linear-gradient(bottom, rgba(57, 32, 48, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
      background: linear-gradient(to top, rgba(57, 32, 48, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
      h3 {
        color: $brand-color;
        @include margin(0, 0, 10px, 0);
        font-size: 24px;
        font-family: $font-secondary-en;
      }
      P {
        color: $white-color;
        font-size: 16px;
      }
    }
  }
}
.golf-prizes {
  &__card {
    background-size: $white-color;
    @include border-radius(10px);
    @include padding(40px, 40px, 40px, 40px);
    border: 1px solid #c4c4c4;
    @include transition(all 0.5s ease);
    @include margin(0, 0, 30px, 0);
    height: 500px;
    display: flex;
   /*  justify-content: center; */
    flex-direction: column;
    @include breakpoint(sm) {
      height: auto;
    }
    figure {
      @include margin(0, 0, 50px, 0);
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }
    figcaption {
      h3 {
        font-family: $font-secondary-en;
        font-size: 22px;
        @include margin(0, 0, 20px, 0);
        color: $brand-color;
      }
      p {
        color: $dark-brown-color;
        font-size: 16px;
      }
    }

    &:hover {
      @include card-hover-shadow;
      @include transform(translateY(-5px));
      background: rgba($dark-brown-color, 0.7);
      h3 {
        color: $white-color;
      }
      p {
        color: $white-color;
      }
    }
  }
}
