.corporate-hero-image {
  height: 630px;
  overflow: hidden;
  position: relative;
  /* background: #34a0cf; */
  @include padding(80px, 0, 0, 0);

  @include breakpoint(sm) {
    @include padding(72px, 0, 0, 0);
    height: auto;
  }
  @include breakpoint(md) {
    @include padding(72px, 0, 0, 0);
    height: auto;
  }

  &__caption {
    position: absolute;
    top: 80px;
    width: 60%;
    display: flex;
    justify-content: center;
    height: 530px;
    flex-direction: column;
    text-align: left;

    @include breakpoint(sm) {
      top: 72px;
      height: 154px;
    }

    @include breakpoint(md) {
      top: 72px;
      height: 315px;
    }
  }
  &__title {
    color: $white-color;
    font-size: 40px;
    text-transform: uppercase;
    font-family: $font-secondary-en;
    @include margin(0, 0, 40px, 0);

    @include breakpoint(sm) {
      font-size: 18px;
      @include margin(0, 0, 20px, 0);
    }

    @include breakpoint(md) {
      font-size: 25px;
      @include margin(0, 0, 20px, 0);
    }
  }

  &__content {
    color: $white-color;
    font-size: 26px;
    font-family: $font-secondary-en;

    @include breakpoint(sm) {
      font-size: 14px;
    }
    @include breakpoint(md) {
      font-size: 16px;
    }
  }
}

.corporate-title-wrap {
  height: 430px;
  overflow: hidden;
  position: relative;

  @include breakpoint(sm) {
    height: 350px;
  }
  @include breakpoint(md) {
    height: auto;
  }

  &:before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background: rgba($black-color, 0.7);
    left: 0;
    top: 0;
  }

  @include breakpoint(sm) {
    .desktop-img {
      display: none;
    }
  }
  .mobile-img {
    display: none;
    @include breakpoint(sm) {
      display: block;
    }
  }

  &__caption {
    position: absolute;
    top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 330px;
    flex-direction: column;
    text-align: center;
    @include padding(0, 150px, 0, 150px);

    @include breakpoint(sm) {
      @include padding(0, 30px, 0, 30px);
      height: 275px;
      top: 73px;
    }
    @include breakpoint(md) {
      @include padding(0, 30px, 0, 30px);
      height: 175px;
      top: 73px;
    }
  }

  &__title {
    color: $white-color;
    font-size: 40px;
    font-family: $font-secondary-en;
    @include margin(0, 0, 40px, 0);

    @include breakpoint(sm) {
      font-size: 30px;
      @include margin(0, 0, 20px, 0);
    }

    @include breakpoint(md) {
      font-size: 30px;
      @include margin(0, 0, 20px, 0);
    }
  }

  &__content {
    color: $light-grey-color;
    font-size: 23px;

    @include breakpoint(sm) {
      font-size: 16px;
    }
  }
}

.corporate-head-lg {
  text-align: center;
  &__title {
    font-size: 50px;
    @include margin(0, 0, 50px, 0);

    @include breakpoint(sm) {
      font-size: 30px;
      @include margin(0, 0, 30px, 0);
    }
  }
  &__content {
    font-size: 23px;
    color: $dark-grey-color-shade;
    @include padding(0, 100px, 0, 100px);

    @include breakpoint(sm) {
      font-size: 20px;
      @include padding(0, 0, 0, 0);
    }
  }
}

/* corporate banking tabs */
.corporate-accounts-tabs {
  .nav-pills {
    @extend %nav-pills;
  }

  .tab-content {
    .card {
      border: 0 !important;
      @include margin(0, 0, 20px, 0);
      @include my-shadow();
      background: $white-color;
      @include padding(25px, 50px, 35px, 50px);

      @include breakpoint(sm) {
        @include padding(25px, 25px, 25px, 25px);
      }
      @include breakpoint(md) {
        @include padding(25px, 25px, 25px, 25px);
      }
    }
    .card-header {
      background: none !important;
      border-bottom: 0;
      @include padding(0, 0, 0, 0);

      h5 {
        font-size: 28px;
        color: $dark-grey-color-shade;
      }
    }
    .card-body {
      @include padding(40px, 0, 0, 0);
      @include margin(30px, 0, 0, 0);
      border-top: 1px solid $light-grey-color;

      p {
        @include margin(0, 0, 40px, 0);
        color: $dark-grey-color-shade;
        font-size: 18px;
      }
      &__title {
        font-size: 28px;
        @include margin(0, 0, 30px, 0);
      }
      &__list-group {
        @include margin(0, 0, 50px, 0);
      }

      &__list-item {
        position: relative;
        @include margin(0, 0, 10px, 0);
        color: $dark-grey-color-shade;
        font-size: 16px;
        @include padding(0, 0, 0, 30px);

        &:before {
          width: 5px;
          height: 5px;
          background: $brand-color;
          content: "";
          left: 0;
          top: 9px;
          @include border-radius(50%);
          position: absolute;
        }
      }
      .discount-items {
        @include margin(0, 0, 20px, 0);
        .item {
          @include border-radius(5px);
          @include my-shadow;
          @include padding(20px, 20px, 20px, 20px);
          @include margin(0, 0, 20px, 0);

          &__title {
            font-size: 18px;
            color: $black-color;
            @include margin(0, 0, 15px, 0);
          }
          &__text {
            font-size: 20px;
            color: $dark-grey-color-shade;
          }
        }
      }

      .included-card {
        @include margin(0, 0, 70px, 0);
        &__title {
          font-size: 28px;
          @include margin(0, 0, 40px, 0);
        }
        &__figure-holder {
          @include margin(0, 0, 20px, 0);
        }
        &__name {
          font-size: 16px;
          color: $dark-grey-color-shade;
        }
      }
    }
  }
}

.corporate-info-block {
  @include transition(all 0.5s ease);
  .figure-holder {
    @include border-radius(5px);
    overflow: hidden;

    @include breakpoint(sm) {
      height: auto;
      @include margin(0, 0, 30px, 0);
      @include border-radius(5px);
    }

    img {
      @include transform(scale(1));
    }
  }
  .caption {
    height: 538px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include breakpoint(sm) {
      height: auto;
    }
    @include breakpoint(md) {
      height: auto;
    }

    &__title {
      font-size: 50px;
      @include margin(0, 0, 50px, 0);

      @include breakpoint(sm) {
        font-size: 30px;
        @include margin(0, 0, 30px, 0);
      }
    }
    &__content {
      font-size: 23px;
      color: $dark-grey-color-shade;
      @include margin(0, 0, 50px, 0);

      @include breakpoint(sm) {
        font-size: 18px;
        @include margin(0, 0, 30px, 0);
      }
    }

    .sweep-btn-yellow {
      text-transform: inherit;
      @include padding(15px, 70px, 15px, 70px);
    }
  }

  &:hover {
    img {
      @include transform(scale(1.1));
    }
  }
}

/* similar services */
.similar-services {
  .title {
    @include margin(0, 0, 60px, 0);
  }
  .card {
    @include transition(all 0.5s ease);
    @include padding(30px, 30px, 30px, 30px);
    @include border-radius(5px);

    @include breakpoint(sm) {
      @include padding(0, 0, 0, 0);
      @include margin(0, 0, 30px, 0);
    }

    &__figure-holder {
      overflow: hidden;
      @include margin(0, 0, 40px, 0);
      @include border-radius(5px);
      height: 200px;

      img {
        width: 100%;
        @include transform(scale(1));
      }
    }

    &__title {
      color: $brand-color;
      font-size: 25px;
      @include margin(0, 0, 40px, 0);
      @include transition(all 0.5s ease);

      @include breakpoint(sm) {
        @include margin(0, 0, 30px, 0);
      }
    }
    &__content {
      font-size: 16px;
      color: $dark-grey-color-shade;
      @include margin(0, 0, 40px, 0);

      @include breakpoint(sm) {
        @include margin(0, 0, 30px, 0);
      }
    }

    &:hover {
      @include transform(translateY(-5px));
      @include  card-hover-shadow;
      img {
        @include transform(scale(1.1));
      }
      .card__title {
        color: $dark-grey-color;
      }

      @include breakpoint(sm) {
        box-shadow: none;
        @include transform(translateY(0));
      }
    }
  }
}

.benefits-cards {
  .card {
    position: relative;
    @include margin(0, 0, 150px, 0);
    @include padding(30px, 30px, 30px, 90px);
    display: block;
    @include transition(all 0.5s ease);
    @include border-radius(5px);

    @include breakpoint(sm) {
      @include margin(0, 0, 50px, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 50px, 0);
    }

    &__icon {
      display: block;
      background: url(../images/premier-banking-icons-sprite.png) no-repeat;
      background-size: 904px 477px;
      position: absolute;
      left: 30px;
      top: 30px;
      @include transition(all 0.5s ease);
    }
    &--icon-01 {
      width: 40px;
      height: 31px;
      background-position: -380px -293px;
    }
    &--icon-02 {
      width: 45px;
      height: 31px;
      background-position: -453px -294px;
    }
    &--icon-03 {
      width: 36px;
      height: 36px;
      background-position: -526px -293px;
    }
    &--icon-04 {
      width: 30px;
      height: 33px;
      background-position: -589px -293px;
    }

    &__title {
      font-size: 30px;
      color: $dark-brown-color;
      @include margin(0, 0, 30px, 0);
      font-family: $font-secondary-en;
    }
    &__content {
      font-size: 20px;
      color: $dark-grey-color-shade;
      @include margin(0, 0, 0, 0);
    }
    &:hover {
      background: $white-color;
      @include transform(translateY(-5px));
      @include  card-hover-shadow;

      .card--icon-01 {
        background-position: -380px -330px;
      }
      .card--icon-02 {
        background-position: -453px -330px;
      }
      .card--icon-03 {
        background-position: -526px -330px;
      }
      .card--icon-04 {
        background-position: -589px -330px;
      }


    }
  }
}

.banking-with-us {
  .title {
    @include margin(0, 0, 80px, 0);
    text-align: center;
    font-size: 50px;

    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
      font-size: 30px;
    }
    @include breakpoint(md) {
      @include margin(0, 0, 30px, 0);
    }
  }

  .list-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include padding(0, 30px, 0, 30px);

    @include breakpoint(sm) {
      flex-direction: column;
    }
  }

  .link {
    text-align: center;
    @include transition(all 0.5s ease);
    display: block;
    @include padding(20px, 20px, 20px, 20px);
    @include border-radius(5px);

    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
    }

    &__icon {
      display: block;
      background: url(../images/premier-banking-icons-sprite.png) no-repeat;
      margin: 0 auto 30px;
      background-size: 904px 477px;
      @include transition(all 0.5s ease);

      @include breakpoint(sm) {
        margin: 0 auto 20px;
      }
    }
    &--icon-01 {
      width: 63px;
      height: 63px;
      background-position: -536px -173px;
    }
    &--icon-02 {
      width: 81px;
      height: 63px;
      background-position: -640px -172px;
    }
    &--icon-03 {
      width: 56px;
      height: 56px;
      background-position: -757px -176px;
    }

    &__text {
      color: $dark-brown-color;
      font-size: 35px;
      display: block;
      text-align: center;

      @include breakpoint(sm) {
        font-size: 20px;
      }
      @include breakpoint(md) {
        font-size: 20px;
      }
    }
    &:hover {
      @include  card-hover-shadow;
      background: $white-color;
      .link__icon {
        margin: 10px auto 15px;
      }
      .link__text {
        color: $dark-brown-color;
      }
    }
  }
}
