.credit-cards-wrap {
  .credit-card {
    @include padding(40px, 40px, 40px, 40px);
    @include margin(0, 0, 50px, 0);
    @include transition(all 0.5s ease);
    @include my-shadow();

    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
      @include padding(30px, 30px, 30px, 30px);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 30px, 0);
      @include padding(30px, 30px, 30px, 30px);
    }

    &__figure-holder {
      @include margin(0, 0, 40px, 0);
      @include border-radius(15px);
      overflow: hidden;
      img {
        @include transform(scale(1));
        @include border-radius(15px);
        width: 100%;
      }
    }
    &__caption {
      text-align: center;
    }
    &__type {
      @include margin(0, 0, 20px, 0);
      color: $dark-grey-color;
      font-size: 14px;
      display: block;
      text-transform: uppercase;
    }
    &__title {
      @include margin(0, 0, 10px, 0);
      color: $brand-color;
      font-size: 20px;
      display: block;
      line-height: 1.25;

      @include breakpoint(sm) {
        font-size: 25px;
      }
      @include breakpoint(md) {
        font-size: 25px;
      }
    }
    &__content {
      @include margin(0, 0, 20px, 0);
      color: $text-grey-color;
      font-size: 12px;
      line-height: 1.75;
    }
    &__link {
      @include margin(0, 0, 20px, 0);
      display: inline-block;
    }
  

    &:hover {
      @include  card-hover-shadow;
      @include border-radius(5px);
      @include transform(translateY(-5px));

      @include breakpoint(sm) {
        box-shadow: none;
      }
      @include breakpoint(md) {
        box-shadow: none;
      }

      img {
        @include transform(scale(1.1));
      }
      .credit-card__title {
        color: $dark-grey-color;
      }
    }
  }
}

/* bottom rectangle */
.info-rectangle {
  &__figure-holder {
    @include breakpoint(sm) {
      @include margin(0, 0, 20px, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 20px, 0);
    }
  }
  &__caption {
    @include padding(0, 0, 0, 50px);
    @include breakpoint(sm) {
      @include padding(0, 0, 0, 0);
    }
    @include breakpoint(md) {
      @include padding(0, 0, 0, 0);
    }
  }

  &__title {
    color: $brand-color;
    font-size: 38px;
    display: block;
    line-height: 1.25;
    @include margin(0, 0, 30px, 0);

    &:hover {
      color: $dark-grey-color;
    }

    @include breakpoint(sm) {
      font-size: 25px;
    }
  }

  &__content {
    @include margin(0, 0, 40px, 0);
    color: $text-grey-color;
    font-size: 18px;
    line-height: 1.7;

    @include breakpoint(sm) {
      @include margin(0, 0, 20px, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 20px, 0);
    }
  }
}

/* fees and rates */
.fees-rates {
  &__title {
    @include margin(0, 0, 50px, 0);

    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 30px, 0);
    }
  }
  .card {
    @include my-shadow;
    @include padding(30px, 30px, 30px, 30px);
    @include margin(0, 0, 30px, 0);
    @include border-radius(5px);
    &__title {
      font-size: 19px;
      color: $dark-grey-color;
      @include margin(0, 0, 20px, 0);
    }
    &__limit-text {
      font-size: 16px;
      color: $dark-grey-color-shade;
    }
  }
  p {
    font-size: 18px;
    color: $dark-grey-color-shade;
    text-align: center;
  }
}

/* features */
.features {
  &__title {
    @include margin(0, 0, 50px, 0);
    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 30px, 0);
    }
  }
  &__list-group {
    @include margin(0, 0, 0, 50px);

    @include breakpoint(sm) {
      @include margin(0, 0, 0, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 0, 0);
    }
  }
  &__list-item {
    font-size: 20px;
    color: $text-grey-color;
    @include margin(0, 0, 20px, 0);
    @include padding(0, 0, 0, 40px);
    position: relative;

    @include breakpoint(sm) {
      font-size: 17px;
      @include padding(0, 0, 0, 20px);
    }

    &:before {
      position: absolute;
      width: 5px;
      height: 5px;
      @include border-radius(50%);
      background: $brand-color;
      content: "";
      top: 12px;
      left: 0;
    }
  }
}

/* start your application */
.start-your-application {
  @include my-shadow;
  @include padding(50px, 50px, 50px, 50px);
  @include transition(all 0.5s ease);
  @include border-radius(5px);

  @include breakpoint(sm) {
    @include padding(30px, 30px, 30px, 30px);

    figure {
      @include margin(0, 0, 30px, 0);
    }
  }
  @include breakpoint(md) {
    @include margin(30px, 30px, 30px, 30px);
    figure {
      @include margin(0, 0, 30px, 0);
    }
  }

  .caption {
    @include margin(0, 0, 0, 50px);

    @include breakpoint(sm) {
      @include margin(0, 0, 0, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 0, 0);
    }

    &__title {
      @include margin(0, 0, 20px, 0);
    }
    &__content {
      @include margin(0, 0, 20px, 0);
      font-size: 14px;
    }
    .sweep-btn-center {
      @include border-radius(25px);
      color: $brand-second-color;
      @include padding(15px, 70px, 15px, 70px);

      @include breakpoint(sm) {
        width: 100%;
        text-align: center;
      }

    }
  }

  &:hover{
    @include  card-hover-shadow;
    @include transform(translateY(-5px));
  }
}

.card-bottom-nav {
  &__title {
    @include margin(0, 0, 50px, 0);
    text-align: center;

    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 30px, 0);
    }
  }
  .link {
    text-align: center;
    @include transition(all 0.5s ease);
    display: block;
    @include padding(20px, 20px, 20px, 20px);
    @include border-radius(5px);
    @include margin(0, 0, 50px, 0);

    &__icon {
      display: block;
      background: url(../images/navigation-icons-sprite.jpg) no-repeat;
      margin: 0 auto 30px;
      background-size: 717px 73px;
      @include transition(all 0.5s ease);

      @include breakpoint(sm) {
        margin: 0 auto 20px;
      }
    }
    &--icon-01 {
      width: 62px;
      height: 62px;
      background-position: -289px -11px;
    }
    &--icon-02 {
      width: 62px;
      height: 62px;
      background-position: -362px -11px;
    }
    &--icon-03 {
      width: 50px;
      height: 62px;
      background-position: -438px  -11px;
    }
    &--icon-04 {
      width: 50px;
      height: 62px;
      background-position: -499px -11px;
    }
    &__text {
      color: $brand-color;
      font-size: 20px;
      display: block;
      text-align: center;
    }
    &:hover {
      @include  card-hover-shadow;
      .link__icon {
        margin: 10px auto 0;
        margin-bottom: 10px;

        @include breakpoint(sm) {
          margin-bottom: 10px;
        }
      }

      .link__text {
        color: $dark-grey-color;
      }
    }
  }
  
  p {
    color: $brand-color;
    font-size: 14px;
    text-align: center;
  }
}
