.go-cvp-landing {
  .top-section {
    height: 450px;
    overflow: hidden;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .figure-holder {
      width: 70%;

      @include breakpoint(sm) {
        width: 100%;
      }
      img {
        width: 100%;
      }
    }
    .caption {
      box-shadow: 0px 3px 24px #b9a7a71a;
      background: $white-color;
      width: 40%;
      position: relative;
      right: 100px;
      top: 0;

      @include breakpoint(sm) {
        width: 90%;
        right: 0;
        left: 20px;
        top: 20px;
        position: absolute;
        background: rgba($white-color, 0.7);
      }

      @include padding(30px, 30px, 30px, 30px);
      h2 {
        font-family: $font-secondary-en;
        @include margin(0, 0, 20px, 0);
      }
    }
  }

  .icon-wrap {
    width: 98px;
    height: 98px;
    border: 3px solid $brand-color;
    @include border-radius(50%);
    @include padding(20px, 20px, 20px, 20px);
    /*  margin: 0 auto 30px; */
    @include margin(0, 0, 30px, 0);
  }
  .title {
    color: $brand-color;
    font-size: 22px;
    font-family: $font-secondary-en;
    @include margin(0, 0, 20px, 0);
  }
  .link-group {
    li {
      @include margin(0, 0, 10px, 0);
      a {
        color: $dark-brown-color;
        font-size: 14px;
        position: relative;
        &:before {
          content: "\f105";
          position: absolute;
          left: 0;
          color: $brand-color;
          font-family: "FontAwesome";
          font-size: 20px;
          @include transition(all 0.5s ease);
          opacity: 0;
          top: -4px;
        }

        &:hover {
          color: $brand-color;
          @include padding(0, 0, 0, 15px);
          &:before {
            opacity: 10;
          }
        }
      }
    }
  }

  .accordion-wrap {
    h2 {
      font-family: $font-secondary-en;
    }
    .accordion {
      .card {
        border: 0 !important;
        @include margin(0, 0, 20px, 0);
        @include padding(0, 0, 0, 0);
        background: none !important;
      }
      .card-header {
        background: none !important;
        border-bottom: 0;
        @include padding(0, 0, 0, 0);

        h5 {
          font-size: 14px;
          color: $dark-grey-color-shade;
          font-family: $font-secondary-en;
          @include padding(0, 45px, 0, 0);
          position: relative;
          cursor: pointer;
          height: 38px;
          align-items: center;
          display: flex;

          &:before {
            font-family: FontAwesome;
            content: "\f106";
            position: absolute;
            right: 0;
            font-size: 18px;
            top: 0;
            border-radius: 50%;
            height: 36px;
            line-height: 36px;
            width: 36px;
            text-align: center;
            background: #3ab3e533;
            color: $brand-color;
            @include transition(all 0.5s ease);
          }

          &.collapsed {
            &:before {
              content: "\f107";
            }
          }

          &:hover {
            text-decoration: none;
            color: $brand-color;
            &:before {
              background: $brand-color;
              color: $white-color;
            }
          }
          &:focus {
            text-decoration: none;
          }
        }
      }
      .card-body {
        @include padding(20px, 20px, 20px, 20px);
        @include margin(10px, 0, 0, 0);
        background: $white-color;
        @include border-radius(5px);


        p {
          @include margin(0, 0, 0, 0);
          color: $dark-grey-color-shade;
          font-size: 14px;
        }
        h4{
          color: $brand-color;
          font-size: 14px;
        }
      }
    }
  }
}
