/* hero wrap */
.hero-image {
  position: relative;
  overflow: hidden;
  min-height: 630px;
  @include margin(80px, 0, 0, 0);

  @include breakpoint(sm) {
    @include margin(73px, 0, 0, 0);
    .desktop-img {
      display: none;
    }
  }
  .mobile-img {
    display: none;
    @include breakpoint(sm) {
      display: block;
    }
  }

  @include breakpoint(md) {
    min-height: auto;
  }

  &:before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background: rgba($brand-color, 0.5);
    left: 0;
    top: 0;
  }

  &__caption {
    position: absolute;
    left: 150px;
    top: 200px;
    width: 40%;
    @include transform(rotate(-10deg));

    @include breakpoint(sm) {
      width: 80%;
      left: 40px;
      top: 200px;
    }
    @include breakpoint(md) {
      top: 50px;
    }
  }
  &__title {
    color: $white-color;
    font-size: 65px;
    font-family: $font-avertablack-en;
    line-height: 1;
    @include margin(0, 0, 30px, 0);

    @include breakpoint(sm) {
      font-size: 40px;
      @include margin(0, 0, 10px, 0);
    }

    @include breakpoint(md) {
      font-size: 40px;
      @include margin(0, 0, 10px, 0);
    }

    span {
      color: $brand-color;
    }
  }

  &__send-btn {
    background: url(../images/send-button@3x.png) no-repeat;
    width: 22px;
    height: 26px;
    display: block;
    background-size: 22px 26px;
  }
}

/* financial results */
.financial-results {
  @include my-shadow;
  @include border-radius(5px);
  background: $white-color;
  @include padding(85px, 100px, 85px, 100px);
  @include margin(-75px, 0, 100px, 0);
  position: relative;

  @include breakpoint(sm) {
    @include padding(30px, 30px, 30px, 30px);
  }

  @include breakpoint(md) {
    @include padding(30px, 30px, 30px, 30px);
  }

  .title {
    font-size: 38px;
    font-family: $font-secondary-en;
    @include margin(0, 0, 55px, 0);
  }

  .content {
    font-size: 16px;
    font-family: $font-secondary-en;
    position: relative;
    color: $dark-grey-color-shade;
    @include padding(40px, 45px, 0, 0);

    @include breakpoint(sm) {
      @include margin(0, 0, 50px, 0);
    }

    &:before {
      position: absolute;
      content: "";
      @include border-radius(50px);
      width: 96px;
      height: 15px;
      top: 0;
      left: 0;
      background: $brand-color;
    }
  }
}

/* news  */
.group-banking-news {
  .heading-wrap {
    &__title {
      font-family: $font-secondary-en;
      @include margin(0, 0, 20px, 0);
    }
    &__sub-title {
      font-size: 16px;
      color: $dark-grey-color-shade;

      @include breakpoint(sm) {
        @include margin(0, 0, 30px, 0);
      }
    }
  }

  .news-content {
    &__title {
      font-size: 38px;
      @include margin(0, 0, 20px, 0);
      color: $brand-color;
      line-height: 1.16;
      display: block;

      @include breakpoint(sm) {
        font-size: 22px;
      }

      &:hover {
        color: $dark-grey-color;
      }
    }
    &__date {
      font-size: 12px;
      @include margin(0, 0, 20px, 0);
      color: $dark-grey-color-shade;
      display: block;
    }
    &__text {
      font-size: 16px;
      @include margin(0, 0, 50px, 0);
      color: $dark-grey-color-shade;
    }
    .button__cta {
      .anchor__inner {
        font-size: 18px;
      }
    }
  }
}

.group-banking-info-rectangle {
  @include padding(105px, 0, 105px, 0);
  background: $brand-color;

  @include breakpoint(sm) {
    @include padding(30px, 0, 30px, 0);
  }
  @include breakpoint(md) {
    @include padding(30px, 0, 30px, 0);
  }

  .title {
    font-size: 38px;
    color: $white-color;
    font-family: $font-secondary-en;
    @include margin(0, 0, 55px, 0);

    @include breakpoint(sm) {
      font-size: 25px;
      @include margin(0, 0, 30px, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 30px, 0);
    }
  }
  .content {
    font-size: 16px;
    @include margin(0, 0, 75px, 0);
    color: rgba($white-color, 0.7);

    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 30px, 0);
    }
  }
  .sweep-btn-center {
    @include padding(15px, 80px, 15px, 80px);

    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
      width: 100%;
      text-align: center;
      @include padding(15px, 0, 15px, 0);
    }

    @include breakpoint(md) {
      @include padding(15px, 20px, 15px, 20px);
      width: 100%;
      text-align: center;
    }
  }
}

/* countries menu */
.countries-menu {
  position: absolute;
  width: 100%;
  top: 25px;

  @include breakpoint(sm) {
    .navbar-collapse {
      background: $white-color;
      @include border-radius(5px);
      @include padding(20px, 0, 20px, 0);
      z-index: 999;
      @include margin(20px, 0, 0, 0);
      position: relative;

      &::before {
        bottom: 100%;
        left: 30px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #fff;
        border-width: 10px;
        margin-left: -10px;
      }
      .nav-link {
        color: $dark-grey-color !important;
        @include padding(10px, 20px, 10px, 20px !important );

      }
    }
  }

  @include breakpoint(md) {
    .navbar-collapse {
      background: $white-color;
      @include border-radius(5px);
      @include padding(20px, 0, 20px, 0);
      z-index: 999;
      @include margin(20px, 0, 0, 0);
      position: relative;

      &::before {
        bottom: 100%;
        left: 30px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #fff;
        border-width: 10px;
        margin-left: -10px;
      }

      .nav-link {
        color: $dark-grey-color !important;
        @include padding(10px, 20px, 10px, 20px);
      }
    }
  }

  .navbar-nav {
    @include padding(0, 0, 0, 200px);

    @include breakpoint(sm) {
      @include padding(0, 0, 0, 0 !important);
    }
    @include breakpoint(md) {
      @include padding(0, 0, 0, 0 !important);
    }
  }

  .nav-link {
    color: $white-color !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: $font-secondary-en;
    font-size: 16px;
    position: relative;
    @include padding(0, 50px, 0, 50px !important);

    &:hover {
      color: $brand-color !important;
    }
  }

  li {
    &.dropdown {
      .dropdown-toggle {
        &:after {
          content: "\f105";
          font-family: "FontAwesome";
          position: absolute;
          @include margin(3px, 0, 0, 15px);
          border: 0;
          color: rgba($white-color, 0.5);
          font-size: 12px;
          right: 0;
          top: 0;

          @include breakpoint(sm) {
            color: $dark-grey-color;
            right: 40px;
            top: 10px;
          }
          @include breakpoint(md) {
            color: $dark-grey-color;
            right: 40px;
            top: 10px;
          }
        }
      }
    }
    &.show {
      .dropdown-toggle {
        &:after {
          content: "\f107";
        }
      }
    }
  }

  .dropdown-menu {
    background: none;
    border: 0;
    text-align: right;

    @include breakpoint(sm) {
      text-align: left;
      @include padding(0, 0, 0, 35px);
    }
    @include breakpoint(md) {
      text-align: left;
      @include padding(0, 0, 0, 35px);
    }

    .dropdown-item {
      font-size: 12px;
      color: $white-color;
      position: relative;

      @include breakpoint(sm) {
        color: $dark-grey-color;
      }
      @include breakpoint(md) {
        color: $dark-grey-color;
      }

      &:before {
        position: absolute;
        content: "";
        height: 1px;
        width: 0;
        background: $brand-second-color;
        top: 12px;
        right: 0;
        @include transition(all 0.3s ease-out);

        @include breakpoint(sm) {
          left: 0;
        }
        @include breakpoint(md) {
          left: 0;
        }
      }

      &:hover {
        background: none;
        color: $brand-second-color;
        &:before {
          width: 14px;
        }
      }
    }
  }
}

.group-banking-title {
  text-align: center;
  @include margin(80px, 0, 80px, 0);

  h2 {
    @include margin(0, 0, 40px, 0);
  }
  p {
    color: $dark-grey-color-shade;
    font-size: 18px;
  }
}

.inverstor-relation-tab {
  .nav-tabs {
    border: 1px solid $brand-color;
    @include margin(0, 0, 40px, 0);
    @include border-radius(50px);
    overflow: hidden;

    .nav-item {
      width: 25%;
      border-right: 1px solid $brand-color;
      @include margin(0, 0, 0, 0);

      @include breakpoint(sm) {
        width: 50%;
        border-bottom: 1px solid $brand-color;

        &:nth-of-type(3n) {
          border-bottom: 0;
        }

        &:nth-of-type(4n) {
          border-bottom: 0;
        }
      }

      &:last-child {
        border-right: 0;
      }
    }
    .nav-link {
      font-size: 13px;
      color: $dark-grey-color-shade;
      letter-spacing: 1px;
      font-family: $font-secondary-en;
      text-align: center;
      @include padding(15px, 0, 15px, 0);
      border: 0;

      @include breakpoint(sm) {
        font-size: 11px;
        letter-spacing: 0;
      }

      &:hover {
        background: $light-blue-color;
        border: 0;
      }
      &.active {
        background: $light-blue-color;
        border: 0;
      }
    }
  }

  .tab-content {
    @include border-radius(5px);
    @include my-shadow;
    background: $white-color;
    @include padding(50px, 50px, 50px, 50px);

    h5 {
      font-size: 28px;
      color: $dark-grey-color-shade;
      border-bottom: 1px solid $light-grey-color;
      @include padding(0, 0, 30px, 0);
      @include margin(0, 0, 40px, 0);
      text-transform: capitalize;
    }
    ul {
      li {
        position: relative;
        @include margin(0, 0, 20px, 0);
        color: $dark-grey-color-shade;
        font-size: 20px;
        @include padding(0, 0, 0, 30px);

        &:before {
          width: 5px;
          height: 5px;
          background: $brand-color;
          content: "";
          left: 0;
          top: 13px;
          @include border-radius(50%);
          position: absolute;
        }
      }
    }
  }
}

.about-us-tab {
  .nav-pills {
    @extend %nav-pills;
  }
  .tab-content {
    h5 {
      font-size: 28px;
      color: $dark-grey-color-shade;
      border-bottom: 1px solid $light-grey-color;
      @include padding(0, 0, 30px, 0);
      @include margin(0, 0, 40px, 0);
      text-transform: capitalize;
    }
    p {
      @include margin(0, 0, 60px, 0);
      color: $dark-grey-color-shade;
      font-size: 18px;
    }
    .our-values {
      .card {
        @include my-shadow;
        @include border-radius(5px);
        @include margin(0, 0, 30px, 0);
        background: $white-color;
        @include padding(30px, 30px, 30px, 30px);
        display: flex;
        flex-direction: row;
        align-items: center;

        &__icon {
          background: url(../images/premier-banking-icons-sprite.png) no-repeat;
          background-size: 700px 365px;
        }
        &--icon-01 {
          width: 36px;
          height: 36px;
          background-position: -289px -296px;
        }
        &--icon-02 {
          width: 40px;
          height: 36px;
          background-position: -345px -296px;
        }
        &--icon-03 {
          width: 29px;
          height: 28px;
          background-position: -407px -296px;
        }
        &--icon-04 {
          width: 29px;
          height: 28px;
          background-position: -458px -299px;
        }
        &__title {
          color: $brand-color;
          font-size: 22px;
          @include margin(0, 0, 0, 20px);
        }
      }
    }
  }
}
