/* insurance form */
.insurance-form-wrap {
  .insurance-row {
    @include breakpoint(sm) {
      @include margin(0, 0, 40px, 0);
    }
  }

  .title {
    text-transform: uppercase;
    color: $dark-grey-color;
    @include margin(0, 0, 50px, 20px);
    font-size: 18px;
    font-weight: bold;

    @include breakpoint(sm) {
      @include margin(0, 0, 20px, 10px);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 20px, 10px);
    }
  }
  .sub-title {
    @include margin(0, 0, 36px, 10px);
    font-size: 14px;
    font-weight: bold;
    color: $dark-grey-color-shade;

    @include breakpoint(sm) {
      @include margin(0, 0, 20px, 10px);
    }
  }

  .nice-select {
    @include border-radius(50px);
    @include margin(0, 0, 15px, 0);
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-size: 13px;
    .list {
      @include margin(4px, 0, 0, 0);
    }
  }

  .form-control {
    @include border-radius(50px);
    @include padding(0, 25px, 0, 25px);
    font-weight: bold;
    height: 40px;
  }
}

/* insurance tab */
.insurance-tab {
  .nav-pills {
    @extend %nav-pills;
  }

  .tab-content {
    .title {
      text-transform: capitalize;
      @include margin(0, 0, 40px, 0);
    }
    .content {
      color: $dark-grey-color-shade;
      font-size: 18px;
      @include margin(0, 0, 40px, 0);
    }
  }
}

.insurance-heading-wrap {
  @include margin(10px, 0, 50px, 0);
  background: $white-color;

  .title {
    text-align: center;
    color: $dark-brown-color;
    text-transform: uppercase;
    font-size: 40px;
    font-family: $font-secondary-en;
    @include margin(0, 0, 30px, 0);

    @include breakpoint(sm) {
      font-size: 30px;
    }
  }
  .sub-title {
    font-size: 14px;
    color: $dark-grey-color-shade;
    text-align: center;
    font-family: $font-secondary-en;
  }
}

/* insurance get started */
.insurance-get-started {
  @include padding(100px, 0, 80px, 0);
  box-shadow: inset 0 20px 24px 0 rgba(0, 0, 0, 0.1);

  @include breakpoint(sm) {
    @include padding(30px, 0, 30px, 0);
  }

  .get-started-form-wrap {
    @include margin(0, 0, 130px, 0);

    @include breakpoint(sm) {
      @include margin(0, 0, 60px, 0);
    }

    @include breakpoint(md) {
      @include margin(0, 0, 60px, 0);
    }

    .heading-wrap {
      @include margin(0, 0, 60px, 0);

      @include breakpoint(sm) {
        @include margin(0, 0, 30px, 0);
      }

      &__title {
        @include margin(0, 0, 50px, 0);
        color: $dark-brown-color;
        font-size: 30px;
        font-family: $font-secondary-en;

        @include breakpoint(sm) {
          @include margin(0, 0, 30px, 0);
        }
      }
      &__sub-title {
        color: $dark-grey-color-shade;
        font-size: 14px;
        font-family: $font-secondary-en;
      }
    }

    .form-group {
      @include margin(0, 0, 40px, 0);

      @include breakpoint(sm) {
        @include margin(0, 0, 30px, 0);
      }

      label {
        @include margin(0, 0, 35px, 0);
        font-size: 14px;
        font-family: $font-secondary-en;
        color: $dark-grey-color-shade;

        @include breakpoint(sm) {
          @include margin(0, 0, 20px, 0);
        }
      }
    }
    .form-control {
      width: 75%;
      @include breakpoint(sm) {
        width: 100%;
      }
      @include breakpoint(md) {
        width: 100%;
      }
      &:focus {
        border: 1px solid $brand-color;
      }
    }
    .nice-select {
      width: 75%;
      @include breakpoint(sm) {
        width: 100%;
      }
      @include breakpoint(md) {
        width: 100%;
      }
    }
    .radio-group {
      @include breakpoint(sm) {
        @include margin(0, 0, 20px, 0);
      }
      p {
        font-size: 14px;
        font-family: $font-secondary-en;
        color: $dark-grey-color-shade;
        @include margin(0, 0, 30px, 0);

        @include breakpoint(sm) {
          @include margin(0, 0, 20px, 0);
        }
      }
    }
    .sweep-btn-center {
      @include margin(50px, 0, 0, 0);
      text-transform: inherit;

      @include breakpoint(sm) {
        @include margin(0, 0, 0, 0);
      }
      @include breakpoint(md) {
        @include margin(0, 0, 0, 0);
      }
    }
  }

  .tabs {
    .nav-tabs {
      border: 0;
      box-shadow: 0 20px 24px 0 rgba(0, 0, 0, 0.1);
      background: $white-color;
      @include margin(0, 0, 110px, 0);

      @include breakpoint(sm) {
        @include margin(0, 0, 60px, 0);
      }
    }

    .nav-item {
      &__icon {
        display: block;
        background: url(../images/premier-banking-icons-sprite.png) no-repeat;
        margin: 0 auto 20px;
        background-size: 490px 260px;
        @include transition(all 0.5s ease);
      }
      &--icon-01 {
        width: 46px;
        height: 44px;
        background-position: -14px -138px;
      }
      &--icon-02 {
        width: 40px;
        height: 44px;
        background-position: -82px -140px;
      }
      &--icon-03 {
        width: 44px;
        height: 44px;
        background-position: -140px -138px;
      }
    }

    .nav-link {
      text-transform: uppercase;
      color: $dark-brown-color;
      font-size: 20px;
      font-family: $font-secondary-en;
      border: 0;
      @include padding(30px, 0, 30px, 0);

      @include breakpoint(sm) {
        font-size: 15px;
      }

      &.active {
        border: 0;
        @include border-radius(0);
        background: $dark-brown-color;
        position: relative;
        color: $white-color;

        &:after {
          top: 100%;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(245, 245, 245, 0);
          border-top-color: $dark-brown-color;
          border-width: 30px;
          margin-left: -30px;
        }
        .nav-item--icon-01 {
          background-position: -14px -182px;
        }
        .nav-item--icon-02 {
          background-position: -82px -182px;
        }
        .nav-item--icon-03 {
          background-position: -140px -182px;
        }
      }
      &:hover {
        border: 0;
        @include border-radius(0);
        background: $dark-brown-color;
        color: $white-color;

        .nav-item--icon-01 {
          background-position: -14px -182px;
        }
        .nav-item--icon-02 {
          background-position: -82px -182px;
        }
        .nav-item--icon-03 {
          background-position: -140px -182px;
        }
      }
    }
  }

  .tab-content {
    .heading-wrap {
      text-align: center;
      @include margin(0, 0, 80px, 0);

      @include breakpoint(sm) {
        @include margin(0, 0, 50px, 0);
      }

      &__main-title {
        @include margin(0, 0, 30px, 0);
        color: $brand-color;
        font-size: 50px;

        @include breakpoint(sm) {
          font-size: 35px;
        }
      }
      &__sub-title {
        color: $dark-grey-color-shade;
        font-size: 23px;
      }
    }

    .card {
      @include border-radius(5px);
      background: $white-color;
      @include margin(0, 0, 110px, 0);
      box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
      @include transition(all 0.5s ease);

      @include breakpoint(sm) {
        @include margin(0, 0, 30px, 0);
      }

      &__figure-holder {
        overflow: hidden;
        @include border-radius(5px 0 0 5px);

        @include breakpoint(sm) {
          @include border-radius(5px 5px 0 0);
        }

        img {
          @include border-radius(5px 0 0 5px);
          @include transform(scale(1));
          @include transition(all 0.5s ease);

          @include breakpoint(sm) {
            @include border-radius(5px 5px 0 0);
          }
        }
      }
      &__caption {
        @include padding(30px, 30px, 30px, 30px);
      }
      &__title {
        font-size: 27px;
        color: $dark-brown-color;
        @include margin(0, 0, 30px, 0);
        font-family: $font-secondary-en;
      }
      &__content {
        font-size: 20px;
        color: $dark-grey-color-shade;
        @include margin(0, 0, 30px, 0);
      }

      .sweep-btn-brown {
        @include breakpoint(sm) {
          width: 100%;
        }
      }

      &:hover {
        @include transform(translateY(-5px));

        img {
          @include transform(scale(1.1));
        }
      }

      &:last-child {
        @include margin(0, 0, 0, 0);
      }
    }

    .packages {
      &__title {
        font-size: 28px;
        @include margin(0, 0, 30px, 0);
      }
      &__card {
        background: $white-color;
        @include padding(30px, 30px, 30px, 30px);
        @include my-shadow;
        @include margin(0, 0, 20px, 0);
        position: relative;

        @include breakpoint(sm) {
          @include padding(20px, 20px, 20px, 20px);
        }
      }
      &__card-title {
        font-size: 14px;
        color: $dark-brown-color;
        font-family: $font-secondary-en;
        @include margin(0, 0, 30px, 0);
        @include padding(0, 50px, 0, 0);
      }

      .read-more {
        &__link {
          display: block;
          position: relative;
          font-size: 14px;
          color: $dark-grey-color-shade;

          &:after {
            content: "\f105";
            font-family: "FontAwesome";
            position: absolute;
            @include margin(0, 0, 0, 15px);
          }
          &:hover {
            color: $brand-color;
          }
        }
        a[aria-expanded="true"]:after {
          content: "\f107";
        }
      }

      .collapse-content {
        font-size: 12px;
        color: $dark-grey-color-shade;
        @include margin(20px, 0, 0, 0);
      }

      .checkboxes {
        position: absolute;
        right: 40px;
        top: 30px;

        @include breakpoint(sm) {
          right: 20px;
          top: 20px;
        }

        input[type="checkbox"] {
          + label {
            &:before {
              width: 38px;
              height: 38px;
              border: 1px solid $dark-grey-color-shade;
            }
            &:after {
              left: 15px;
              top: 11px;
              width: 7px;
              height: 13px;
              opacity: 0;
              border-bottom: 2px solid $white-color;
              border-right: 2px solid $white-color;
            }
          }
          &:checked {
            + label {
              &:before {
                content: "";
                background: $brand-color;
                border: 1px solid $brand-color;
              }

              &:after {
                content: "";
                opacity: 1;
                color: $white-color;
              }
            }
          }
        }
      }
    }
  }
}

/* employee benefits tabs   */

.insurance-title-wrap {
  height: 430px;
  overflow: hidden;
  position: relative;

  @include breakpoint(sm) {
    height: 350px;
  }
  @include breakpoint(md) {
    height: auto;
  }

  &:before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background: rgba($black-color, 0.7);
    left: 0;
    top: 0;
  }

  @include breakpoint(sm) {
    .desktop-img {
      display: none;
    }
  }
  .mobile-img {
    display: none;
    @include breakpoint(sm) {
      display: block;
    }
  }

  &__caption {
    position: absolute;
    top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 330px;
    flex-direction: column;
    text-align: center;
    @include padding(0, 150px, 0, 150px);

    @include breakpoint(sm) {
      @include padding(0, 30px, 0, 30px);
      height: 275px;
      top: 73px;
    }
    @include breakpoint(md) {
      @include padding(0, 30px, 0, 30px);
      height: 175px;
      top: 73px;
    }
  }

  &__title {
    color: $white-color;
    font-size: 40px;
    font-family: $font-secondary-en;
    @include margin(0, 0, 40px, 0);

    @include breakpoint(sm) {
      font-size: 30px;
      @include margin(0, 0, 20px, 0);
    }

    @include breakpoint(md) {
      font-size: 30px;
      @include margin(0, 0, 20px, 0);
    }
  }

  &__content {
    color: $light-grey-color;
    font-size: 23px;

    @include breakpoint(sm) {
      font-size: 16px;
    }
  }
}

.employee-benefits-tab {
  .nav-pills {
    @extend %nav-pills;
  }
  /* accordion  */
  .tab-content {
    .card {
      border: 0 !important;
      @include margin(0, 0, 20px, 0);
      @include my-shadow();
      background: $white-color;
      @include padding(25px, 50px, 35px, 50px);

      @include breakpoint(sm) {
        @include padding(25px, 25px, 25px, 25px);
      }
      @include breakpoint(md) {
        @include padding(25px, 25px, 25px, 25px);
      }
    }
    .card-header {
      background: none !important;
      border-bottom: 0;
      @include padding(0, 0, 0, 0);

      h5 {
        font-size: 28px;
        color: $dark-grey-color-shade;
        @include padding(0, 0, 0, 0);
      }
    }
    .card-body {
      @include padding(40px, 0, 0, 0);
      @include margin(30px, 0, 0, 0);
      border-top: 1px solid $light-grey-color;

      p {
        @include margin(0, 0, 40px, 0);
        color: $dark-grey-color-shade;
        font-size: 18px;
      }
      h2 {
        font-size: 28px;
        @include margin(0, 0, 30px, 0);
      }
      ul {
        @include margin(0, 0, 50px, 0);
        li {
          position: relative;
          @include margin(0, 0, 10px, 0);
          color: $dark-grey-color-shade;
          font-size: 16px;
          @include padding(0, 0, 0, 30px);

          &:before {
            width: 5px;
            height: 5px;
            background: $brand-color;
            content: "";
            left: 0;
            top: 9px;
            @include border-radius(50%);
            position: absolute;
          }
        }
      }

      .policies {
        &__title {
          font-size: 28px;
          @include margin(0, 0, 30px, 0);
        }
        &__card {
          background: $white-color;
          @include padding(30px, 30px, 30px, 30px);
          @include my-shadow;
          @include margin(0, 0, 40px, 0);
          position: relative;

          @include breakpoint(sm) {
            @include padding(20px, 20px, 20px, 20px);
            @include margin(0, 0, 20px, 0);
          }
        }
        &__card-title {
          font-size: 14px;
          color: $dark-brown-color;
          font-family: $font-secondary-en;
          @include margin(0, 0, 30px, 0);
          @include padding(0, 50px, 0, 0);
        }

        .read-more {
          &__link {
            display: block;
            position: relative;
            font-size: 14px;
            color: $dark-grey-color-shade;

            &:after {
              content: "\f105";
              font-family: "FontAwesome";
              position: absolute;
              @include margin(0, 0, 0, 15px);
            }
            &:hover {
              color: $brand-color;
            }
          }
          a[aria-expanded="true"]:after {
            content: "\f107";
          }
        }

        .collapse-content {
          font-size: 12px;
          color: $dark-grey-color-shade;
          @include margin(20px, 0, 0, 0);
        }

        .checkboxes {
          position: absolute;
          right: 40px;
          top: 30px;

          @include breakpoint(sm) {
            right: 20px;
            top: 20px;
          }

          input[type="checkbox"] {
            + label {
              &:before {
                width: 38px;
                height: 38px;
                border: 1px solid $dark-grey-color-shade;
              }
              &:after {
                left: 15px;
                top: 11px;
                width: 7px;
                height: 13px;
                opacity: 0;
                border-bottom: 2px solid $white-color;
                border-right: 2px solid $white-color;
              }
            }
            &:checked {
              + label {
                &:before {
                  content: "";
                  background: $brand-color;
                  border: 1px solid $brand-color;
                }

                &:after {
                  content: "";
                  opacity: 1;
                  color: $white-color;
                }
              }
            }
          }
        }
      }
    }
  }
}
