.exchnage-rate-ticker {
  @include padding(20px, 0, 20px, 0);
  @include margin(0, 0, 50px, 0);
}
.line-heading-wrap {
  color: $dark-brown-color;
  text-transform: uppercase;
  font-family: $font-avertablack-en;
  font-size: 40px;
  @include margin(0, 0, 150px, 0);
  position: relative;
  text-align: center;

  @include breakpoint(sm) {
    @include margin(80px, 0, 150px, 0);
    font-size: 25px;
  }

  &:before {
    content: "";
    position: absolute;
    background: $dark-brown-color;
    width: 160px;
    height: 8px;
    top: 85px;
    left: 50%;
    @include transform(translateX(-50%));
    @include border-radius(15px);
  }
}

.investment-head-lg {
  text-align: center;
  &__title {
    font-size: 40px;
    @include margin(0, 0, 50px, 0);

    @include breakpoint(sm) {
      font-size: 30px;
      @include margin(0, 0, 30px, 0);
    }
  }
  &__content {
    font-size: 23px;
    color: $dark-grey-color-shade;
    @include padding(0, 100px, 0, 100px);

    @include breakpoint(sm) {
      font-size: 20px;
      @include padding(0, 0, 0, 0);
    }
  }
}

.investing-with-us {
  .title {
    @include margin(0, 0, 80px, 0);
    text-align: center;

    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
      font-size: 30px;
    }
    @include breakpoint(md) {
      @include margin(0, 0, 30px, 0);
    }
  }

  .list-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include padding(0, 30px, 0, 30px);

    @include breakpoint(sm) {
      flex-direction: column;
    }
  }

  .link {
    text-align: center;
    @include transition(all 0.5s ease);
    display: block;
    @include padding(20px, 20px, 20px, 20px);
    @include border-radius(5px);

    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
    }

    &__icon {
      display: block;
      background: url(../images/investment-icons-sprite.png) no-repeat;
      margin: 0 auto 30px;
      background-size: 634px 123px;
      @include transition(all 0.5s ease);

      @include breakpoint(sm) {
        margin: 0 auto 20px;
      }
    }
    &--icon-01 {
      width: 81px;
      height: 53px;
      background-position: -12px -20px;
    }
    &--icon-02 {
      width: 51px;
      height: 53px;
      background-position: -115px -20px;
    }
    &--icon-03 {
      width: 53px;
      height: 53px;
      background-position: -190px -20px;
    }

    &__text {
      color: $dark-brown-color;
      font-size: 30px;
      display: block;
      text-align: center;

      @include breakpoint(sm) {
        font-size: 20px;
      }
      @include breakpoint(md) {
        font-size: 20px;
      }
    }
    &:hover {
      @include card-hover-shadow;
      background: $white-color;
      .link__icon {
        margin: 10px auto 15px;
      }
      .link__text {
        color: $dark-brown-color;
      }
    }
  }
}

/* clients */
.our-clients {
  h2 {
    @include margin(0, 0, 80px, 0);
    text-align: center;
  }
  .item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 180px;

    @include breakpoint(sm) {
      height: auto;
      flex-direction: column;
    }

    &__logo {
      @include padding(0, 40px, 0, 40px);
      img {
        filter: grayscale(100%);
        @include transition(all 0.5s ease);
      }
    }
  }

  .slick-center {
    @include transform(scale(1.5));
    @include transition(all 0.5s ease);
    img {
      filter: grayscale(0);
    }
  }

  &__item-link {
    &:hover {
      img {
        opacity: 0.4;
      }
    }
  }
}

.investment-benefits-cards {
  .card {
    position: relative;
    @include margin(0, 0, 50px, 0);
    @include padding(30px, 30px, 30px, 120px);
    display: block;
    @include transition(all 0.5s ease);
    @include border-radius(5px);

    @include breakpoint(sm) {
      @include margin(0, 0, 50px, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 50px, 0);
    }

    &__icon {
      display: block;
      background: url(../images/investment-icons-sprite.png) no-repeat;
      background-size: 634px 123px;
      position: absolute;
      left: 30px;
      top: 60px;
      @include transition(all 0.5s ease);
    }
    &--icon-01 {
      width: 41px;
      height: 41px;
      background-position: -264px -18px;
    }
    &--icon-02 {
      width: 45px;
      height: 36px;
      background-position: -321px -18px;
    }

    &--icon-03 {
      width: 52px;
      height: 27px;
      background-position: -380px -18px;
    }
    &--icon-04 {
      width: 24px;
      height: 28px;
      background-position: -451px -18px;
    }

    &__title {
      font-size: 25px;
      color: $dark-brown-color;
      @include margin(0, 0, 30px, 0);
      font-family: $font-secondary-en;
    }
    &__content {
      font-size: 20px;
      color: $dark-grey-color-shade;
      @include margin(0, 0, 0, 0);
    }
    &:hover {
      background: $dark-brown-color;
      @include transform(translateY(-5px));
      @include card-hover-shadow;

      .card__title {
        color: $white-color;
      }
      .card__content {
        color: $white-color;
      }

      .card--icon-01 {
        background-position: -264px -63px;
      }
      .card--icon-02 {
        background-position: -321px -63px;
      }
      .card--icon-03 {
        background-position: -380px -63px;
      }
      .card--icon-04 {
        background-position: -451px -63px;
      }
    }
  }
}

.brokerage {
  .nav-pills {
    @extend %nav-pills;
  }
  h2 {
    @include breakpoint(sm) {
      @include margin(0, 0, 40px, 0);
    }
  }
  .tab-content {
    @include my-shadow();
    background: $white-color;
    @include padding(40px, 75px, 40px, 75px);

    @include breakpoint(sm) {
      @include padding(25px, 25px, 25px, 25px);
    }

    @include breakpoint(md) {
      @include padding(25px, 25px, 25px, 25px);
    }

    h3 {
      font-size: 25px;
      color: $brand-color;
      @include margin(0, 0, 30px, 0);
    }
    p {
      @include margin(0, 0, 30px, 0);
      color: $dark-grey-color-shade;
      font-size: 18px;
    }

    ul {
      @include margin(0, 0, 30px, 0);
      li {
        position: relative;
        @include margin(0, 0, 10px, 0);
        color: $dark-grey-color-shade;
        font-size: 18px;
        @include padding(0, 0, 0, 20px);

        &:before {
          width: 5px;
          height: 5px;
          background: $brand-color;
          content: "";
          left: 0;
          top: 11px;
          @include border-radius(50%);
          position: absolute;
        }
      }
    }

    ol {
      @include margin(30px, 0, 30px, 0);
      li {
        position: relative;
        @include margin(0, 0, 10px, 0);
        color: $dark-grey-color-shade;
        font-size: 18px;
        @include padding(0, 0, 0, 20px);

        &:before {
          width: 5px;
          height: 5px;
          border: 1px solid $brand-color;
          content: "";
          left: 0;
          top: 11px;
          background: none;
          @include border-radius(50%);
          position: absolute;
        }
      }
    }
  }


  .reports-cont {
    margin-bottom: 100px;
    .title-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $light-grey-color;
      margin-bottom: 30px;
      padding-bottom: 20px;

      h4 {
        font-size: 20px;
      }
      .date-input {
        label {
          color: $brand-color;
          font-size: 12px;
          margin-right:10px
        }
        input{
          border-radius:5px;
          background: #FFFFFF;
          box-shadow: 0px 0px 6px #00000029;
          border: 1px solid #D1D1D1A6;
          border-radius: 10px;
          height: 50px;
          width:240px;
          padding:0 10px;
        }
      }
    }
    .report-card-blue{
      background: rgba($brand-color, .2);
      @include padding(20px, 20px, 20px, 20px);
      @include margin(0, 0, 30px, 0);
      height: 110px;
      display: flex;
      align-items: center;
      @include border-radius(10px);
      @include transition(all 0.5s ease);
      color: $dark-grey-color-shade;
      &:hover{
          background: $brand-color;
          color: $white-color;
      }
    }
    .report-card {
      background: $white-color;
      @include padding(20px, 20px, 20px, 20px);
      @include margin(0, 0, 30px, 0);
      height: 110px;
      display: flex;
      align-items: center;
      @include border-radius(10px);
      @include transition(all 0.5s ease);
      border: 2px solid $brand-color;
  
      @include breakpoint(sm) {
        height: auto;
        @include margin(0, 0, 20px, 0);
      }
  
      &__figure-holder {
        flex-grow: 1;
        width: 20%;
        @include margin(0, 20px, 0, 0);
        img {
          width: 100%;
        }
      }
      figcaption {
        flex-grow: 1;
        width: 80%;
      }
      &__title {
        color: $dark-grey-color-shade;
        font-size: 16px;
        @include margin(0, 0, 10px, 0);
        display: inline-block;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      &__date {
        color: $dark-grey-color-shade;
        font-size: 16px;
      }
      &:hover {
        background: $brand-color;
        .report-card__title {
          color: $white-color;
        }
        .report-card__date {
          color: $white-color;
        }
      }
    }
  
  }

 


  #accordion {
    @include margin(0, 0, 70px, 0);
    .card {
      border: 0 !important;
      @include margin(0, 0, 20px, 0);
      @include my-shadow();
      background: $white-color;
      @include padding(25px, 50px, 35px, 50px);

      @include breakpoint(sm) {
        @include padding(25px, 25px, 25px, 25px);
      }
      @include breakpoint(md) {
        @include padding(25px, 25px, 25px, 25px);
      }
    }
    .card-header {
      background: none !important;
      border-bottom: 0;
      @include padding(0, 0, 0, 0);

      h5 {
        font-size: 22px;
        color: $brand-color;
        @include padding(0, 45px, 0, 0);
        position: relative;
        cursor: pointer;

        &:before {
          font-family: FontAwesome;
          content: "\f106";
          position: absolute;
          right: 0;
          font-size: 18px;
          top: 0;
          border-radius: 50%;
          height: 36px;
          line-height: 36px;
          width: 36px;
          text-align: center;
          background: $light-blue-color;
          color: $brand-color;
          @include transition(all 0.5s ease);
        }

        &.collapsed {
          &:before {
            content: "\f107";
          }
        }
        &:hover {
          text-decoration: none;
          color: $brand-color;
          &:before {
            background: $brand-color;
            color: $white-color;
          }
        }
        &:focus {
          text-decoration: none;
        }
      }
    }
    .card-body {
      @include padding(40px, 0, 0, 0);
      @include margin(30px, 0, 0, 0);
      border-top: 1px solid $light-grey-color;

      li {
        position: relative;
        @include margin(0, 0, 10px, 0);
        color: $dark-grey-color-shade;
        font-size: 16px;
        @include padding(0, 0, 0, 30px);

        &:before {
          width: 5px;
          height: 5px;
          background: $brand-color;
          content: "";
          left: 0;
          top: 9px;
          @include border-radius(50%);
          position: absolute;
        }
      }
    }
  }
}

.start-your-investment {
  background: $brand-color;
  h2 {
    font-size: 38px;
    color: $white-color;
    font-family: $font-secondary-en;
    @include margin(100px, 0, 0, 0);

    @include breakpoint(sm) {
      @include margin(0, 0, 40px, 0);
    }
  }
  .form-wrap {
    label {
      font-size: 14px;
      color: $white-color;
      @include margin(0, 0, 10px, 0);
    }
    .form-group {
      @include margin(0, 0, 30px, 0);
    }
    .sweep-btn-yellow {
      text-transform: inherit;
    }
  }
}
