.iwd-header {
  position: absolute;
  z-index: 999;
  width: 100%;

  .icon-bar {
    width: 26px;
    height: 3px;
    @include border-radius(50px);
    background-color: $white-color;
    display: block;
    transition: all 0.4s;
    margin-top: 4px;
  }
  .navbar-toggler {
    border: none;
    background: transparent !important;

    .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
    }
    .middle-bar {
      opacity: 0;
    }
    .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
    }
    &.collapsed {
      .top-bar {
        transform: rotate(0);
      }
      .middle-bar {
        opacity: 1;
      }
      .bottom-bar {
        transform: rotate(0);
      }
    }
  }

  nav {
    &.navbar {
      background: none !important;
      box-shadow: none !important;
      @include border-radius(0);

      li {
        &.nav-item {
          @include padding(20px, 20px, 20px, 25px);
          @include breakpoint(sm) {
            @include padding(15px, 0, 0, 15px);
          }
          @include breakpoint(md) {
            @include padding(15px, 0, 0, 15px);
          }
        }
        &.search-icon {
          @include padding(20px, 20px, 20px, 55px);
          @include breakpoint(sm) {
            @include padding(20px, 20px, 0, 20px);
          }
          @include breakpoint(md) {
            @include padding(20px, 20px, 0, 20px);
          }
        }
        &.country-dropdown {
          a {
            font-size: 11px;
            color: $black-color ;
            &:after {
              content: "" !important;
              border: 0;
            }

            img {
              @include padding(0, 15px, 0, 0);
            }
            &:hover {
              color: $brand-color !important;
            }
          }
          .dropdown-menu {
            right: 0 !important;
            left: initial;
            top: 45px;
            a {
              @include margin(10px, 0, 10px, 0);
              color: $black-color  !important;
            }
          }
        }
      }

      a {
        color: $white-color !important;

        &:hover {
          color: $brand-color;
        }

        &.nav-link {
          font-size: 11px;
          color: $white-color !important;
          position: relative;

          &:hover {
            color: $brand-color !important;
          }
        }
        .margin-right{
          @include margin(2px, 0, 0, 10px);
        }
      }
      ul {
        &.navbar-nav {
          margin-left: 50%;
          @include breakpoint(sm) {
            @include padding(25px, 0, 25px, 0);
            margin-left: auto !important;
          }
          @include breakpoint(md) {
            margin-left: auto !important;
          }
        }
      }

      @include breakpoint(sm) {
        .navbar-toggler {
          margin-left: auto;
          &:hover {
            background: $brand-color;
          }
        }
      }
      @include breakpoint(md) {
        .navbar-toggler {
          margin-left: auto;
          &:hover {
            background: $brand-color;
          }
        }
      }
    }
  }

  .logo {
    background: url(../images/cata-white-logo@3x.png) no-repeat;
    width: 120px;
    height: 40px;
    display: block;
    background-size: 120px 40px;
    @include margin(0, 0, 0, 130px);

    @include breakpoint(sm) {
      @include margin(0, 0, 0, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 0, 100px);
    }
  }
}

/* hero wrap */
.iwd-hero-image {
  position: relative;
  overflow: hidden;
  min-height: 630px;
  @include margin(0, 0, 0, 0);

  @include breakpoint(sm) {
    .desktop-img {
      display: none;
    }
  }
  .mobile-img {
    display: none;
    @include breakpoint(sm) {
      display: block;
    }
  }

  @include breakpoint(md) {
    min-height: auto;
  }

  &__caption {
    position: absolute;
    right: 150px;
    top: 50%;
    width: 40%;
    @include transform(rotate(-10deg));

    @include breakpoint(sm) {
      width: 80%;
      left: 40px;
      top: 400px;
    }
    @include breakpoint(md) {
      top: 50px;
    }
  }
  &__title {
    color: $white-color;
    font-size: 75px;
    line-height: 1;
    text-transform: uppercase;
    @include margin(0, 0, 30px, 0);

    @include breakpoint(sm) {
      font-size: 40px;
      @include margin(0, 0, 10px, 0);
    }

    @include breakpoint(md) {
      font-size: 40px;
      @include margin(0, 0, 10px, 0);
    }

    .sm-text {
      color: $white-color;
      font-size: 30px;
    }
    .iwd-text {
      color: #d34abb;
    }
  }

  &__send-btn {
    background: url(../images/send-button@3x.png) no-repeat;
    width: 22px;
    height: 26px;
    display: block;
    background-size: 22px 26px;
  }
}

.iwd-cards {
  width: 100%;
  overflow: hidden;

  &__row {
    @include breakpoint(sm) {
      @include margin(0, 0, 100px, 0);
    }
  }

  &__figure-holder {
    overflow: hidden;

    @include breakpoint(sm) {
      @include margin(0, 0, 20px, 0);
    }
  }

  &__caption {
    display: flex;
    height: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    @include margin(0, 0, 0, 70px);

    @include breakpoint(sm) {
      @include margin(0, 0, 0, 30px);
    }

    h2 {
      color: #d34abb;
      font-size: 45px;
      font-family: $font-avertablack-en;
      @include margin(0, 0, 25px, 0);
    }
    ul {
      @include margin(0, 0, 45px, 0);
      li {
        color: #d34abb;
        font-size: 20px;
      }
    }

    .button__cta {
      color: #d34abb;
      font-family: $font-avertablack-en;
    }
  }

  &--caption-reverse {
    @include margin(0, 0, 0, 100px);

    @include breakpoint(sm) {
      @include margin(0, 0, 0, 30px);
    }
  }

  &__icon {
    display: block;
    @include margin(0, 0, 20px, 0);
    img {
      width: 70%;
    }
  }
}
