.menu-wrapper {
  background: $white-color;
  @include border-radius(0);
  box-shadow: 0 9px 27px 0 rgba($black-color, 0.1);

  .navbar {
    @include padding(10px, 0, 10px, 0);
  }

  .logo {
    background: url(../images/cata-color-logo@3x.png) no-repeat;
    width: 178px;
    height: 40px;
    display: block;
    background-size: 120px 40px;
    @include margin(0, 40px, 0, 0);

    @include breakpoint(sm) {
      @include margin(0, 0, 0, 0);
      width: 120px;
      height: 40px;
      background-size: 120px 40px;
      margin-right: auto;
    }
    @include breakpoint(md) {
      @include margin(0, 0, 0, 0);
      width: 120px;
      height: 40px;
      background-size: 120px 40px;
      margin-right: auto;
    }
  }
  .setting-toggle {
    color: $dark-brown-color;
  }
  .search-icon {
    color: $dark-brown-color;
  }
}

#setting-collapse {
  position: fixed;
  top: 60px;
  width: 100%;
  background: $white-color;
  @include padding(30px, 0, 30px, 0);
  z-index: 1031;
  border-bottom: 1px solid $light-grey-color;

  h2 {
    font-size: 14px;
    @include margin(0, 0, 10px, 0);
    font-family: $font-secondary-en;
  }

  .layout-buttons {
    display: flex;
    width: 70px;
    background: $brand-color;
    @include border-radius(3px);
    justify-content: space-between;
    overflow: hidden;

    button {
      @include padding(5px, 5px, 5px, 5px);
      width: 50%;
      &:hover {
        color: $white-color;
        background: $dark-grey-color;
      }
      &.active {
        color: $white-color;
        background: $dark-grey-color;
      }
    }
  }

  .switch-container {
    height: 40px;
    display: flex;

    .friday-switch {
      appearance: none;
      outline: none;
      border: 0;
      position: relative;
      width: 32px;
      height: 16px;
      overflow: hidden;
      cursor: pointer;
      @include border-radius(50px);
      background: #7b858f;
      @include margin(0, 10px, 0, 0);

      &:after {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        top: 2px;
        left: 2px;
        background: $white-color;
        @include transition();
        @include border-radius(50px);
      }
      &:checked {
        background: $brand-color;
      }
      &:disabled {
        opacity: 0.5;
      }

      &:checked:after {
        transform: translateX(16px);
      }
    }
  }
}

.dark-mode-text {
  display: flex;
  font-size: 12px;
}
.light-mode-text {
  display: none;
  font-size: 12px;
}

/* news  */
.ncba-instagram-feed {
  @include margin(0, 0, 0, 0);
  @include padding(120px, 0, 0, 0);

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;

    .card__title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .card__content {
      height: 200px;
    }

    @include breakpoint(sm) {
      grid-template-columns: auto;
    }
  }
  .list {
    .card {
      width: 100%;
    }
    .card__figure-holder {
      display: none;
    }
  }

  .nav-tabs {
    @include margin(0, 0, 30px, 0);
    border: 0;
    .nav-link {
      color: $light-grey-color;
      border: 0;
      font-size: 15px;
      font-family: $font-secondary-en;
      @include border-radius(50px);
      @include margin(0, 10px, 0, 0);
      @include padding(8px, 20px, 8px, 20px);

      &:hover {
        background: $brand-color;
        color: $white-color;
      }
      &.active {
        background: $brand-color;
        color: $white-color;
      }
    }
  }
  .card {
    @include padding(30px, 30px, 30px, 30px);
    @include margin(0, 0, 30px, 0);
    @include transition(all 0.5s ease);
    border-radius: 8px;
    background: $white-color;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    @include breakpoint(sm) {
      @include margin(0, 0, 20px, 0);
      @include padding(20px, 20px, 20px, 20px);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 20px, 0);
      @include padding(20px, 20px, 20px, 20px);
    }

    &__figure-holder {
      @include margin(0, 0, 40px, 0);
      @include border-radius(6px);
      overflow: hidden;
      height: 130px;

      @include breakpoint(sm) {
        @include margin(0, 0, 20px, 0);
      }
      @include breakpoint(md) {
        @include margin(0, 0, 20px, 0);
      }

      img {
        @include transform(scale(1));
        @include border-radius(6px);
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__title {
      @include margin(0, 0, 10px, 0);
      color: $brand-color;
      font-size: 20px;
      display: block;
      line-height: 1.25;

      @include breakpoint(sm) {
        font-size: 16px;
      }
      @include breakpoint(md) {
        font-size: 16px;
      }
    }
    &__content {
      @include margin(0, 0, 20px, 0);
      color: $dark-grey-color-shade;
      font-size: 16px;
      line-height: 1.75;
    }

    &:hover {
      @include card-hover-shadow;
      @include border-radius(5px);
      @include transform(translateY(-5px));

      @include breakpoint(sm) {
        box-shadow: none;
      }
      @include breakpoint(md) {
        box-shadow: none;
      }

      img {
        @include transform(scale(1.1));
      }
      .news-card__title {
        color: $dark-grey-color;
      }
    }
  }
}

.darkmode {
  background: $black-color;
  .menu-wrapper {
    background: $black-color;
    border-bottom: 1px solid #666;
    .logo {
      background: url(../images/cata-white-logo@3x.png) no-repeat;
      width: 178px;
      height: 40px;
      background-size: 120px 40px;
    }
    .setting-toggle {
      color: $white-color;
    }
    .search-icon {
      color: $white-color;
    }
  }

  #setting-collapse {
    background: $black-color;
    border-bottom: 1px solid #666;

    h2 {
      color: $white-color;
    }
  }

  .card {
    background: rgba(255, 255, 255, 0.1);
  }
  .card__content {
    color: $white-color;
  }
  .dark-mode-text {
    display: none;
  }
  .light-mode-text {
    display: flex;
    color: $white-color;
  }
}
