/* branches search form */
.our-management {
  .card {
    @include margin(0, 0, 30px, 0);
    @include transition(all 0.5s ease);
    @include border-radius(5px);
    @include padding(40px, 40px, 40px, 40px);

    @include breakpoint(sm) {
      @include padding(0, 0, 0, 0);
    }

    &__figure-holder {
      overflow: hidden;
      @include border-radius(5px);

      @include breakpoint(sm) {
        @include margin(0, 0, 30px, 0);
      }
      img {
        @include transform(scale(1));
      }
    }
    &__caption {
      @include margin(0, 0, 0, 40px);

      @include breakpoint(sm) {
        @include margin(0, 0, 0, 0);
      }
    }
    &__name {
      color: $brand-color;
      font-size: 25px;
      @include margin(0, 0, 20px, 0);
    }
    &__designation {
      color: $light-grey-color;
      font-size: 22px;
      display: block;
      @include margin(0, 0, 20px, 0);
    }
    &__content {
      font-size: 18px;
      color: $dark-grey-color-shade;
      @include margin(0, 0, 20px, 0);
    }

    &:hover {
      @include card-hover-shadow();
      @include transform(translateY(-5px));
      img {
        @include transform(scale(1.1));
      }

      @include breakpoint(sm) {
        box-shadow: none;
        @include transform(translateY(0));
      }
    }
  }
}

.bod {
  .card__figure-holder {
    @include margin(0, 0, 30px, 0);
  }
  .card__caption {
    @include margin(0, 0, 0, 0);
  }
}
