.ncba-property {
  .card {
    background: $white-color;
    @include padding(30px, 30px, 30px, 30px);
    @include margin(0, 0, 30px, 0);
    @include transition(all 0.5s ease);
    @include border-radius(10px);
    @include card-shadow;

    &__figure-holder {
      @include margin(0, 0, 20px, 0);
      height: 190px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        object-fit: cover;
      }
    }

    &__title {
      color: $brand-color;
      @include margin(0, 0, 10px, 0);
      font-size: 18px;
      font-family: $font-secondary-en;
    }
    &__detail {
      font-size: 14px;
      @include margin(0, 0, 20px, 0);
      color: $dark-brown-color;
    }
    &__description {
      @include margin(0, 0, 30px, 0);
      h3 {
        color: $brand-color;
        font-family: $font-secondary-en;
        font-size: 14px;
        @include margin(0, 0, 10px, 0);
      }
      h4 {
        color: $dark-brown-color;
        font-size: 16px;
      }
    }

    &:hover {
      @include card-hover-shadow;
      @include transform(translateY(-5px));
    }
  }
}

.ncba-property-detail {
  .property-holder {
    @include margin(0, 0, 30px, 0);
    @include padding(0, 0, 50px, 0);
    border-bottom: 1px solid $light-grey-color;
  }
  .head {
    display: flex;
    justify-content: space-between;
    @include margin(0, 0, 30px, 0);

    @include breakpoint(sm) {
      flex-direction: column;
    }

    .property-title {
      @include breakpoint(sm) {
        @include margin(0, 0, 20px, 0);
      }

      h2 {
        color: $brand-color;
        font-size: 18px;
        font-family: $font-secondary-en;
      }
      p {
        color: $dark-brown-color;
        font-size: 15px;
      }
    }
    .status {
      color: $brand-color;
      @include border-radius(5px);
      border: 1px solid $brand-color;
      @include padding(10px, 20px, 10px, 20px);
      font-size: 15px;
      font-family: $font-secondary-en;
    }
  }

  .carousel {
    height: 350px;
    overflow: hidden;
    @include margin(0, 0, 30px, 0);

    .owl-nav {
      width: 100%;
      position: absolute;
      top: 40%;
      .owl-prev {
        position: absolute;
        left: 20px;
        background: none !important;
        font-size: 0;

        &:before {
          font-family: "FontAwesome";
          content: "\f104";
          position: absolute;
          left: 0;
          font-size: 18px;
          top: -10px;
          border-radius: 50%;
          height: 40px;
          line-height: 40px;
          width: 40px;
          text-align: center;
          background: $brand-color;
          color: $white-color;
          @include transition(all 0.5s ease);
        }
        &:hover {
          &:before {
            background: $brand-color;
            color: $white-color;
          }
        }
      }
      .owl-next {
        position: absolute;
        background: none !important;
        right: 20px;
        font-size: 0;

        &:before {
          font-family: "FontAwesome";
          content: "\f105";
          position: absolute;
          right: 0;
          font-size: 18px;
          top: -10px;
          border-radius: 50%;
          height: 40px;
          line-height: 40px;
          width: 40px;
          text-align: center;
          background: $brand-color;
          color: $white-color;
          @include transition(all 0.5s ease);
        }

        &:hover {
          &:before {
            background: $brand-color;
            color: $white-color;
          }
        }
      }
    }
  }
  .description {
    p {
      color: $dark-brown-color;
      @include margin(0, 0, 30px, 0);
    }
  }

  .related-properties {
    @include margin(0, 0, 30px, 0);
    .card {
      background-image: linear-gradient(to top, #007bae, rgba(41, 193, 255, 0.6));
      @include padding(30px, 30px, 30px, 30px);
      @include border-radius(10px);
      @include card-shadow;
      @include transition(all 0.5s ease);

      @include breakpoint(sm) {
        @include margin(0, 0, 30px, 0);
      }

      .icon-holder {
        width: 70px;
        height: 70px;
        @include border-radius(50%);
        @include margin(0, 0, 30px, 0);
        background: $white-color;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          color: $brand-color;
        }
      }
      figcaption {
        .title {
          color: $white-color;
          font-family: $font-secondary-en;
          font-size: 18px;
          @include margin(0, 0, 20px, 0);
          display: block;
        }
        h3 {
          font-size: 13px;
          color: $dark-brown-color;
          @include margin(0, 0, 10px, 0);
        }
        p {
          color: $white-color;
          font-family: $font-secondary-en;
          font-size: 18px;
        }
      }
      &:hover {
        @include card-hover-shadow;
        @include transform(translateY(-5px));
      }
    }
  }

  .amenities {
    @include margin(0, 0, 30px, 0);
    h2 {
      color: $brand-color;
      @include margin(0, 0, 20px, 0);
      font-family: $font-secondary-en;
      font-size: 20px;
    }
    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        position: relative;
        @include padding(0, 0, 0, 15px);
        color: $dark-brown-color;
        font-size: 14px;
        @include margin(0, 0, 30px, 0);
        width: 25%;

        @include breakpoint(sm) {
          width: 100%;
          @include margin(0, 0, 10px, 0);
        }

        &:before {
          position: absolute;
          left: 0;
          top: 8px;
          width: 5px;
          height: 5px;
          background: $brand-color;
          @include border-radius(50%);
          content: "";
        }
      }
    }
  }

  .virtual-tour {
    background: $brand-color;
    @include padding(30px, 30px, 30px, 30px);
    @include margin(0, 0, 60px, 0);
    @include border-radius(10px);
    @include card-shadow;
   
    @include transition(all 0.5s ease);

    .icon-holder {
      width: 70px;
      height: 70px;
      @include border-radius(50%);
      @include margin(0, 0, 30px, 0);
      background: $white-color;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        fill: $brand-color;
      }
    }
    h3 {
      @include margin(0, 0, 20px, 0);
      font-family: $font-secondary-en;
      font-size: 18px;
      color: $white-color;
    }
    p {
      @include margin(0, 0, 20px, 0);
      font-size: 14px;
      color: $white-color;
    }
    .button__cta {
      color: $white-color;
    }

    &:hover {
      @include card-hover-shadow;
      @include transform(translateY(-5px));
    }
  }
}
