/* cards */
.platinum-info {
  .main-title {
    @include margin(0, 0, 70px, 0);

    @include breakpoint(sm) {
      @include margin(0, 0, 50px, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 50px, 0);
    }
  }

  .video {
    &__figure-holder {
      @include margin(0, 0, 0, 0);
      overflow: hidden;
      position: relative;
      @include border-radius(5px);

      @include breakpoint(sm) {
        @include margin(0, 0, 30px, 0);
      }
      @include breakpoint(md) {
        @include margin(0, 0, 30px, 0);
      }

      img {
        width: 100%;
        @include transform(scale(1));
      }

      &:hover {
        img {
          @include transform(scale(1.1));
        }
        .video__play-icon {
          opacity: 10;
        }
      }
    }

    &__play-icon {
      position: absolute;
      width: 80px;
      height: 80px;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      opacity: 0;
      i {
        color: $white-color;
        font-size: 100px;
      }
    }
  }

  .info-cards {
    .card {
      background: none;
      @include margin(0, 0, 50px, 0);

      &__title {
        font-size: 14px;
        text-transform: uppercase;
        color: $brand-color;
        @include margin(0, 0, 20px, 0);
      }
      &__content {
        font-size: 16px;
        color: $dark-grey-color-shade;
      }
    }
  }
}

/* events carousel */
.platinum-events {
  .events-content {
    @include breakpoint(sm) {
      @include margin(0, 0, 50px, 0);
    }

    &__sm-text {
      display: block;
      @include margin(0, 0, 10px, 0);
      color: $black-color;
      text-transform: uppercase;
      font-size: 14px;
    }
    &__title {
      @include margin(0, 0, 40px, 0);
      font-size: 40px;
      color: $brand-color;
      line-height: 1.2;
      display: block;

      @include breakpoint(sm) {
        @include margin(0, 0, 10px, 0);
        font-size: 25px;
      }

      &:hover {
        color: $dark-grey-color;
      }
    }
    &__text {
      font-size: 18px;
      color: $dark-grey-color-shade;
      @include margin(0, 0, 140px, 0);

      @include breakpoint(sm) {
        @include margin(0, 0, 30px, 0);
      }
    }
  }

  .events-carousel {
    .item-card {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      @include margin(0, 0, 50px, 0);

      &__figure-holder {
        width: 80px;
        height: 80px;
        @include border-radius(50%);
        overflow: hidden;
        @include margin(0, 25px, 0, 0);

        img {
          width: 80px;
          height: 80px;
          @include border-radius(50%);
        }
      }

      &__caption {
        width: 70%;
      }

      &__title {
        font-size: 20px;
        color: $brand-color;
        display: block;
      }
      &__content {
        font-size: 16px;
        color: $dark-grey-color-shade;
      }

      &:hover {
        /*  @include border-radius(5px);
        @include my-shadow; */

        .item-card__title {
          color: $dark-grey-color;
        }
      }
    }

    .slick-dots {
      display: flex;
      flex-direction: column;
      right: -50px;
      width: 20px;
      top: 40%;

      @include breakpoint(sm) {
        right: -20px;
      }

      @include breakpoint(md) {
        right: -20px;
      }


      li {
        @include margin(0, 0, 20px, 0);
        width: 10px;
        height: 10px;
        button {
          width: 10px;
          height: 10px;
          &:before {
            @include border-radius(50%);
            width: 10px;
            height: 10px;
            background: none;
            font-size: 34px;
            border: 1px solid $brand-color;
            opacity: 10;
            color: transparent;
          }
        }
      }
      .slick-active {
        width: 10px;
        height: 10px;
        button {
          width: 10px;
          height: 10px;
          &:before {
            background: $brand-color;
            color: transparent;
          }
        }
      }
    }
  }
}
