/* hero wrap */
.landing-hero-wrap {
  background: #b61087;
  @include padding(120px, 0, 50px, 0);
  @include margin(0, 0, 0, 0);
  overflow: hidden;

  @include breakpoint(sm) {
    height: auto;
    @include margin(0, 0, 0, 0);
    @include padding(120px, 0, 30px, 0);
  }

  @include breakpoint(md) {
    @include margin(70px, 0, 0, 0);
    @include padding(30px, 0, 70px, 0);
  }

  &__title {
    font-size: 40px;
    color: $white-color;
    text-transform: uppercase;
    font-family: $font-secondary-en;
    @include margin(100px, 0, 40px, 0);

    @include breakpoint(sm) {
      @include margin(30px, 0, 30px, 0);
    }
    @include breakpoint(md) {
      @include margin(30px, 0, 30px, 0);
    }

    span {
      color: $dark-grey-color;
    }
  }
  &__content {
    font-size: 20px;
    color: $white-color;
  }
}

/* business hero wrap */
.business-hero-wrap {
  background: #0a0724;
  @include padding(120px, 0, 180px, 0);
  @include margin(0, 0, 50px, 0);

  @include breakpoint(sm) {
    @include margin(0, 0, 50px, 0);
    @include padding(120px, 0, 180px, 0);
  }

  @include breakpoint(md) {
    @include margin(0, 0, 50px, 0);
    @include padding(120px, 0, 0, 0);
  }

  &__caption {
    color: $white-color;
    @include margin(0, 0, 0, 100px);
    position: relative;

    @include breakpoint(sm) {
      @include margin(0, 0, 0, 0);
    }
  }

  &__title {
    font-size: 40px;
    text-transform: uppercase;
    @include margin(100px, 0, 50px, 0);
    font-family: $font-secondary-en;

    @include breakpoint(sm) {
      font-size: 30px;
      @include margin(30px, 0, 30px, 0);
    }
  }
  &__content {
    font-size: 26px;
    @include margin(0, 0, 80px, 0);
    font-family: $font-secondary-en;

    @include breakpoint(sm) {
      font-size: 18px;
      @include margin(0, 0, 50px, 0);
    }
  }
  &__cards-holder {
    position: relative;
  }
  &--cards-01 {
    position: absolute;
    z-index: 9;
    width: 38%;

    @include breakpoint(sm) {
      width: 50%;
    }
  }
  &--cards-02 {
    position: absolute;
    left: 90px;
    bottom: -185px;
    width: 38%;

    @include breakpoint(sm) {
      bottom: -122px;
      width: 50%;
    }
  }
}

/* premier tabs */
.premier-tabs {
  .main-title {
    @include margin(0, 0, 70px, 0);
    font-size: 22px;
    color: $black-color;
    font-family: $font-secondary-en;

    @include breakpoint(sm) {
      @include margin(0, 0, 50px, 0);
    }
  }

  .sm-title {
    width: 85%;
    color: $brand-color;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: $font-secondary-en;
    position: relative;

    &:before {
      font-family: FontAwesome;
      content: "\f105";
      position: absolute;
      right: 5px;
      font-size: 25px;
      top: -5px;
      color: $brand-color;
    }

    @include breakpoint(sm) {
      width: 100%;
      @include margin(0, 0, 30px, 0);
    }
    @include breakpoint(md) {
      width: 100%;
    }
  }

  .tab-content {
    @include my-shadow();
    background: $white-color;
    @include padding(40px, 75px, 40px, 75px);

    @include breakpoint(sm) {
      @include padding(25px, 25px, 25px, 25px);
    }

    @include breakpoint(md) {
      @include padding(25px, 25px, 25px, 25px);
    }

    &__title-grey {
      font-size: 28px;
      @include margin(0, 0, 30px, 0);
      @include padding(0, 0, 20px, 0);
      border-bottom: 1px solid $light-grey-color;
      color: $dark-grey-color-shade;
      text-transform: uppercase;
    }

    &__title-blue {
      @include margin(0, 0, 30px, 0);
    }

    &__text {
      @include margin(0, 0, 30px, 0);
      color: $dark-grey-color-shade;
      font-size: 18px;
    }

    &__list-group {
      @include margin(0, 0, 30px, 0);
    }
    &--terms {
      @include margin(0, 0, 80px, 0);
    }

    &__list-item {
      position: relative;
      @include margin(0, 0, 10px, 0);
      color: $dark-grey-color-shade;
      font-size: 16px;
      @include padding(0, 0, 0, 20px);

      &:before {
        width: 5px;
        height: 5px;
        background: $brand-color;
        content: "";
        left: 0;
        top: 9px;
        @include border-radius(50%);
        position: absolute;
      }
    }

    .sweep-btn-center {
      @include padding(10px, 0, 10px, 0);
    }
  }
}

/* product cards */
.products-cards {
  &__title {
    @include margin(0, 0, 50px, 0);
    text-align: center;

    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 30px, 0);
    }
  }

  .item {
    @include transition(all 0.5s ease);
    @include padding(25px, 25px, 25px, 25px);
    @include border-radius(5px);
    text-align: center;

    &__figure-holder {
      @include margin(0, 0, 40px, 0);
      overflow: hidden;
      @include border-radius(15px);

      @include breakpoint(sm) {
        @include margin(0, 0, 10px, 0);
      }

      img {
        @include border-radius(15px);
      }
    }
    &:hover {
      @include card-hover-shadow;
      @include transform(translateY(-5px));
      background: $white-color;
      .arrow__link {
        color: $brand-color;
        &::after {
          @include transform(translateX(20px));
        }
        &:before {
          width: 15px;
        }
        .text {
          @include margin(0, 0, 0, 30px);
          color: $brand-color;
        }
      }
    }
  }
}

/* checkout option nav */
.options-nav {
  background: $dark-brown-color;
  @include padding(80px, 0, 80px, 0);

  @include breakpoint(sm) {
    @include padding(30px, 0, 30px, 0);
  }

  &__title {
    @include margin(0, 0, 50px, 0);
    text-align: center;
    color: $white-color;

    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 30px, 0);
    }
  }

  .list-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include breakpoint(sm) {
      flex-direction: column;
    }
  }

  .link {
    text-align: center;
    @include transition(all 0.5s ease);
    display: block;
    @include padding(20px, 20px, 20px, 20px);
    @include border-radius(5px);

    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
    }

    &__icon {
      display: block;
      background: url(../images/premier-banking-icons-sprite.png) no-repeat;
      margin: 0 auto 30px;
      background-size: 490px 260px;
      @include transition(all 0.5s ease);

      @include breakpoint(sm) {
        margin: 0 auto 20px;
      }
    }
    &--icon-01 {
      width: 55px;
      height: 55px;
      background-position: -11px -10px;
    }
    &--icon-02 {
      width: 55px;
      height: 55px;
      background-position: -75px -10px;
    }
    &--icon-03 {
      width: 55px;
      height: 55px;
      background-position: -145px -10px;
    }
    &--icon-04 {
      width: 55px;
      height: 55px;
      background-position: -214px -10px;
    }

    &__text {
      color: $white-color;
      font-size: 28px;
      display: block;
      text-align: center;

      @include breakpoint(sm) {
        font-size: 20px;
      }
    }
    &:hover {
      @include card-hover-shadow;
      background: $brand-color;
      .link__icon {
        margin: 10px auto 15px;
      }

      .link__text {
        color: $white-color;
      }
    }
  }
}

/* premier banking lounges   */
.premium-banking-lounges {
  border-bottom: 1px solid #f0f0f0;

  .title {
    color: $dark-brown-color;
    font-family: $font-secondary-en;
    font-size: 33px;
    @include margin(0, 0, 130px, 0);
    position: relative;
    text-align: center;

    @include breakpoint(sm) {
      @include margin(0, 0, 75px, 0);
      font-size: 25px;
    }

    &:before {
      content: "";
      position: absolute;
      background: $dark-brown-color;
      width: 117px;
      height: 12px;
      top: 85px;
      left: 50%;
      @include transform(translateX(-50%));
      @include border-radius(15px);
    }
  }
  .nav-link {
    &:before {
      background: #f5f5f5;
      color: $dark-brown-color;
    }
    &:hover {
      color: $dark-brown-color;
      &:before {
        background: $dark-brown-color;
      }
    }

    &.active {
      color: $dark-brown-color;
      &:before {
        background: $dark-brown-color;
      }
    }
  }
  .tab-content {
    .branch-dtl {
      &__name {
        color: $dark-brown-color;
      }
      &__sm-title {
        color: $dark-brown-color;
      }
      &__card {
        &:before {
          background: #f5f5f5;
          color: $dark-brown-color;
        }
        &:hover {
          &:before {
            background: $dark-brown-color;
          }
        }
      }
    }
  }
}

.card-account-detail {
  @include padding(0, 0, 30px, 0);
  background: #f5f5f5;

  @include breakpoint(sm) {
    @include padding(0, 0, 10px, 0);
  }

  /* current account   */
  .current-accounts {
    background: $dark-brown-color;
    @include border-radius(5px);
    @include my-shadow;
    @include padding(50px, 50px, 20px, 50px);
    position: relative;
    top: -115px;

    @include breakpoint(sm) {
      @include padding(30px, 30px, 0, 30px);
    }

    .heading-wrap {
      @include margin(0, 0, 60px, 0);
      &__title {
        font-size: 30px;
        color: $white-color;
        @include margin(0, 0, 20px, 0);
        font-family: $font-secondary-en;
      }
      &__content {
        font-size: 20px;
        color: #707070;
      }
    }

    .item {
      @include margin(0, 0, 40px, 0);
      &__title {
        color: #b49b64;
        font-size: 20px;
        @include margin(0, 0, 20px, 0);
      }

      .arrow__link {
        color: $white-color;
        font-size: 22px;
        font-family: $font-secondary-en;
        .text {
          color: $white-color;
        }

        &:before {
          top: 17px;
        }

        &:hover {
          color: $brand-color;
          .text {
            color: $brand-color;
          }
        }
      }
    }
  }

  .business-card {
    &__title {
      font-family: $font-secondary-en;
      color: $dark-brown-color;
      display: flex;
      height: 330px;
      align-items: center;

      @include breakpoint(sm) {
        height: auto;
        justify-content: center;
        @include margin(0, 0, 20px, 0);
      }
    }
  }
}

.punch-line {
  color: $dark-grey-color-shade;
  text-align: center;
  @include margin(0, 0, 100px, 0);
  font-size: 22px;
  font-family: $font-secondary-en;

  .sliding-underline-link {
    font-size: 22px;
    color: $brand-color;
    text-transform: capitalize;
    text-decoration: underline !important;
    &:after {
      height: 2px;
      bottom: 2px;
    }
  }
}

.business-bottom-rectangle {
  background: $brand-color;
  @include padding(80px, 0, 80px, 0);

  @include breakpoint(sm) {
    @include padding(30px, 0, 30px, 0);
    border-top: 0;
  }

  /* need help   */
  .business-need-help {
    @include breakpoint(sm) {
      @include margin(0, 0, 50px, 0);
    }

    &__title {
      color: $white-color;
      font-size: 50px;
      font-family: $font-secondary-en;

      @include breakpoint(sm) {
        @include margin(0, 0, 30px, 0);
        font-size: 30px;
      }
    }
    &__content {
      color: $white-color;
      font-size: 20px;
      @include margin(0, 0, 60px, 0);
      @include breakpoint(sm) {
        @include margin(0, 0, 30px, 0);
        font-size: 18px;
      }
    }
    .sweep-btn-center {
      @include padding(10px, 80px, 10px, 80px);
      text-transform: inherit;
    }
  }

  /* save with us   */
  .save-with-us {
    @include border-radius(5px);
    @include my-shadow;
    background: $white-color;
    @include padding(145px, 80px, 50px, 105px);
    @include margin(-270px, 0, 100px, 0);
    @include transition(all 0.5s ease);

    @include breakpoint(sm) {
      @include padding(30px, 30px, 30px, 30px);
      @include margin(0, 0, 50px, 0);
    }
    @include breakpoint(md) {
      @include padding(30px, 30px, 30px, 30px);
    }

    &__figure-holder {
      width: 128px;
      height: 128px;
      @include margin(0, 0, 70px, 0);
    }
    &__title {
      color: $brand-color;
      font-size: 30px;
      @include margin(0, 0, 30px, 0);
      font-family: $font-secondary-en;
    }
    &__content {
      color: $brand-color;
      font-size: 20px;
      @include margin(0, 0, 50px, 0);
    }
    .arrow__link {
      font-size: 20px;
      color: $brand-color;

      &:before {
        top: 17px;
      }
    }

    &:hover {
      @include card-hover-shadow;
      @include transform(translateY(-5px));
      .arrow__link {
        &::after {
          @include transform(translateX(20px));
        }
        &:before {
          width: 15px;
        }
        .text {
          @include margin(0, 0, 0, 30px);
        }
      }
    }
  }
  .btm-text {
    color: rgba($white-color, 0.6);
    font-size: 20px;
    text-align: center;
  }
}

.business-landing-items {
  @include padding(40px, 0, 0, 0);
  .title {
    color: $dark-brown-color;
    @include margin(0, 0, 40px, 0);
    font-size: 32px;
    text-align: center;
    font-family: $font-secondary-en;

    @include breakpoint(sm) {
      font-size: 25px;
    }
  }
  .item {
    @include padding(20px, 20px, 20px, 20px);
    @include transition(all 0.5s ease);
    display: block;
    text-align: center;

    .text-dark {
      font-family: $font-secondary-en;
      color: $dark-brown-color;
      font-size: 16px;
    }

    &:hover {
      background: $white-color;
      @include card-hover-shadow;
      @include border-radius(5px);
      background: $white-color;
      @include transform(translateY(-5px));

      figure {
        img {
          filter: grayscale(100%);
        }
      }
    }
  }
}

/* cards  */
.business-info-blocks {
  .card {
    border: solid 1px #f5f5f5 !important;
    @include padding(40px, 40px, 40px, 40px);
    @include transition(all 0.5s ease);
    background: $light-blue-color;

    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
      @include padding(30px, 30px, 30px, 30px);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 30px, 0);
      @include padding(30px, 30px, 30px, 30px);
    }

    &__title {
      font-size: 30px;
      color: $brand-color;
      @include margin(0, 0, 30px, 0);
      font-family: $font-secondary-en;
    }
    &__content {
      font-size: 16px;
      color: #707070;
    }

    &:hover {
      @include card-hover-shadow;
      @include transform(translateY(-5px));
      .arrow__link {
        color: $brand-color;
        &::after {
          @include transform(translateX(20px));
        }
        &:before {
          width: 15px;
        }
        .text {
          @include margin(0, 0, 0, 30px);
          color: $brand-color;
        }
      }
    }
  }
}

.business-accounts {
  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 440px;

    @include breakpoint(sm) {
      height: auto;
      @include padding(30px, 0, 30px, 0);
    }

    &__title {
      color: $dark-grey-color;
      @include margin(0, 0, 40px, 0);
      font-size: 32px;
      font-family: $font-secondary-en;

      @include breakpoint(sm) {
        font-size: 25px;
      }
    }
    &__description {
      @include margin(0, 0, 40px, 0);
      color: $dark-grey-color;
      font-size: 18px;
    }
    &__buttons {
      display: flex;

      @include breakpoint(sm) {
        flex-direction: column;
      }
      @include breakpoint(md) {
        flex-direction: column;
      }

      .sweep-btn-center {
        @include padding(15px, 20px, 15px, 20px);

        @include breakpoint(sm) {
          @include margin(0, 0, 10px, 0);
          width: 100%;
          text-align: center;
        }
        @include breakpoint(md) {
          @include margin(0, 0, 10px, 0);
          width: 100%;
          text-align: center;
        }
      }
      .sweep-btn-brown {
        @include padding(15px, 20px, 15px, 20px);
      }
    }
  }

  &__item {
    height: 440px;
    overflow: hidden;
    position: relative;
    @include margin(0, 0, 100px, 0);
    &:hover {
      .business-accounts__caption {
        .business-accounts__description {
          color: $brand-second-color;
        }
        .arrow__link {
          left: 0;
        }
      }
    }
  }
  &__figure-holder {
    position: relative;
    &:before {
      position: absolute;
      height: 100%;
      width: 100%;
      content: "";
      background: rgba($black-color, 0.7);
      left: 0;
      top: 0;
    }
  }
  &__caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 440px;
    position: absolute;
    top: 0;
    z-index: 99;
    @include padding(0, 30px, 0, 30px);

    .sliding-underline-link {
      @include margin(0, 0, 30px, 0);
      font-weight: $font-secondary-en;
      font-size: 18px;
      text-transform: capitalize;
      color: $white-color;
      &:hover {
        color: $brand-second-color;
      }
      &:after {
        background-color: $brand-second-color;
      }
    }
  }
  &__description {
    font-size: 16px;
    color: $white-color;
    @include margin(0, 0, 50px, 0);
    position: relative;
    @include transition(all 0.7s ease 0.1s);

    @include breakpoint(sm) {
      left: initial;
    }
  }
  .arrow__link {
    @include transition(all 0.7s ease 0.2s);
    color: $brand-second-color;
    font-size: 16px;
    left: -200%;
    @include breakpoint(sm) {
      left: initial;
    }
  }

  .owl-nav {
    position: absolute;
    bottom: 10%;
    left: 50%;
    .owl-prev {
      position: absolute;
      left: -40px;
      background: none !important;

      &:before {
        font-family: "FontAwesome";
        content: "\f104";
        position: absolute;
        left: 0;
        font-size: 18px;
        top: -10px;
        border-radius: 50%;
        height: 30px;
        line-height: 30px;
        width: 30px;
        text-align: center;
        background: $white-color;
        color: $dark-brown-color;
        @include transition(all 0.5s ease);
      }
      &:hover {
        &:before {
          background: $brand-color;
          color: $white-color;
        }
      }
    }
    .owl-next {
      position: absolute;
      background: none !important;
      right: -40px;

      &:before {
        font-family: "FontAwesome";
        content: "\f105";
        position: absolute;
        right: 0;
        font-size: 18px;
        top: -10px;
        border-radius: 50%;
        height: 30px;
        line-height: 30px;
        width: 30px;
        text-align: center;
        background: $white-color;
        color: $dark-brown-color;
        @include transition(all 0.5s ease);
      }

      &:hover {
        &:before {
          background: $brand-color;
          color: $white-color;
        }
      }
    }
  }

  .slider-counter {
    position: absolute;
    bottom: 30px;
    left: 40%;
    font-size: 18px;

    @include breakpoint(sm) {
      left: 100px;
    }
    @include breakpoint(md) {
      left: 100px;
    }
  }
}

.success-stories {
  h2 {
    color: $dark-brown-color;
    font-family: $font-secondary-en;
  }
  &__figure-holder {
    position: relative;
    &:before {
      position: absolute;
      height: 100%;
      width: 100%;
      content: "";
      background: rgba($black-color, 0.7);
      left: 0;
      top: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    @include padding(0, 150px, 20px, 150px);

    @include breakpoint(sm) {
      @include padding(0, 30px, 0, 30px);
    }
    @include breakpoint(md) {
      @include padding(0, 30px, 0, 30px);
    }
  }
  &__description {
    color: $white-color;
    @include margin(0, 0, 40px, 0);
    font-size: 20px;
    text-align: center;

    @include breakpoint(sm) {
      font-size: 14px;
    }
  }
  &__play-icon {
    color: $white-color;
    @include margin(0, 0, 30px, 0);
    display: inline-block;
  }
  &__name {
    color: $brand-color;
    @include margin(0, 0, 20px, 0);
    font-size: 16px;
  }
  &__company-name {
    font-size: 16px;
    color: $white-color;
  }

  .owl-item.active .success-stories__caption {
    animation: 1s 0.2s fadeIn both;
  }
  .owl-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
  }
}

.business-credit-card {
  width: 100%;
  overflow: hidden;

  @include breakpoint(sm) {
    @include padding(0, 30px, 0, 30px);
  }
  &__caption {
    @include padding(0, 30px, 0, 30px);

    @include breakpoint(sm) {
      @include padding(0, 0, 0, 0);
      @include margin(30px, 0, 0, 0);
    }
  }
  &__title {
    color: $dark-brown-color;
    @include margin(0, 0, 40px, 0);
    font-size: 32px;
    font-family: $font-secondary-en;

    @include breakpoint(sm) {
      font-size: 25px;
    }
  }
  .card-features {
    &__title {
      @include margin(0, 0, 20px, 0);
      text-transform: uppercase;
      font-size: 18px;
      color: $dark-grey-color;
    }
    &__list-group {
      @include margin(0, 0, 30px, 0);
    }
    &__item {
      @include margin(0, 0, 10px, 0);
      @include padding(0, 0, 0, 20px);
      font-size: 18px;
      color: $brand-color;
      position: relative;
      &::before {
        position: absolute;
        font-family: "FontAwesome";
        left: 0;
        top: 0;
        content: "\f105";
        color: $brand-color;
      }
    }
  }
}

.business-info-wrap {
  width: 100%;
  overflow: hidden;
  .left-cols {
    @include padding(40px, 40px, 40px, 40px);
    @include breakpoint(sm) {
      @include padding(30px, 30px, 30px, 30px);
    }
    &__title {
      color: $dark-brown-color;
      @include margin(0, 0, 40px, 0);
      font-size: 32px;
      font-family: $font-secondary-en;

      @include breakpoint(sm) {
        font-size: 25px;
      }
    }
    &__description {
      font-size: 18px;
      color: $dark-brown-color;
    }
  }
  .right-cols {
    @include padding(40px, 40px, 40px, 40px);

    @include breakpoint(sm) {
      @include padding(30px, 30px, 30px, 30px);
    }

    &__title {
      color: $brand-color;
      @include margin(0, 0, 15px, 0);
      font-size: 24px;
      font-family: $font-secondary-en;
    }
    &__sub-title {
      font-size: 18px;
      color: #c1c0c0;
      @include margin(0, 0, 15px, 0);
    }
  }
  .sweep-btn-center {
    height: 100%;
    @include padding(0, 0, 0, 0);
    @include border-radius(0);
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.get-started-wrap {
  &__main-title {
    color: $dark-brown-color;
    @include margin(0, 0, 40px, 0);
    text-align: center;
    font-size: 32px;
    font-family: $font-secondary-en;

    @include breakpoint(sm) {
      font-size: 24px;
    }
  }
  &__content {
    @include transition(all 0.5s ease);
    background: $light-blue-color;
    @include border-radius(5px);
    height: 400px;

    @include breakpoint(sm) {
      height: auto;
    }
    @include breakpoint(md) {
      height: auto;
    }

    &:hover {
      @include card-hover-shadow;

      img {
        @include transform(scale(1.1));
      }
      .feature-news__title {
        color: $dark-grey-color;
      }
    }
  }

  &__figure-holder {
    overflow: hidden;
    @include margin(0, 0, 0, 0);
    @include border-radius(0 5px 5px 0);
    height: 400px;

    @include breakpoint(sm) {
      @include border-radius(0 0 5px 5px);
      height: auto;
    }

    img {
      @include transform(scale(1));
      width: 100%;
      height: 100%;
    }
  }

  &__caption {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include padding(40px, 40px, 40px, 40px);

    @include breakpoint(sm) {
      @include padding(30px, 30px, 30px, 30px);
    }
  }
  &__sm-title {
    color: $brand-color;
    @include margin(0, 0, 20px, 0);
    font-family: $font-secondary-en;
    font-size: 24px;
  }
  &__description {
    @include margin(0, 0, 20px, 0);
    color: $dark-grey-color;
    font-size: 18px;
  }
  &__text {
    color: $brand-color;
    font-family: $font-secondary-en;
    font-size: 18px;
    @include margin(0, 0, 40px, 0);
  }
}
