/* benefits at glance */
.benefits-glance {
  .title {
    @include margin(0, 0, 65px, 0);
    text-align: center;
  }
  .card {
    background: none;
    text-align: center;
    @include margin(0, 0, 50px, 0);

    &__figure-holder {
      @include border-radius(50%);
      @include margin(0, 0, 20px, 0);
      img {
        @include border-radius(50%);
        width: 56px;
        height: 56px;
      }
    }
    &__title {
      font-size: 18px;
      color: $dark-grey-color-shade;
    }
  }
}

/* what we offer */
.what-we-offer {
  &__figure-holder {
    @include padding(20px, 20px, 20px, 20px);
    @include breakpoint(sm) {
      @include margin(0, 0, 20px, 0);
      @include padding(0, 0, 0, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 20px, 0);
      @include padding(0, 0, 0, 0);
    }
  }
  &__caption {
    @include margin(40px, 0, 0, 80px);

    @include breakpoint(sm) {
      @include margin(0, 0, 0, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 0, 0);
    }
  }
  &__title {
    @include margin(0, 0, 30px, 0);
  }
  &__content {
    font-size: 18px;
    color: $dark-grey-color-shade;
  }
}

.insurance-download-wrap {
  .title {
    @include margin(0, 0, 45px, 0);

    @include breakpoint(sm) {
      @include margin(0, 0, 15px, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 15px, 0);
    }
  }
  .sub-title {
    @include margin(0, 0, 55px, 0);
    font-size: 18px;
    color: $dark-grey-color-shade;

    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 30px, 0);
    }
  }

  .insurance-wrap {
    @include breakpoint(sm) {
      @include margin(0, 0, 40px, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 40px, 0);
    }
  }

  /* download  */
  .downloads {
    &__link {
      @include my-shadow();
      background: $white-color;
      font-size: 18px;
      color: $black-color;
      display: block;
      @include border-radius(50px);
      @include margin(0, 0, 15px, 0);
      @include padding(15px, 25px, 15px, 25px);
      &:hover {
        background: $brand-color;
        color: $white-color;

        .downloads__icon {
          @include margin(0, 10px, 0, 0);
        }
      }
    }
    &__icon {
      @include border-radius(50%);
      background: $light-blue-color;
      width: 36px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      color: $brand-color;
      @include margin(0, 20px, 0, 0);
      @include transition(all 0.5s ease);
    }
  }
}

/* accordion  */
#insurance-accordion {
  @include border-radius(10px);
  @include padding(50px, 30px, 20px, 30px);
  background: $white-color;
  @include my-shadow();
  width: 95%;

  @include breakpoint(sm) {
    width: 100%;
  }
  @include breakpoint(md) {
    width: 100%;
  }

  .card {
    border: 0 !important;
    @include margin(0, 0, 45px, 0);
  }
  .card-header {
    background: none !important;
    border-bottom: 0;
    @include padding(0, 0, 0, 0);

    h5 {
      font-size: 18px;
      color: $dark-grey-color-shade;
      @include padding(0, 0, 0, 55px);
      position: relative;
      cursor: pointer;

      &:before {
        font-family: FontAwesome;
        content: "\f106";
        position: absolute;
        left: 0;
        font-size: 18px;
        top: -10px;
        border-radius: 50%;
        height: 36px;
        line-height: 36px;
        width: 36px;
        text-align: center;
        background: $light-blue-color;
        color: $brand-color;
        @include transition(all 0.5s ease);
      }
      &.collapsed {
        &:before {
          content: "\f107";
        }
      }
      &:hover {
        text-decoration: none;
        color: $brand-color;
        &:before {
          background: $brand-color;
          color: $white-color;
        }
      }
      &:focus {
        text-decoration: none;
      }
    }
  }
  .card-body {
    font-size: 18px;
    @include padding(20px, 0, 0, 55px);
    color: $dark-grey-color-shade;
  }
}

.need-help {
  text-align: center;
  .title {
    @include margin(0, 0, 45px, 0);
    font-size: 40px;

    @include breakpoint(sm) {
      font-size: 25px;
    }
    @include breakpoint(md) {
      font-size: 25px;
    }
  }
  .sweep-btn-center {
    font-size: 16px;
    @include padding(15px, 100px, 15px, 100px);
  }
}

.download-heading-wrap {
  position: relative;

  &:before {
    background: url(../images/Vacation@2x@3x_02.png) no-repeat;
    content: "";
    right: 0;
    top: 80px;
    width: 282px;
    height: 284px;
    position: absolute;
    z-index: 9;
    background-size: 284px 282px;
  }
  .download-input-wrap {
    .form-control {
      @include border-radius(50px);
      font-size: 18px;
      height: 70px;
      @include padding(0, 50px, 0, 50px);
      font-family: $font-secondary-en;
      width: 75%;

      @include breakpoint(sm) {
        width: 100%;
        font-size: 13px;
        @include padding(0, 20px, 0, 20px);
      }
    }
  }
}
.download-wrap {
  .card {
    @include padding(25px, 25px, 25px, 25px);
    @include margin(0, 15px, 25px, 15px);
    @include border-radius(0);
    @include transition(all 0.5s ease);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

    @include breakpoint(sm) {
      @include margin(0, 0, 25px, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 25px, 0);
    }

    &__figure-holder {
      width: 30%;
    }
    &__caption {
      width: 70%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      @include padding(0, 0, 0, 10px);
    }
    &__doc-name {
      font-size: 18px;
      font-weight: bold;
      display: block;
      color: $dark-grey-color-shade;
      @include margin(0, 0, 10px, 0);
    }
    &__file-size {
      font-size: 18px;
      color: $dark-grey-color-shade;
      display: block;
    }

    &:hover {
      background: $brand-color;
      .card__doc-name {
        color: $white-color;
      }
      .card__file-size {
        color: $white-color;
      }
    }
  }
}

.other-documents {
  .title {
    text-align: center;
    @include margin(0, 0, 50px, 0);
  }
}
