/* savings content */
.savings {
  .title {
    @include margin(0, 0, 35px, 0);

    @include breakpoint(sm) {
      @include margin(0, 0, 20px, 0);
    }
  }
  .list-group {
    @include margin(0, 0, 50px, 0);
    @include breakpoint(sm) {
      @include margin(0, 0, 20px, 0);
    }
  }
  .text {
    @include margin(0, 0, 50px, 0);
    font-size: 18px;
    color: $dark-grey-color-shade;
    @include breakpoint(sm) {
      @include margin(0, 0, 20px, 0);
    }
  }
  .list-item {
    @include margin(0, 0, 10px, 0);
    @include padding(0, 0, 0, 25px);
    font-size: 16px;
    position: relative;
    color: $dark-grey-color-shade;

    &:before {
      position: absolute;
      content: "";
      background: $brand-color;
      width: 5px;
      height: 5px;
      @include border-radius(50%);
      left: 0;
      top: 9px;
    }
  }
}

.contact-us {
  @include padding(80px, 0, 80px, 0);

  @include breakpoint(sm) {
    @include padding(30px, 0, 30px, 0);
  }
  .form-wrap {
    width: 95%;

    @include breakpoint(sm) {
      @include margin(0, 0, 40px, 0);
      width: 100%;
    }

    @include breakpoint(md) {
      @include margin(0, 0, 40px, 0);
      width: 100%;
    }

    &__label {
      font-size: 13px;
      text-transform: uppercase;
    }
    
    .nice-select {
      width: 70%;
    }
    textarea {
      height: 105px;
      @include margin(0, 0, 30px, 0);
    }
  }

  .contact-info {
    &__title {
      @include margin(0, 0, 30px, 0);
    }
    &__content {
      color: $dark-grey-color-shade;
      font-size: 18px;
      @include margin(0, 0, 30px, 0);
    }

    span {
      display: block;
      font-size: 20px;
      color: $dark-grey-color-shade;
    }

    &__phone {
      @include margin(0, 0, 20px, 0);
      @include padding(0, 0, 0, 35px);
      position: relative;
      &:before {
        content: "";
        width: 20px;
        height: 28px;
        position: absolute;
        background: url(../images/phone.png) no-repeat;
        background-size: 20px 28px;
        left: 2px;
        top: 0;
      }
    }
    &__email {
      @include padding(0, 0, 0, 35px);
      position: relative;

      &:before {
        content: "";
        width: 25px;
        height: 26px;
        position: absolute;
        background: url(../images/email.png) no-repeat;
        background-size: 25px 26px;
        left: 0;
        top: 2px;
      }
    }
  }
}
