.back-link {
  @include margin(0, 0, 20px, 0);
  display: inline-block;
  color: $white-color;
  i {
    @include margin(0, 10px, 0, 0);
    @include padding(0, 0, 0, 10px);
    @include transition(all 0.5s ease);
  }
  &:hover {
    color: $brand-second-color;
    i {
      @include padding(0, 0, 0, 0);
    }
  }

  @include breakpoint(sm) {
    @include margin(0, 0, 20px, 0);
  }
}
.search-property-cont {
  background: url(../images/corporate-banking@3x.jpg);
  background-size: cover;
  @include padding(30px, 0, 80px, 0);
  overflow: hidden;
  position: relative;

  &:before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background: rgba($black-color, 0.7);
    left: 0;
    top: 0;
  }

  .navbar {
    @include margin(0, 0, 50px, 0);
    @include padding(0, 0, 0, 0);
    @include breakpoint(sm) {
      .links {
        display: flex;
        .sweep-btn-white {
          @include margin(0, 10px, 0, 0);
        }
      }
    }
  }

  .main-title {
    color: $white-color;
    @include margin(0, 0, 50px, 0);
    font-size: 40px;
    text-align: center;
    font-family: $font-secondary-en;
    position: relative;
    z-index: 99;
  }

  .form-container {
    label {
      color: $white-color;
      @include margin(0, 0, 20px, 0);
      font-size: 14px;
    }
    .sweep-btn-center {
      @include margin(43px, 0, 0, 0);
      @include padding(13px, 0, 13px, 0);

      @include breakpoint(sm) {
        @include margin(0, 0, 0, 0);
      }
    }
  }
}

.property-card {
  @include padding(30px, 30px, 30px, 30px);
  @include margin(30px, 0, 30px, 0);
  @include transition(all 0.5s ease);
  display: inline-block;

  @include breakpoint(sm) {
    @include margin(0, 0, 40px, 0);
    @include padding(0, 0, 0, 0);
  }

  &__figure-holder {
    @include margin(0, 0, 20px, 0);
    @include border-radius(5px);
    overflow: hidden;
    height: 190px;
    position: relative;

    .badge {
      position: absolute;
      right: 10px;
      bottom: 10px;
      color: $white-color;
      letter-spacing: 1px;
      text-transform: capitalize;
      @include padding(8px, 10px, 8px, 10px);
      a {
        color: $white-color;
      }
    }
    .badge-residential {
      background: #f59730;
    }
    .badge-commercial {
      background: #93278f;
    }
    .badge-land-sale {
      background: #39b54a;
    }
    .badge-special-purpose {
      background: $brand-color;
    }

    .add-favorite-button {
      position: absolute;
      right: 10px;
      top: 10px;
      @include padding(5px, 5px, 5px, 5px);
      color: $brand-second-color;
      background: rgba($black-color, 0.5);
      @include border-radius(3px);
    }

    img {
      @include transform(scale(1));
      @include border-radius(5px);
      width: 100%;
    }
  }
  &__address {
    @include margin(0, 0, 30px, 0);
    color: $dark-grey-color-shade;
    font-size: 14px;
    display: block;
  }
  &__title {
    @include margin(0, 0, 5px, 0);
    color: $brand-color;
    font-size: 20px;
    line-height: 1.25;
  }
  &__price-box {
    @include margin(0, 0, 10px, 0);
    @include padding(0, 0, 10px, 0);
    border-bottom: 1px dashed $light-grey-color;
    small {
      font-size: 12px;
      display: block;
      color: $dark-grey-color-shade;
    }
  }
  &__price {
    color: $dark-brown-color;
    font-size: 18px;
    font-family: $font-secondary-en;
  }
  &__features {
    font-size: 14px;
    color: $dark-grey-color-shade;
  }

  &:hover {
    @include card-hover-shadow;
    @include border-radius(5px);
    background: $white-color;
    @include transform(translateY(-5px));

    @include breakpoint(sm) {
      box-shadow: none;
      background: none;
    }

    img {
      @include transform(scale(1.1));
    }
    .property-card__title {
      color: $dark-brown-color;
    }
  }
}
.featured-properties {
  h2 {
    color: $brand-color;
    font-size: 40px;
    text-align: center;
    @include margin(0, 0, 10px, 0);

    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
      font-size: 30px;
    }
  }
  .owl-nav {
    position: absolute;
    top: 40%;
    width: 100%;

    @include breakpoint(sm) {
      display: none;
    }

    .owl-prev {
      position: absolute;
      left: -40px;
      background: none !important;

      &:before {
        font-family: FontAwesome;
        content: "\f104";
        position: absolute;
        left: 0;
        font-size: 18px;
        top: -10px;
        border-radius: 50%;
        height: 40px;
        line-height: 40px;
        width: 40px;
        text-align: center;
        background: $light-blue-color;
        border: 1px solid $brand-color;
        color: $brand-color;
        @include transition(all 0.5s ease);
      }
      &:hover {
        &:before {
          background: $brand-color;
          color: $white-color;
        }
      }
    }
    .owl-next {
      position: absolute;
      background: none !important;
      right: -40px;

      &:before {
        font-family: FontAwesome;
        content: "\f105";
        position: absolute;
        right: 0;
        font-size: 18px;
        top: -10px;
        border-radius: 50%;
        height: 40px;
        line-height: 40px;
        width: 40px;
        text-align: center;
        background: $light-blue-color;
        border: 1px solid $brand-color;
        color: $brand-color;
        @include transition(all 0.5s ease);
      }

      &:hover {
        &:before {
          background: $brand-color;
          color: $white-color;
        }
      }
    }
  }
}

.other-listing {
  .title-head {
    @include padding(0, 30px, 0, 30px);
    @include margin(0, 0, 30px, 0);

    @include breakpoint(sm) {
      @include padding(0, 0, 0, 0);
    }

    h2 {
      color: $brand-color;
      font-size: 40px;

      @include breakpoint(sm) {
        font-size: 30px;
        @include margin(0, 0, 30px, 0);
      }
    }
  }
}
.newsletter {
  background: $brand-color;
  p {
    color: $white-color;
    font-size: 40px;
    text-align: center;
    font-family: $font-secondary-en;
    @include margin(0, 0, 40px, 0);

    small {
      font-size: 20px;
      font-family: $font-primary-en;
      display: block;
    }
  }
  .form-control {
    @include border-radius(35px);
    height: 55px;
    @include padding(0, 20px, 0, 20px);
    font-size: 16px;
  }
  .sweep-btn-yellow {
    @include border-radius(35px);
    @include padding(19px, 0, 19px, 0);
  }
}

.single-property-title-head {
  background: $brand-color;
  @include padding(30px, 0, 30px, 0);
  @include margin(0, 0, 30px, 0);
  color: $white-color;

  h1 {
    font-size: 30px;
    font-family: $font-secondary-en;
    @include padding(0, 0, 20px, 0);
  }
  h2 {
    font-size: 18px;
    color: $white-color;
  }
  .badge {
    color: $white-color;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: normal;
    text-transform: capitalize;
    @include padding(8px, 10px, 8px, 10px);
    a {
      color: $white-color;
    }
  }
  .badge-residential {
    background: #f59730;
  }
  .badge-commercial {
    background: #93278f;
  }
  .badge-land-sale {
    background: #39b54a;
  }
  .badge-special-purpose {
    background: $brand-color;
  }
}

.single-property-top {
  .property-slider {
    @include margin(0, 0, 30px, 0);
    position: relative;
    @include breakpoint(sm) {
      @include padding(0, 0, 30px, 0);
    }

    .add-favorite-button {
      position: absolute;
      right: 15px;
      top: 15px;
      color: $brand-second-color;
      z-index: 99;
    }

    .owl-thumbs {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      width: 100%;
      text-align: center;
      z-index: 9;
      overflow: hidden;

      @include breakpoint(md) {
        top: 100px;
      }

      .owl-thumb-item {
        @include margin(15px, 15px, 0, 0);
        background: none;
        padding: 0;
        opacity: 0.4;
        width: 25%;
        height: 75px;

        @include breakpoint(sm) {
          @include margin(15px, 15px, 0, 0);
        }

        @include breakpoint(md) {
          @include margin(15px, 15px, 0, 0);
        }
      }
    }
    .owl-thumb-item.active {
      opacity: 1;
      @include margin(15px, 15px, 0, 0);
    }
  }

  .right-cols {
    @include padding(30px, 30px, 30px, 30px);
    position: relative;

    .user-thumb {
      display: flex;
      align-items: center;
      height: 80px;
      @include margin(0, 0, 30px, 0);

      @include breakpoint(sm) {
        flex-direction: column;
        height: auto;
        justify-content: center;
      }

      figure {
        @include border-radius(50%);
        width: 80px;
        height: 80px;
        @include margin(0, 20px, 0, 0);

        @include breakpoint(sm) {
          @include margin(0, 0, 15px, 0);
        }

        img {
          @include border-radius(50%);
          width: 80px;
          height: 80px;
        }
      }
      .name {
        &__lg {
          font-size: 26px;
          color: $brand-color;
        }
        &__sm {
          display: block;
          font-size: 14px;
          color: $dark-grey-color-shade;
        }
      }
    }

    .contact-info {
      @include margin(0, 0, 20px, 0);
      @include padding(0, 0, 20px, 0);
      border-bottom: 1px dashed $dark-grey-color-shade;
      i {
        color: $brand-color;
        @include margin(0, 10px, 0, 0);
      }
    }

    .currency {
      display: flex;
      @include margin(0, 0, 20px, 0);
      &__text {
        color: $dark-grey-color-shade;
        font-size: 23px;
      }
    }

    #timer {
      @include margin(0, 0, 20px, 0);
      @include padding(0, 0, 20px, 0);
      border-bottom: 1px dashed $dark-grey-color-shade;
      .timer__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include margin(0, 0, 20px, 0);

        span {
          display: block;
          font-size: 14px;
          font-family: $font-primary-en;
        }
      }
      .timer__text {
        color: $dark-grey-color-shade;
        font-size: 30px;
        text-align: center;
        font-family: $font-secondary-en;
      }

      p {
        text-align: center;
        font-size: 14px;
      }
    }

    .share-listing {
      h4 {
        color: $brand-color;
        font-size: 16px;
        @include margin(0, 0, 15px, 0);
        text-transform: capitalize;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          @include margin(0, 10px, 0, 0);
          a {
            height: 35px;
            width: 35px;
            text-align: center;
            line-height: 32px;
            border: 1px solid $dark-grey-color-shade;
            color: $dark-grey-color-shade;
            @include border-radius(50%);
            display: block;

            &:hover {
              background: $dark-grey-color-shade;
              color: $white-color;
            }
          }
          &:last-child {
            @include margin(0, 0, 0, 0);
          }
        }
      }
    }
  }
}

.property-detail {
  .nav-tabs {
    border: 1px solid $brand-color;
    @include margin(0, 0, 40px, 0);
    @include border-radius(50px);
    overflow: hidden;

    .nav-item {
      width: 25%;
      border-right: 1px solid $brand-color;
      @include margin(0, 0, 0, 0);

      @include breakpoint(sm) {
        width: 50%;
        border-bottom: 1px solid $brand-color;

        &:nth-of-type(3n) {
          border-bottom: 0;
        }

        &:nth-of-type(4n) {
          border-bottom: 0;
        }
      }

      &:last-child {
        border-right: 0;
      }
    }
    .nav-link {
      font-size: 16px;
      color: $dark-grey-color-shade;
      letter-spacing: 1px;
      text-align: center;
      @include padding(15px, 0, 15px, 0);
      border: 0;

      @include breakpoint(sm) {
        font-size: 13px;
        letter-spacing: 0;
      }

      &:hover {
        background: $light-blue-color;
        border: 0;
      }
      &.active {
        background: $light-blue-color;
        color: $brand-color;
        border: 0;
      }
    }
  }

  .tab-content {
    p {
      font-size: 18px;
      color: $dark-grey-color-shade;
      @include margin(0, 0, 25px, 0);
    }

    .detail-content {
      background: $white-color;
      @include border-radius(5px);
      box-shadow: 0 1px 4px 0 rgba($black-color, 0.1);

      ul {
        display: flex;
        flex-wrap: wrap;

        @include breakpoint(sm) {
          flex-direction: column;
        }

        li {
          font-size: 16px;
          width: 50%;
          @include margin(0, 0, 0, 0);
          @include padding(20px, 30px, 20px, 30px);
          border-bottom: 1px solid #f0f0f0;
          border-right: 1px solid #f0f0f0;

          @include breakpoint(sm) {
            width: 100%;
          }

         
          
        }
      }
    }

    .features-content {
      background: $white-color;
      @include border-radius(5px);
      box-shadow: 0 1px 4px 0 rgba($black-color, 0.1);
      

      ul {
        display: flex;
        flex-wrap: wrap;

        @include breakpoint(sm) {
          flex-direction: column;
        }

        li {
          font-size: 16px;
          width: 33.3333333%;
          @include margin(0, 0, 0, 0);
          @include padding(25px, 30px, 25px, 75px);
          border-bottom: 1px solid #f0f0f0;
          border-right: 1px solid #f0f0f0;
         /*  @include padding(0, 0, 0, 55px); */
         
          position: relative;

          @include breakpoint(sm) {
            width: 100%;
          }

          &:before {
            font-family: FontAwesome;
            content: "\f00c";
            position: absolute;
            left:22px;
            font-size: 14px;
            top: 14px;
            border-radius: 50%;
            height: 40px;
            line-height: 40px;
            width: 40px;
            text-align: center;
            border: 1px solid $light-grey-color;
            color: $brand-color;
          }
        }
      }
    }

    .document-content {
      .card {
        @include padding(25px, 25px, 25px, 25px);
        @include margin(0, 0, 25px, 0);
        @include border-radius(0);
        @include transition(all 0.5s ease);
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;

        @include breakpoint(sm) {
          @include margin(0, 0, 25px, 0);
        }
        @include breakpoint(md) {
          @include margin(0, 0, 25px, 0);
        }

        &__figure-holder {
          width: 30%;
        }
        &__caption {
          width: 70%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          @include padding(0, 0, 0, 10px);
        }
        &__doc-name {
          font-size: 18px;
          font-weight: bold;
          display: block;
          color: $dark-grey-color-shade;
          @include margin(0, 0, 10px, 0);
        }
        &__file-size {
          font-size: 18px;
          color: $dark-grey-color-shade;
          display: block;
        }

        &:hover {
          background: $brand-color;
          .card__doc-name {
            color: $white-color;
          }
          .card__file-size {
            color: $white-color;
          }
        }
      }
    }
  }
}

.nearby-amenities {
  .left {
    @include padding(30px, 30px, 30px, 30px);
    min-height: 650px;

    h2 {
      @include margin(0, 0, 50px, 0);
    }

    table {
      @include margin(0, 0, 0, 30px);
      td {
        border: 0;
        font-size: 14px;
        padding: 0;
      }
    }

    /* accordion  */
    #amenities-accordion {
      .card {
        border: 0 !important;
        @include margin(0, 0, 40px, 0);
        background: none !important;
      }
      .card-header {
        background: none !important;
        border-bottom: 0;
        @include padding(0, 0, 0, 0);

        h5 {
          font-size: 18px;
          color: $dark-grey-color-shade;
          @include padding(0, 0, 0, 55px);
          position: relative;
          cursor: pointer;

          &:before {
            font-family: FontAwesome;
            content: "\f106";
            position: absolute;
            left: 0;
            font-size: 18px;
            top: -10px;
            border-radius: 50%;
            height: 36px;
            line-height: 36px;
            width: 36px;
            text-align: center;

            border: 1px solid $brand-color;
            color: $brand-color;
            @include transition(all 0.5s ease);
          }
          &.collapsed {
            &:before {
              content: "\f107";
            }
          }
          &:hover {
            text-decoration: none;
            color: $brand-color;
            &:before {
              background: $brand-color;
              color: $white-color;
            }
          }
          &:focus {
            text-decoration: none;
          }
        }
      }
      .card-body {
        font-size: 18px;
        @include padding(20px, 0, 0, 55px);
        color: $dark-grey-color-shade;
      }
    }
  }
  .right {
    height: 650px;
    overflow: hidden;
  }
}

.floor-plans {
  h2 {
    @include breakpoint(sm) {
      @include margin(0, 0, 20px, 0);
    }
  }

  .nav-tabs {
    border: 0;
    @include margin(0, 0, 40px, 0);

    .nav-item {
      @include margin(0, 10px, 0, 0);

      @include breakpoint(sm) {
        @include margin(0, 10px, 10px, 0);
      }
    }
    .nav-link {
      font-size: 16px;
      @include border-radius(50px);
      color: $dark-grey-color-shade;
      border: 2px solid $brand-color;
      letter-spacing: 1px;
      text-align: center;
      @include padding(15px, 30px, 15px, 30px);

      @include breakpoint(sm) {
        font-size: 13px;
        letter-spacing: 0;
      }

      &:hover {
        background: $brand-color;
        color: $white-color;
      }
      &.active {
        background: $brand-color;
        color: $white-color;
      }
    }
  }
  .tab-content {
    p {
      font-size: 18px;
      color: $dark-grey-color-shade;
      @include margin(0, 0, 25px, 0);
    }
    figure {
      margin: auto;
      text-align: center;
    }
  }
}

.property-reviews {
  .reviews-top {
    border-bottom: 1px dashed $light-grey-color;
    @include margin(0, 0, 40px, 0);
    @include padding(0, 0, 40px, 0);

    .thumb {
      height: 80px;
      figure {
        @include border-radius(50%);
        width: 80px;
        height: 80px;
        img {
          @include border-radius(50%);
          width: 80px;
          height: 80px;
        }
      }
    }

    .write-reviews-cont {
      textarea {
        @include margin(0, 0, 0, 0);
        @include padding(20px, 0, 0, 20px);
        height: 250px;
        font-size: 18px;
        resize: none;
      }
      .sweep-btn-center {
        margin-left: auto;
      }
    }
  }

  .user-thumb {
    display: flex;
    align-items: center;
    height: 80px;
    @include margin(0, 0, 40px, 0);

    @include breakpoint(sm) {
      flex-direction: column;
      height: auto;
      justify-content: center;
    }

    figure {
      @include border-radius(50%);
      width: 80px;
      height: 80px;
      @include margin(0, 20px, 0, 0);

      @include breakpoint(sm) {
        @include margin(0, 0, 15px, 0);
      }

      img {
        @include border-radius(50%);
        width: 80px;
        height: 80px;
      }
    }
    .name {
      &__lg {
        font-size: 26px;
        color: $brand-color;
        font-family: $font-secondary-en;
      }
      &__sm {
        display: block;
        font-size: 12px;
        color: $dark-grey-color-shade;
        display: block;
        @include margin(0, 0, 10px, 0);
      }
    }
    p {
      font-size: 14px;
      color: $dark-grey-color-shade;
    }
  }
}

.property-header {
  background: $dark-grey-color;
  @include padding(80px, 0, 80px, 0);
  @include margin(0, 0, 0, 0);
  color: $white-color;

  @include breakpoint(sm) {
    @include padding(40px, 0, 40px, 0);
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(sm) {
      flex-direction: column;
      align-items: flex-start;
    }

    .logo {
      background: url(../images/cata-white-logo@3x.png) no-repeat;
      width: 178px;
      display: inline-block;
      background-size: 178px 55px;
      @include margin(0, 0, 0, 0);

      @include breakpoint(sm) {
        @include margin(0, 0, 50px, 0);
      }

      span {
        color: $white-color;
        @include margin(70px, 0, 0, 0);
        display: block;
        font-family: $font-secondary-en;
        text-align: center;
      }
    }
    .links {
      .hello-text {
        display: block;
        @include margin(0, 0, 30px, 0);
        font-size: 18px;
      }
    }
  }
}

.bids-placed-table {
  thead {
    th {
      border-bottom: 1px solid #e9ecef !important;
    }
  }
  td {
    border-top: 0;
    @include padding(10px, 15px, 0, 15px);
  }
}

.property-table {
  h2 {
    @include margin(0, 0, 50px, 0);
  }

  table {
    thead {
      text-transform: uppercase;
      font-size: 14px;
      th {
        border: 0;
      }
    }
    .action-button {
      display: block;
      height: 35px;
      width: 35px;
      text-align: center;
      line-height: 31px;
      color: $brand-color;
      border: 1px solid $brand-color;
      @include border-radius(50%);
      float: left;
      @include margin(0, 5px, 5px, 0);

      &:hover {
        background: $brand-color;
        color: $white-color;
      }
    }
  }
}
.bids-history {
  .edit-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include margin(0, 0, 20px, 0);
    .sweep-btn-yellow {
      @include margin(0, 0, 0, 10px);
    }
    .sliding-underline-link {
      @include margin(0, 10px, 0, 0);
    }
  }
  .bids-history-table {
    background: none;
    td {
      border-top: 1px solid #e9ecef;
    }
  }
}

.change-password-cont {
  @include margin(78px, 0, 0, 0);
}

/*---------signup-step-------------*/

.wizard {
  position: relative;
  @include margin(0, 0, 40px, 0);

  &:before {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 75%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 15px;
    z-index: 1;
    content: "";
  }

  .wizard-inner {
    position: relative;
    z-index: 2;
    @include margin(0, 0, 30px, 0);
  }
  .round-tab {
    display: inline-block;
    font-size: 16px;
    @include padding(5px, 10px, 5px, 10px);
  }

  .nav-tabs {
    position: relative;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    @include border-radius(5px);
    background: $white-color;
    box-shadow: 0 1px 5px 0 rgba($black-color, 0.1);
    border: 1px solid #f0f0f0;

    li {
      width: 33.333333%;
      text-align: center;
      position: relative;
      @include transition(all 0.5s ease);
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:before {
        width: 2px;
        background: #f0f0f0;
        content: "";
        position: absolute;
        right: 0;
        height: 24px;
        top: -2px;
        @include transform(rotate(-30deg));
      }
      &:after {
        width: 2px;
        background: #f0f0f0;
        content: "";
        position: absolute;
        right: 0;
        height: 24px;
        bottom: -2px;
        @include transform(rotate(30deg));
      }

      &:last-child {
        &:before {
          background: none;
          height: 0;
        }
        &:after {
          background: none;
          height: 0;
        }
      }

      a {
        color: #ddd;
      }
    }
  }

  .sweep-btn-white {
    @include padding(8px, 15px, 8px, 15px);
  }
  .sweep-btn-black {
    @include padding(8px, 15px, 8px, 15px);
  }
  .sweep-btn-yellow {
    @include padding(8px, 15px, 8px, 15px);
  }
  .sweep-btn-center {
    @include padding(8px, 15px, 8px, 15px);
  }
  h4 {
    color: $brand-color;
    font-size: 18px;
    @include margin(0, 0, 15px, 0);
  }

  .offer-amount-cont {
    @include margin(0, 0, 0, 0);
    .input-group {
      @include margin(0, 0, 25px, 0);

      .form-control {
        font-size: 16px;
      }
      .sweep-btn-center {
        @include border-radius(0 4px 4px 0);
        @include padding(13px, 25px, 13px, 25px);
      }
    }

    .sweep-btn-yellow {
      @include padding(11px, 0, 11px, 0);
      letter-spacing: 0px;
    }
  }

  .list-inline li {
    display: inline-block;
    @include margin(30px, 0, 0, 0);
  }
  .pull-right {
    float: right;
  }

  li.active span.round-tab {
    color: $brand-color;
    font-family:$font-secondary-en;
  }

  .tab-pane {
    position: relative;
  }
}




.stepwizard-step p {
  margin-top: 10px;
}

.stepwizard-row {
  display: table-row;
}

.stepwizard {
  display: table;
  width: 100%;
  position: relative;
}

.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;

}

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.btn-circle {
width: 30px;
height: 30px;
text-align: center;
padding: 6px 0;
font-size: 12px;
line-height: 1.428571429;
border-radius: 15px;
}