.tarrif-products{
  .tarrif-item {
    text-align: center;
    @include margin(0, 0, 30px, 0);
    background: $white-color;
    @include border-radius(5px);
    @include transition(all 0.5s ease);
    @include card-shadow;
    display: block;
    @include padding(40px, 0, 40px, 0);

    &__title {
      @include margin(0, 0, 0, 0);
      font-size: 25px;
      color: $black-color;
      font-family: $font-secondary-en;
      text-transform: capitalize;
    }
 
    &__icon {
      display: block;
      background: url(../images/tariff-icons-sprite.png) no-repeat;
      margin: 0 auto 30px;
      background-size: 432px 120px;
      @include transition(all 0.5s ease);

      @include breakpoint(sm) {
        margin: 0 auto 20px;
      }
    }
    &--icon-01 {
      width: 92px;
      height: 96px;
      background-position: -14px -14px;
    }
    &--icon-02 {
      width: 91px;
      height: 96px;
      background-position: -123px -14px;
    }
    &--icon-03 {
      width: 92px;
      height: 95px;
      background-position: -229px -14px;
    }
    &--icon-04 {
      width: 90px;
      height: 91px;
      background-position: -325px -14px;
    }


    &:hover{
      @include card-hover-shadow;
      @include transform(translateY(-5px));
    }
  }

}