.teaser-hero-wrap {
  position: relative;
  overflow: hidden;
  min-height: 630px;

  @include breakpoint(md) {
    min-height: auto;
  }
  @include breakpoint(sm) {
    @include margin(73px, 0, 0, 0);
    .desktop-img {
      display: none;
    }
  }
  .mobile-img {
    display: none;
    @include breakpoint(sm) {
      display: block;
    }
  }

  &:before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background: rgba($black-color, 0.7);
    left: 0;
    top: 0;
  }

  .caption {
    position: absolute;
    left: 50%;
    top: 300px;
    width: 50%;
    text-align: center;
    @include transform(translateX(-50%));

    @include breakpoint(sm) {
      width: 100%;
    }
    @include breakpoint(md) {
      width: 100%;
      top: 100px;
    }

    &__title {
      color: $white-color;
      font-size: 122px;
      text-transform: uppercase;
      @include margin(0, 0, 70px, 0);
      line-height: 100px;

      @include breakpoint(sm) {
        font-size: 55px;
        line-height: 40px;
      }
      @include breakpoint(md) {
        font-size: 90px;
        line-height: 40px;
      }
    }
    &__number-text {
      background: rgba($white-color, 0.2);
      @include border-radius(10px);
      @include padding(5px, 15px, 5px, 15px);
      font-family: $font-secondary-en;
    }
    &__days-text {
      background: rgba($white-color, 0.2);
      @include border-radius(10px);
      @include padding(5px, 15px, 5px, 15px);
      font-family: $font-secondary-en;
    }

    &__text {
      color: $white-color;
      font-size: 34px;
      @include margin(0, 0, 20px, 0);
    }

    &__sub-title {
      color: $white-color;
      font-size: 42px;

      @include breakpoint(sm) {
        font-size: 25px;
      }
    }

    .owl-prev {
      position: absolute;
      left: 0;
      top: -20px;
      background: none !important;
      opacity: 0;
      animation: fadeInLeft 0.8s ease forwards;
      animation-delay: 0.5s;
      font-size: 0;

      &:before {
        font-family: FontAwesome;
        content: "\f104";
        position: absolute;
        left: 40px;
        font-size: 50px;
        color: $white-color;
        @include transition(all 0.5s ease);
      }
      &:hover {
        &:before {
          color: $brand-color;
        }
      }
    }

    .owl-next {
      position: absolute;
      background: none !important;
      right: 0;
      top: -20px;
      opacity: 0;
      animation: fadeInRight 0.8s ease forwards;
      animation-delay: 0.5s;
      font-size: 0;

      &:before {
        font-family: FontAwesome;
        content: "\f105";
        position: absolute;
        right: 40px;
        font-size: 50px;
        color: $white-color;
        @include transition(all 0.5s ease);
      }

      &:hover {
        &:before {
          color: $brand-color;
        }
      }
    }
  }
}

/* faqs */
.faqs {
  background: #f5f5f5;
  @include padding(80px, 0, 0, 0);

  .main-title {
    position: relative;
    text-align: center;
    color: $black-color;
    @include margin(0, 0, 80px, 0);
    font-family: $font-secondary-en;

    &:before {
      content: "";
      position: absolute;
      background: $black-color;
      width: 64px;
      height: 8px;
      top: 60px;
      left: 50%;
      @include border-radius(20px);
      @include transform(translateX(-50%));
    }
  }

  .faq-item {
    text-align: center;

    @include margin(0, 0, 80px, 0);

    &__title {
      @include margin(0, 0, 40px, 0);
      font-size: 22px;
      color: $black-color;
      font-family: $font-secondary-en;
    }
    &__content {
      font-size: 15px;
      color: $dark-grey-color-shade;
    }

    &__icon {
      display: block;
      background: url(../images/teaser-icons-sprite.png) no-repeat;
      margin: 0 auto 30px;
      background-size: 820px 120px;
      @include transition(all 0.5s ease);

      @include breakpoint(sm) {
        margin: 0 auto 20px;
      }
    }
    &--icon-01 {
      width: 92px;
      height: 96px;
      background-position: -14px -14px;
    }
    &--icon-02 {
      width: 91px;
      height: 96px;
      background-position: -123px -14px;
    }
    &--icon-03 {
      width: 92px;
      height: 95px;
      background-position: -229px -14px;
    }
    &--icon-04 {
      width: 90px;
      height: 91px;
      background-position: -333px -14px;
    }
    &--icon-05 {
      width: 90px;
      height: 91px;
      background-position: -424px -14px;
    }
    &--icon-06 {
      width: 90px;
      height: 91px;
      background-position: -527px -14px;
    }
    &--icon-07 {
      width: 90px;
      height: 91px;
      background-position: -627px -14px;
    }
  }
}

/* newsletter */
.newsletter {
  .newsletter-holder {
    color: $black-color;
    text-align: center;

    &__title {
      font-size: 45px;
      color: $black-color;
      @include margin(0, 0, 30px, 0);
      font-family: $font-secondary-en;
    }
    &__sub-title {
      font-size: 20px;
      @include margin(0, 0, 30px, 0);
    }
    .form-control {
      border: 1px solid $black-color;
      height: 60px;
      font-size: 20px;
      @include padding(0, 0, 0, 30px);
      color: $black-color;
      @include margin(0, 0, 30px, 0);

      &:focus {
        box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.2);
      }
    }
    .sweep-btn-black {
      @include padding(10px, 80px, 10px, 80px);
    }
  }
}

.teaser-footer {
  background: #f5f5f5;
}
