.video-catalogue-title-wrap {
  @include margin(80px, 0, 0, 0);
  overflow: hidden;
  position: relative;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);


  @include breakpoint(sm) {
    @include margin(0, 0, 0, 0);
    .desktop-img {
      display: none;
    }
  }
  .mobile-img {
    display: none;
    @include breakpoint(sm) {
      display: block;
    }
  }

  &__caption {
    position: absolute;
    top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    @include padding(0, 150px, 0, 150px);

    @include breakpoint(sm) {
      @include padding(0, 30px, 0, 30px);
      top: 20px;
    }
    @include breakpoint(md) {
      @include padding(0, 30px, 0, 30px);
      top: 73px;
    }
  }

  &__title {
    color: $brand-color;
    font-size: 40px;
    font-family: $font-secondary-en;
    @include margin(0, 0, 40px, 0);

    @include breakpoint(sm) {
      font-size: 25px;
      @include margin(0, 0, 20px, 0);
    }

    @include breakpoint(md) {
      font-size: 30px;
      @include margin(0, 0, 20px, 0);
    }
  }

  &__content {
    color: $dark-grey-color;
    font-size: 18px;

    @include breakpoint(sm) {
      font-size: 14px;
    }
  }
}


.video-catalogue-wrap {
  .card {
    @include padding(30px, 30px, 30px, 30px);
    @include margin(0, 0, 30px, 0);
    @include transition(all 0.5s ease);
    @include my-shadow();
    @include border-radius(5px);

    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
      @include padding(30px, 30px, 30px, 30px);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 30px, 0);
      @include padding(30px, 30px, 30px, 30px);
    }

    &__figure-holder {
      @include margin(0, 0, 20px, 0);

      overflow: hidden;
      img {
        @include transform(scale(1));
        width: 100%;
      }
    }
    &__date {
      @include margin(0, 0, 0, 0);
      color: $dark-grey-color;
      font-size: 14px;
      display: block;
      text-transform: uppercase;
    }
    &__date{
      @include margin(0, 0, 0, 0);
      color: $dark-grey-color;
      font-size: 14px;
      display: block;
      text-transform: uppercase;
    }
    &__title {
      @include margin(0, 0, 20px, 0);
      color: $brand-color;
      font-size: 22px;
      display: block;
      line-height: 1.25;
      height: 150px;

      @include breakpoint(sm) {
        font-size: 25px;
      }
      @include breakpoint(md) {
        font-size: 25px;
      }
    }

    &:hover {
      @include card-hover-shadow;
      @include border-radius(5px);
      @include transform(translateY(-5px));

      @include breakpoint(sm) {
        box-shadow: none;
      }
      @include breakpoint(md) {
        box-shadow: none;
      }

      img {
        @include transform(scale(1.1));
      }
      .card__title {
        color: $dark-grey-color;
      }
    }
  }

  .live-now-wrap{
    .offline{
      font-size:25px;
      text-transform: uppercase;
      text-transform: uppercase;
      font-family: $font-secondary-en;
      @include margin(0, 0, 30px, 0);
      color: #cdcdcd;
    }
    .online{
      color: #e52d27;
      font-size:25px;
      text-transform: uppercase;
      font-family: $font-secondary-en;
      @include margin(0, 0, 30px, 0);
      display: flex;
      align-items: center;
      img{
        @include margin(0, 0, 0, 15px); 
      }
    }
    .offline-card {
      @include my-shadow();
      @include border-radius(5px);
      background: $brand-color;
      @include padding(30px, 30px, 50px, 30px);
      @include margin(0, 0, 30px, 0);
      height: 550px;
      display: flex;
      align-items: flex-end;
      p{
        font-size:40px;
        color: $white-color;
      }
    }
    .live-now-card{
      @include my-shadow();
      @include border-radius(5px);
      background: $brand-color;
      @include padding(20px, 20px, 20px, 20px);
      @include margin(0, 0, 30px, 0);
      height: 550px;
      figure{
        @include margin(0, 0, 30px, 0);
      }

      &__figure-holder {
        @include margin(0, 0, 0, 0);
        overflow: hidden;
        max-height: 420px;
        position: relative;
        @include border-radius(5px);
    
        @include breakpoint(sm) {
          @include margin(0, 0, 30px, 0);
        }
        @include breakpoint(md) {
          @include margin(0, 0, 30px, 0);
        }
    
        img {
          width: 100%;
          @include transform(scale(1));
        }
    
        &:hover {
          img {
            @include transform(scale(1.1));
          }
          .live-now-card__play-icon {
            opacity: 10;
          }
        }
      }
      &__play-icon {
        position: absolute;
        width: 118px;
        height: 118px;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        
        i {
          color: $white-color;
          font-size: 135px;
        }
      }


      figcaption{
        a{
          font-size:30px;
          font-family: $font-secondary-en;
          @include margin(0, 0, 10px, 0);
          display: inline-block;
          color: $white-color;
          &:hover{
            color: $dark-grey-color;
          }
        }
        span{
          color: $white-color;
          font-size:16px;
          display:block;
        }
        
      }
    }
  }
  

  .relevant-links{
    background: $white-color;
    @include padding(25px, 25px, 25px, 25px);
    @include margin(60px, 0, 30px, 0);
    @include my-shadow();
    @include border-radius(5px);
    min-height: 291px;

    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
    }

    .owl-nav {
      position: absolute;
      top: -80px;
      right: 0;
    
      .owl-prev {
        position: absolute;
        left: -40px;
        font-size: 0;
        background: none !important;
  
        &:before {
          font-family: FontAwesome;
          content: "\f104";
          position: absolute;
          left: 0;
          font-size: 18px;
          top: -10px;
          border-radius: 50%;
          color: $brand-color;
          @include transition(all 0.5s ease);
        }
        &:hover {
          &:before {
            color: $dark-grey-color;
          }
        }
      }
      .owl-next {
        position: absolute;
        background: none !important;
        right: 0;
        font-size: 0;
  
        &:before {
          font-family: FontAwesome;
          content: "\f105";
          position: absolute;
          right: 0;
          font-size: 18px;
          top: -10px;
          color: $brand-color;
          @include transition(all 0.5s ease);
        }
  
        &:hover {
          &:before {
            color: $dark-grey-color;
          }
        }
      }
    }

    .title-head{
      border-bottom: 1px solid $light-grey-color;
      @include padding(0, 0, 20px, 0);
      @include margin(0, 0, 30px, 0);
      display: flex;
      h2{
        color: $brand-color;
        font-size:20px; 
        font-family: $font-secondary-en;
      }
    }

    .item{
      .list-group{
        .list-item{
          @include margin(0, 0, 25px, 0);
          h3{
            color: $brand-color;
            font-size:18px;
            @include margin(0, 0, 5px, 0);
          }
          .arrow__link{
            font-size:14px;
            color: $light-grey-color;
            &:before{
              top: 13px;
            }
            &:after{
              font-size: 13px;
            }
          }
          &:last-child{
            @include margin(0, 0, 0, 0);
          }
        }
      }
    }
  }
  .most-viewed-videos{
    .most-viewed-videos-item{
      @include margin(0, 0, 30px, 0);
      figure{
        @include margin(0, 0, 10px, 0);
        height: 120px;
        overflow: hidden;
      }
      .title{
        color:$brand-color;
        font-size: 12px;
        display: inline-block;
        @include margin(0, 0, 10px, 0);
      }
      .views{
        color: $light-grey-color;
        font-size: 16px;
      }

    }

  }
}
